@layer mt.design {
	.breadcrumbs {
		composes: ds-breadcrumbs from "@digdir/designsystemet-css";

		& > :is(ol, ul) > li {
			align-items: center;
			display: flex;
			max-width: 100%;

			> * {
				min-width: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
