@layer mt.design {
	.breadcrumbs {
		composes: ds-breadcrumbs from "@digdir/designsystemet-css";

		& > :is(ol, ul) {
			row-gap: calc(var(--ds-size-1) / 2);
		}

		& > :is(ol, ul) > li:where(:not([hidden])) {
			align-items: center;
			display: flex;
			max-width: 100%;
		}
		& > :is(ol, ul) > li > * {
			min-width: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
