@layer mt.design {
	.tag {
		composes: ds-tag from "@digdir/designsystemet-css";
		--mtdsc-tag-border-color: var(--ds-color-border-subtle);
		--mtdsc-tag-border-radius: var(--ds-border-radius-md);
		--mtdsc-tag-border-solid: solid;
		--mtdsc-tag-border-width: var(--ds-border-width-default);
		--mtdsc-tag-gap: var(--ds-size-1);
		--mtdsc-tag-min-height: var(--ds-size-7);

		border-radius: var(--mtdsc-tag-border-radius);
		font-size: var(--ds-body-sm-font-size);
		font-weight: normal; /* TODO Digdir: Ensure no inheritance of font-weight */
		flex-shrink: 0; /* TODO Digdir: if placed in display: flex */
		font-variant-numeric: tabular-nums; /* Numeric numbers in tags is nice */
		gap: var(--mtdsc-tag-gap);
	}

	/**
	 * Icon
	 */
	.tag > svg {
		flex-shrink: 0; /* TODO Digdir: Never shrkink icon */
	}
	.tag:not([data-icon="none"], [data-icon="false"], :has(svg))::before {
		background: currentcolor;
		content: "";
		flex-shrink: 0;
		height: 1em;
		width: 1em;
		mask:
			center / contain no-repeat
			var(--dsc-tag-icon-url, var(--mtds-icon-success)) content-box;
	}
	.tag[data-color="info"] {
		--dsc-tag-icon-url: var(--mtds-icon-info);
	}
	.tag[data-color="warning"] {
		--dsc-tag-icon-url: var(--mtds-icon-warning);
	}
	.tag[data-color="danger"] {
		--dsc-tag-icon-url: var(--mtds-icon-danger);
	}
}
