@layer mt.design {
	.tag {
		composes: ds-tag from "@digdir/designsystemet-css";

		border-radius: 5px;
		border: 1px solid var(--ds-color-border-subtle);
		font-variant-numeric: tabular-nums;
		gap: var(--ds-size-1);
		flex-shrink: 0; /* If placed in display: flex */

		/**
		 * Icon
		 */
		& > svg {
			flex-shrink: 0; /* Never shrkink icon */
		}
		&:not([data-icon], :has(svg))::before {
			background: currentcolor;
			content: "";
			display: var(--dsc-tag-icon-url, none); /* Hide if no --dsc-tag-icon-url is set */
			flex-shrink: 0;
			height: var(--mtds-icon-size);
			mask: center / contain no-repeat var(--dsc-tag-icon-url) content-box;
			width: var(--mtds-icon-size);
		}
	}
}
