@layer mt.design {
	.tag {
		composes: ds-tag from "@digdir/designsystemet-css";
		align-self: center; /* If placed inside .flex */
		gap: var(--ds-size-1);

		/**
		 * Colors
		 */

		&[data-color="info"] {
			--dsc-tag-background: var(--mt-bakgrunns-blaa);
			--dsc-tag-color: var(--mt-fjord);
		}
		&[data-color="success"] {
			--dsc-tag-background: #d3e8e0;
			--dsc-tag-color: var(--mt-granskog);
		}
		&[data-color="warning"] {
			--dsc-tag-background: var(--mt-bakgrunns-gul);
			--dsc-tag-color: var(--mt-info-gul);
		}
		&[data-color="danger"] {
			--dsc-tag-background: var(--mt-bakgrunns-rosa);
			--dsc-tag-color: var(--mt-info-rod);
		}

		/**
		 * Tooltip
		 */
		position: relative;
		&[data-tooltip]::after {
			background: color-mix(in hsl, transparent 10%, var(--mt-mork-granskog));
			border-radius: var(--ds-border-radius-md);
			color: var(--ds-color-accent-contrast-default);
			content: attr(data-tooltip);
			font-size: .9375rem;
			font-weight: 500;
			left: 50%;
			line-height: var(--ds-line-height-sm);
			max-width: 18em;
			opacity: 0;
			padding: var(--ds-size-1) var(--ds-size-2);
			pointer-events: none;
			position: absolute;
			top: 100%;
			transition: .15s;
			translate: -50%;
			visibility: hidden;
			width: max-content;
		}
		&[data-tooltip]:focus-visible::after,
		&[data-tooltip]:hover::after {
			opacity: 1;
			translate: -50% 2px;
			visibility: visible;
		}
	}
}
