@layer mt.design {
	.table {
		composes: ds-table from "@digdir/designsystemet-css";

		--dsc-table-background: transparent;
		--dsc-table-border-color: var(--ds-color-border-subtle);
		--dsc-table-border-radius: var(--ds-border-radius-md);
		--dsc-table-color: inherit;
		--dsc-table-divider-border-color: var(--ds-color-border-strong);
		--dsc-table-divider-border-width: var(--ds-border-width-default);
		--dsc-table-header-background--hover: transparent;
		--dsc-table-header-background--sorted: transparent;
		--dsc-table-header-background: transparent;
		--mtdsc-table-divided: 50; /* Need to be unitless */

		background: var(--dsc-table-background);
		vertical-align: top;
	}

	.table[data-fixed] {
		table-layout: fixed;
	}
	.table > :is(thead, tbody, tfoot) {
		vertical-align: inherit;
		--dsc-table-border-radius: calc(
			var(--ds-border-radius-md) -
			var(--dsc-table-border-width)
		); /* TODO: Report to DigiDir: Fix to align background inside border */
	}
	.table[data-align="center"] {
		vertical-align: middle;
	}
	.table th {
		font-weight: 500;
	}

	/**
	 * Numeric
	 */
	.table :where([data-numeric]:not([data-numeric="false"])):where(td, th) {
		font-variant-numeric: tabular-nums;
		white-space: nowrap;
	}

	/**
	 * Nowrap
	 */
	.table[data-nowrap],
	.table [data-nowrap]:is(th, td, tr, thead, tfoot, tbody) {
		white-space: nowrap;
	}

	/**
	 * Table border and heading fix
	 */
	.table:not([data-border]) > thead > tr:last-child > :is(td, th) {
		border-bottom-color: var(--dsc-table-divider-border-color);
		vertical-align: bottom;
	}
	.table[data-border]:not([data-border="false"]) {
		--dsc-table-background: var(--ds-color-surface-default);

		& > thead > tr > :is(th, td) {
			--dsc-table-header-background: var(--ds-color-surface-tinted);
		}
		& > tbody > tr > :not(:last-child) {
			border-right: var(--dsc-table-border-width) var(--dsc-table-border-style)
				var(--dsc-table-border-color);
		}
	}
	.table[data-border="false"] {
		--dsc-table-border-color: transparent;
		--dsc-table-padding: var(--mtds-1) 0;
	}

	/* Remove padding when no line */
	.table:not([data-border]) > * > tr > :first-child {
		padding-left: 0;
	}
	.table:not([data-border]) > * > tr > :last-child {
		padding-right: 0;
	}

	/**
	 * Sortable
	 */
	.table > thead > tr > th > button[aria-sort]::after {
		flex-shrink: 0; /* TODO: Report to DigiDir */
	}

	/**
	 * Expandable
	 */
	.table > tbody > tr:has(> :is(td, th) > button[aria-expanded]) {
		transition: 0.2s;

		&:has(button[aria-expanded="false"]) + tr > td[colspan]:only-child {
			display: none;
		}

		@media (prefers-reduced-motion: no-preference) {
			interpolate-size: allow-keywords;

			&::part(details-content) {
				block-size: 0;
				overflow-y: clip;
				transition:
					content-visibility 400ms allow-discrete,
					height 400ms;
			}

			&[open]::part(details-content) {
				height: auto;
			}
		}

		& > :is(td, th) > button[aria-expanded] {
			all: unset;
			box-sizing: border-box;
			cursor: pointer;
			border-radius: var(--ds-border-radius-sm);
			width: 100%;

			&:focus-visible {
				box-shadow: var(--dsc-focus-boxShadow);
				outline: var(--dsc-focus-outline);
				outline-offset: var(--ds-border-width-focus);
			}

			&::before {
				background: currentcolor;
				content: "";
				display: inline-block;
				height: 1em;
				margin-inline-end: var(--ds-size-2);
				mask: center / contain no-repeat var(--mtds-icon-chevron);
				transition: rotate 0.2s;
				vertical-align: -0.2em;
				width: 1em;
			}

			&[aria-expanded="true"]::before {
				rotate: -180deg;
			}
		}
	}
	.table
		> tbody
		> tr:has(> :is(td, th) > button[aria-expanded="true"])
		> :is(td, th) {
		border-bottom: 0;
	}

	/**
	 * Checkable
	 */
	.table > :is(thead, tbody, tfoot) > tr > :is(td, th) label {
		font-weight: inherit;
	}

	/**
	 * Scrollable
	 */
	figure > .table {
		width: auto;
		min-width: 100%;
	}
	figure:has(> .table) {
		animation: _scrollShadow linear;
		animation-timeline: scroll(self inline);
		margin-inline: 0;
		overflow: auto;
		overscroll-behavior-x: contain; /* Prevent browser back/forward history on end of scroll */
		position: relative; /* Ensure also inner position: absolute elements are scrolled */
	}
	@keyframes _scrollShadow {
		from {
			box-shadow: inset -0.5rem 0 0.5rem -0.5rem rgb(0 0 0 / 0.4);
		}
		to {
			box-shadow: inset 0.5rem 0 0.5rem -0.5rem rgb(0 0 0 / 0.4);
		}
	}

	/**
	 * Mobile versions (up to 768px)
	 */
	@media (max-width: 48em) {
		.table[data-mobile],
		.table[data-mobile] > tbody,
		.table[data-mobile] > tbody > tr,
		.table[data-mobile] > tbody > tr > :where(th, td) {
			border: 0;
			display: block;
			font-weight: normal;
			padding-inline: 0;
			text-align: inherit; /* Undo data-numeric alignment */
		}

		/* Hide <thead> and <tfoot> */
		.table[data-mobile] > :not(tbody) {
			display: none;
		}

		/* Add border outside "table" */
		.table[data-mobile] {
			border-block: var(--dsc-table-divider-border-width)
				var(--dsc-table-divider-border-style);
		}

		/* Add border between "rows" */
		.table[data-mobile] > tbody > tr > * + * {
			border-top: var(--dsc-table-border-width) var(--dsc-table-border-style)
				var(--dsc-table-border-color);
		}

		/* Add border between "groups" */
		.table[data-mobile] > tbody > tr + tr {
			border-top: var(--dsc-table-divider-border-width)
				var(--dsc-table-divider-border-style);
		}

		/* Add mobile headings */
		.table[data-mobile] > tbody > tr > :not([colspan])::before {
			box-sizing: border-box;
			content: attr(data-th);
			display: block;
			font-weight: 700;
		}
		.table[data-mobile] > tbody > tr [data-th=":empty"]::before {
			content: "\00A0"; /* Unicode &nbsp; to avoid line collapse */
		}

		.table[data-mobile="stacked"] > tbody > tr {
			padding-block: var(--ds-size-6);
		}

		.table[data-mobile="spaced"] > tbody > tr > :not([colspan]) {
			text-align: end;

			&::before {
				float: left;
				text-align: start;
			}
		}

		.table[data-mobile="divided"] > tbody > tr > :not([colspan]) {
			--_margin: calc(
				100% /
				(100 - var(--mtdsc-table-divided)) *
				var(--mtdsc-table-divided)
			); /* Percentage based on parent width and not self */
			padding-inline: calc(var(--mtdsc-table-divided) * 1%) 0; /* Times 1% to force percentage unit */

			&::before {
				display: inline-block;
				margin-left: calc(var(--_margin) * -1);
				width: var(--_margin);
				min-width: min-content; /* Ensure we do not get overlapping texts */
			}
		}

		/**
		 * Mobile data-border
		 */
		.table[data-mobile][data-border]:not([data-border="false"]) {
			padding: var(--dsc-table-padding);
			border: var(--dsc-table-border-width) var(--dsc-table-border-style)
				var(--dsc-table-border-color);

			& > tbody > tr:first-child {
				border-top: 0;
				padding-top: 0;
			}
			& > tbody > tr:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}
			& > tbody > tr > * {
				border-inline: 0;
			}
		}
	}
}
