@layer mt.design {
	.table {
		composes: ds-table from "@digdir/designsystemet-css";

		--dsc-table-background: transparent;
		--dsc-table-border-color: var(--ds-color-border-subtle);
		--dsc-table-border-radius: var(--ds-border-radius-md);
		--dsc-table-color: inherit;
		--dsc-table-divider-border-color: var(--ds-color-border-strong);
		--dsc-table-divider-border-width: var(--ds-border-width-default);
		--dsc-table-header-background--hover: transparent;
		--dsc-table-header-background--sorted: transparent;
		--dsc-table-header-background: transparent;
		--mtdsc-table-divided: 50; /* Need to be unitless */

		animation: _onInjectTable 1ms; /* Detect Node injections: https://davidwalsh.name/detect-node-insertion */
		background: var(--dsc-table-background);
		vertical-align: top;

		&[data-fixed] {
			table-layout: fixed;
		}
		& > :is(thead, tbody, tfoot) {
			vertical-align: inherit;
			--dsc-table-border-radius: calc(
				var(--ds-border-radius-md) -
				var(--dsc-table-border-width)
			); /* TODO: Report to DigiDir: Fix to align background inside border */
		}
		&[data-align="center"] {
			vertical-align: middle;
		}
	}
	@keyframes _onInjectTable {
		to {
			opacity: 1;
		}
	}
	.table th {
		font-weight: 500;
	}

	/**
	 * Numeric
	 */
	.table :where([data-numeric]:not([data-numeric="false"])):where(td, th) {
		font-variant-numeric: tabular-nums;
		white-space: nowrap;
	}

	/**
	 * Nowrap
	 */
	.table[data-nowrap],
	.table [data-nowrap] {
		white-space: nowrap;
	}

	/**
	 * Table border and heading fix
	 */
	.table:not([data-border]) > thead > tr:last-child > :is(td, th) {
		border-bottom-color: var(--dsc-table-divider-border-color);
		vertical-align: bottom;
	}
	.table[data-border]:not([data-border="false"]) {
		--dsc-table-background: var(--ds-color-surface-default);

		& > thead > tr > :is(th, td) {
			--dsc-table-header-background: var(--ds-color-surface-tinted);
		}
		& > tbody > tr > :not(:last-child) {
			border-right: var(--dsc-table-border-width) var(--dsc-table-border-style)
				var(--dsc-table-border-color);
		}
	}
	.table[data-border="false"] {
		--dsc-table-border-color: transparent;
		--dsc-table-padding: var(--mtds-1) var(--mtds-3);
	}

	/**
	 * Expandable
	 */
	.table > tbody > tr:has(> :is(td, th) > button[aria-expanded]) {
		/* Fake position: relative on `<tr>` elements: https://mtsknn.fi/blog/relative-tr-in-safari/ */
		/* transform: translate(0);
		clip-path: inset(0); */
		transition: .2s;

		/* &:has(> :is(td, th) > button[aria-expanded]:hover) {
			background-color: var(--ds-color-accent-surface-hover);
		} */

		&:has(button[aria-expanded="false"]) + tr > td[colspan]:only-child {
			display: none;
		}

		@media (prefers-reduced-motion: no-preference) {
			/* biome-ignore lint/correctness/noUnknownProperty: biome does not know about this property yet */
			interpolate-size: allow-keywords;

			&::part(details-content) {
				block-size: 0;
				overflow-y: clip;
				transition: content-visibility 400ms allow-discrete, height 400ms;
			}

			&[open]::part(details-content) {
				height: auto;
			}
		}

		& > :is(td, th) > button[aria-expanded] {
			all: unset;
			box-sizing: border-box;
			cursor: pointer;
			border-radius: var(--ds-border-radius-sm);
			width: 100%;

			&:focus-visible {
				box-shadow: var(--dsc-focus-boxShadow);
				outline: var(--dsc-focus-outline);
				outline-offset: var(--ds-border-width-focus);
			}

			/* &::after {
				content: "";
				inset: 0;
				position: absolute;
			} */

			&::before {
				background: currentcolor;
				content: "";
				display: inline-block;
				height: var(--mtds-icon-size);
				margin-inline-end: var(--ds-size-2);
				mask: center / contain no-repeat var(--mtds-icon-chevron);
				transition: rotate .2s;
				vertical-align: -.3em;
				width: var(--mtds-icon-size);
			}

			&[aria-expanded="true"]::before {
				rotate: -180deg;
			}
		}
	}
	.table
		> tbody
		> tr:has(> :is(td, th) > button[aria-expanded="true"])
		> :is(td, th) {
		border-bottom: 0;
	}

	/**
	 * Checkable
	 */
	.table > :is(thead, tbody, tfoot) > tr > :is(td, th) label {
		font-weight: inherit;
	}

	/**
	 * Scrollable
	 */
	figure:has(> .table) {
		animation: _scrollShadow linear;
		animation-timeline: scroll(self inline);
		margin-inline: 0;
		overflow: auto;
		overscroll-behavior-x: contain; /* Prevent browser back/forward history on end of scroll */
		position: relative; /* Ensure also inner position: absolute elements are scrolled */
	}
	@keyframes _scrollShadow {
		from {
			box-shadow: inset -.5rem 0 .5rem -.5rem rgb(0 0 0 / 0.4);
		}
		to {
			box-shadow: inset .5rem 0 .5rem -.5rem rgb(0 0 0 / 0.4);
		}
	}

	/**
	 * Mobile versions (up to 960px)
	 */
	@media (max-width: 60em) {
		.table[data-mobile],
		.table[data-mobile] > tbody,
		.table[data-mobile] > tbody > tr,
		.table[data-mobile] > tbody > tr > :where(th, td) {
			border: 0;
			display: block;
			font-weight: normal;
			padding-inline: 0;
			text-align: inherit; /* Undo data-numeric alignment */
		}

		/* Hide <thead> and <tfoot> */
		.table[data-mobile] > :not(tbody) {
			display: none;
		}

		/* Add border outside "table" */
		.table[data-mobile] {
			border-block: var(--dsc-table-divider-border-width)
				var(--dsc-table-divider-border-style);
		}

		/* Add border between "rows" */
		.table[data-mobile] > tbody > tr > * + * {
			border-top: var(--dsc-table-border-width) var(--dsc-table-border-style)
				var(--dsc-table-border-color);
		}

		/* Add border between "groups" */
		.table[data-mobile] > tbody > tr + tr {
			border-top: var(--dsc-table-divider-border-width)
				var(--dsc-table-divider-border-style);
		}

		/* Add mobile headings */
		.table[data-mobile] > tbody > tr > :not([colspan])::before {
			box-sizing: border-box;
			content: attr(data-th);
			display: block;
			font-weight: 700;
		}
		.table[data-mobile] > tbody > tr [data-th=":empty"]::before {
			content: "\00A0"; /* Unicode &nbsp; to avoid line collapse */
		}

		.table[data-mobile="stacked"] > tbody > tr {
			padding-block: var(--ds-size-6);
		}

		.table[data-mobile="spaced"] > tbody > tr > :not([colspan]) {
			text-align: end;

			&::before {
				float: left;
				text-align: start;
			}
		}

		.table[data-mobile="divided"] > tbody > tr > :not([colspan]) {
			--_margin: calc(
				100% /
				(100 - var(--mtdsc-table-divided)) *
				var(--mtdsc-table-divided)
			); /* Percentage based on parent width and not self */
			padding-inline: calc(var(--mtdsc-table-divided) * 1%) 0; /* Times 1% to force percentage unit */

			&::before {
				display: inline-block;
				margin-left: calc(var(--_margin) * -1);
				width: var(--_margin);
				min-width: min-content; /* Ensure we do not get overlapping texts */
			}
		}

		/**
		 * Mobile data-border
		 */
		.table[data-mobile][data-border]:not([data-border="false"]) {
			padding: var(--dsc-table-padding);
			border: var(--dsc-table-border-width) var(--dsc-table-border-style)
				var(--dsc-table-border-color);

			& > tbody > tr:first-child {
				border-top: 0;
				padding-top: 0;
			}
			& > tbody > tr:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}
			& > tbody > tr > * {
				border-inline: 0;
			}
		}
	}
}
