@layer mt.design {
	.avatar {
		composes: ds-avatar from "@digdir/designsystemet-css";
		--dsc-avatar-color: var(--ds-color-base-contrast-subtle);
		--dsc-avatar-icon-url: var(--mtds-icon-user);
	}
	.avatar[data-size="xs"] {
		--mtdsc-avatar-size: var(--mtds-7);
		--mtdsc-avatar-padding: var(--mtds-1);
	}
	/* TODO Digdir: Support button and link */
	.avatar:is(button) {
		cursor: pointer;
		border: 0;
		padding: 0;
	}
	.avatar:is(button, a):focus-visible {
		box-shadow: var(--dsc-focus-boxShadow);
		outline: var(--dsc-focus-outline);
		outline-offset: var(--ds-border-width-focus);
	}
}
