/**
 * Some styles need to be declared outside of the @layer to ensure they are applied
 * to override CSS resets from frameworks like Tailwind Preflight https://tailwindcss.com/docs/preflight,
 * normalize.css, Eric Meyer's CSS reset, etc.
 */
.logo {
	font-family: inherit; /* In case logo is <button> */
	font-size: 1.5em;
	font-weight: normal;
	line-height: var(--line-height);

	&[data-size="lg"] {
		font-size: 2em;
	}
}

@layer mt.design {
	.logo {
		composes: ds-focus from "@digdir/designsystemet-css";

		--line-height: var(--height);
		--width: 5.7em;
		--height: 1.25em; /* A little taller than icon-height, to align line-height with logo */
		--icon-height: 1.15em;
		--icon-width: 1.5em;
		--line-url: linear-gradient(currentcolor, currentcolor);
		--line-width: .07em;
		--logo-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4595 800'%3E%3Cpath d='m2252 582.6 2-.4v71.2l-1 .4c-7 3-22.8 8-51.2 8-65.2 0-105.6-40-105.6-104.3V379.1h-64v-67.8h19.5c32.8 0 51.6-19 51.6-52v-54.9h78.2v105.3h71.8v69.4h-71.8v165c0 28.9 12.7 41.3 42.3 41.3a175 175 0 0 0 28.2-2.8Zm265.4 0c-3 .6-16.5 2.8-28.2 2.8-29.6 0-42.3-12.4-42.3-41.4V379h71.9v-69.3h-71.9V204.4h-78.1v55c0 33-18.9 52-51.7 52h-19.5V379h64v178.4c0 64.3 40.5 104.2 105.7 104.2 28.3 0 44.2-5 51.1-7.9l1.1-.4v-71.2l-2.1.4Zm-529.2 71.9.4 2h-80l-.4-1.2c-.8-2-3.2-14.5-3.6-38.6-12.9 18.3-44.2 50.5-104.8 50.5-34.8 0-64.8-11-86.9-32a100.7 100.7 0 0 1-32-73.6c0-56.6 39.6-96.1 105.9-105.6l88.7-13.5c21.5-3 24-14.6 24-23 0-31.6-25.4-50.6-63.6-50.6s-64.4 22.6-69 58.9l-78.6-17.8c7-54.2 55.4-111.7 147-111.7 134 0 148.6 91.2 148.6 130.4v171c0 33.3 4 53.9 4.2 54.8h.1Zm-88.7-156-88.2 13.1c-16.6 2.8-44.6 12.3-44.6 45 0 20.5 15.2 42.7 48.6 42.7 38.4 0 84.2-15.1 84.2-87.3v-13.5Zm696.2 159.1h85.8V309.2h-85.8v348.4ZM400 237c72.4 0 152 51 162.7 148.8 72-35.1 153-50 233.3-43a400 400 0 0 0-785.3-34.2 445 445 0 0 1 229 61.4A163 163 0 0 1 400 237ZM2 361.8c-20.4 201.3 118.4 386.1 308.9 428v-2.2c0-74 18.2-146.4 53-211.2C297.5 443 151.4 355.8 2 361.8Zm1322.8 170.8-162.4-378.9-.5-1H1045v505h86.8v-361l152.3 358.6h78.4l153.7-360v362.3h88.3V152.7h-119l-160.8 380ZM364.5 798.3C596.8 820 801.2 633.3 800 399.9v-3.3c-234.6-27.4-444 165.7-435.5 401.7Zm3979.9-319.5c0 22-2.2 27.9-2.2 27.9H4089a91 91 0 0 0 92.8 86.3c37.1 0 63.4-14.6 78.5-43.3h81.7c-4.3 14.7-10 28.4-17 41-24.5 41-71 76.4-143.2 76.4-48 0-92.5-17.4-125.1-49-35.3-34-54-81.6-54-137.1 0-51.5 18.6-98.6 52.2-132.5a167.8 167.8 0 0 1 118.4-50.2c105.6 0 171.2 69 171.2 180.5Zm-86.9-35.7c-2.9-53.7-46.7-72.8-83.6-72.8-36.9 0-78.1 25.5-82.8 72.8h166.4Zm-440.7-143.4c-42.5 0-79.7 19.1-100.8 51.4v-41.6h-84v348h86.1V457c0-48.3 27.6-79.6 70.2-79.6 60.4 0 69.5 46.8 69.5 74.7v205.5h86V437.9c0-85.3-48.6-138.2-127-138.2ZM3410.1 524 3312 310.2l-.5-1h-97.3l149.2 304.6-82 177.2h92.1l220.4-481.8h-91.5l-92.3 215ZM4593 582.6a177 177 0 0 1-28.2 2.8c-29.7 0-42.4-12.4-42.4-41.4V379h72v-69.3h-72V204.4h-78.1v55c0 33-18.9 52-51.7 52h-19.5V379h64v178.4c0 64.3 40.5 104.2 105.6 104.2 29.5 0 45.7-5.5 51.2-7.9l1.1-.4v-71.2l-2 .4ZM2643 135c-31 0-55.5 24.9-55.5 55.5s24 54.7 55.5 54.7 56.2-24 56.2-54.7A55.8 55.8 0 0 0 2643 135Zm135.8 522.6h85.8V141.8h-85.8v515.8Zm326-208.7h-.2.1Zm-.3 0h.1l-52.6-10.6c-21-4.2-33.5-17-33.5-34.3 0-21.3 21.2-37.9 48.1-37.9a58.1 58.1 0 0 1 62.4 50.1l.3 2 73.1-20.8-.2-1.5A113.6 113.6 0 0 0 3169 334c-24.8-23.7-59.3-35.8-102.4-35.8-71.2 0-129.2 50.6-129.2 112.7 0 50.9 35.4 89 94.6 102l51.3 11.3c25.7 5.3 39.2 17.9 39.2 36.5s-15.5 37.8-50.2 37.8c-47 0-66.4-30.7-68.8-57l-.2-2.1-75.4 20.7.2 1.5c2.6 23.8 16 49 36 67.6 26.6 24.7 64.2 37.9 108.8 37.9 87.2 0 132.7-56.4 132.7-112 0-55.7-36.8-92.5-101-106.3Z'/%3E%3C/svg%3E");
		--logo-mask: calc(var(--icon-width) * -1) var(--height) / auto
			var(--icon-height) no-repeat var(--logo-url);

		background: none;
		border-radius: var(--ds-border-radius-sm);
		border: 0;
		box-sizing: border-box;
		color: inherit;
		display: block;
		height: var(--height);
		margin: 0;
		max-width: 100%;
		min-height: var(--height);
		min-width: var(--icon-height);
		overflow: hidden;
		padding: 0;
		text-align: left;
		text-decoration: none; /* In case logo is an <a> */
		text-indent: .4em;

		&::before,
		&::after {
			content: "";
			background: currentcolor;
			float: left;
			margin-top: calc(var(--height) * -1);
			height: calc(var(--height) * 2);
			width: calc(var(--width) + var(--line-width));
			mask:
				var(--logo-mask),
				right bottom / var(--line-width) var(--height) no-repeat var(--line-url),
				var(--icon-width) top / var(--line-width) var(--height) no-repeat var(
					--line-url
				);
		}

		&::before {
			content: var(--mt-text-logo);
			mask: 0 var(--height) / auto var(--icon-height) no-repeat var(--logo-url);
			width: var(--icon-width);
		}

		/* When only logo, no sub-brand */
		&:empty::after {
			--width: 5.12em;
			mask: var(--logo-mask);
		}
	}
	html[lang|="en"] .logo:not([lang|="no"]),
	.logo[lang|="en"] {
		--height: 1.7em;
		--icon-height: 1.6em;
		--logo-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4597' height='1084' viewBox='0 0 4597 1084'%3E%3Cpath d='M2060.4 962.1c0-22.5-13.3-42.3-48-42.3-28 0-45.6 17.5-47.7 37l24.6 5.5c1.2-11.3 8.4-20.4 23.2-20.4 15 0 21.4 7.7 21.4 17.2 0 4-1.9 7.2-8.4 8.1l-29 4.4c-19.3 2.8-34.1 14-34.1 34.1 0 18 14.6 34.2 38.3 34.2 18.3 0 29.5-9.3 34.8-18 0 9.2 1 13.8 1.2 14.5h25a103 103 0 0 1-1.3-18.1V962Zm-26.5 27.4c0 22-13 29.3-28.1 29.3-10.7 0-16.5-7-16.5-14.7 0-9.3 6.8-13.9 15.1-15.3l29.5-4.4v5.1Zm-126-66.2h26.7v113.1h-26.7v-113Zm-59 14.4c-4.8-9.3-15.8-16.5-33.4-16.5-31.1 0-52.3 23.3-52.3 55 0 31.9 22.1 55.1 52.3 55.1 16.5 0 27.9-7.7 32.7-16.5v11.9c0 23-10.7 33.9-32 33.9a27.5 27.5 0 0 1-28.3-24.4l-24.9 6.5c3 22.7 24 41.3 53.9 41.3 42.5 0 58-28 58-58.3V923.3h-26v14.4Zm-29 70.6c-17.6 0-29.5-12.8-29.5-32s12.8-31.8 29.5-31.8 29 12.5 29 31.8c0 19.2-11.4 32-29 32Zm118.9-124.7c0 9.8-8.2 17.4-17.7 17.4a17.4 17.4 0 0 1-17.4-17.4c0-9.7 7.9-17.6 17.4-17.6 9.5 0 17.7 7.9 17.7 17.6Zm-30.6-228.3.4 1.2h80l-.4-2h-.1c-.2-1-4.2-21.5-4.2-54.8v-171c0-39.2-14.5-130.4-148.7-130.4-91.5 0-140 57.5-146.9 111.7l78.6 17.8c4.6-36.3 30.8-58.9 69-58.9s63.6 19 63.6 50.6c0 8.4-2.5 20-24 23l-88.7 13.5c-66.3 9.5-105.8 49-105.8 105.6 0 28 11.3 54 31.9 73.6 22.1 21 52.1 32 86.9 32 60.6 0 91.9-32.3 104.8-50.5.4 24 2.9 36.5 3.6 38.6Zm-8.7-143.3c0 72.2-45.8 87.3-84.2 87.3-33.4 0-48.6-22.2-48.6-42.8 0-32.6 28-42 44.6-44.9l88.2-13.1V512ZM1690.1 920c-28.6 0-55 23.6-55 59.4 0 38.3 27.1 60.6 57.8 60.6a51 51 0 0 0 51-35.8l-22.7-7.2c-3.7 11.2-11.6 19.8-28.3 19.8s-30.2-12.3-30.9-29.5h82.7c.2-.5.7-4.2.7-8.6 0-35.8-20.5-58.7-55.3-58.7Zm-27.4 47.6c1-12.1 10.7-25.1 27.6-25.1 18.6 0 27.4 11.8 28 25h-55.6Zm933-658.3h85.8v348.4h-85.8V309.2Zm-8.2-118.7A55.3 55.3 0 0 1 2643 135c31 0 56.1 24.8 56.1 55.5s-24.6 54.7-56 54.7-55.6-24.1-55.6-54.7Zm535 370.3c0-18.6-13.5-31.2-39.2-36.5L3032 513c-59.2-13-94.6-51.1-94.6-102 0-62.1 58-112.7 129.2-112.7 43 0 77.6 12 102.4 35.8 24.6 23.6 31.4 51 33.2 61.7l.3 1.6-73.2 20.7-.3-2a58.1 58.1 0 0 0-62.4-50c-27 0-48 16.6-48 37.8 0 17.4 12.5 30.2 33.4 34.4l52.6 10.5c64.2 13.9 101 50.7 101 106.3 0 55.7-45.5 112-132.7 112-44.6 0-82.2-13.1-108.8-37.8a113.4 113.4 0 0 1-36-67.6l-.2-1.5 75.4-20.8.2 2.1c2.4 26.3 21.9 57.1 68.8 57.1 34.7 0 50.2-19.2 50.2-37.9Zm-257.9 96.8h-85.8V141.8h85.8v515.8Zm853.5 0h-86v-348h83.9V351c21.1-32.3 58.3-51.4 100.8-51.4 78.4 0 127 53 127 138.3v219.6h-86V452.1c0-27.9-9-74.6-69.5-74.6-42.6 0-70.2 31.2-70.2 79.6v200.5Zm-613.4-208.7ZM364 576.4a444 444 0 0 0-53.1 211.2v2.2C120.4 748-18.4 563.1 1.9 361.8c149.4-6 295.5 81.3 362 214.6Zm1152.2-281.2-153.7 360.1h-78.4l-152.3-358.7v361H1045V152.7h117l.4 1 162.3 379 160.7-380h119v505h-88.2V295.1Zm-234.7 624.7c-33.7 0-58.5 25-58.5 59.9s24.6 60 58.5 60 58.8-25.2 58.8-60c0-34.9-25.1-60-58.8-60Zm0 95.8c-16.5 0-31.6-12.5-31.6-36 0-23.4 14.9-35.5 31.6-35.5s31.6 12.1 31.6 35.6c0 23.4-15.1 36-31.6 36Zm143.8-93.8c3.2 0 6 .5 7.2.7V950c-3-.4-6-.7-8.8-.7-21 0-30.5 12.1-30.5 33.2v53.9h-27v-113h26.3v18c5.4-12.3 18-19.5 32.8-19.5ZM239.6 370.1a444.9 444.9 0 0 0-229-61.5A400 400 0 0 1 796 343c-80.3-7.1-161.2 7.8-233.3 42.9a163.2 163.2 0 0 0-323-15.8Zm1359 553.2h27.5l-36.3 113.1H1563l-28.1-81.3-27.4 81.3h-27.6l-36.7-113h28.8l23 78.2 26.7-78.3h27.8l26.7 78.3 22.6-78.3Zm-431.3-51.5h27.9v164.6h-29l-81.3-124.7v124.7H1057V871.8h35.5l74.8 116.8V871.8ZM800 396.6v3.3c1.2 233.5-203.2 420.1-435.5 398.4-8.5-236 201-429.1 435.5-401.8Zm1655.2 523.3c-33.7 0-58.5 25-58.5 59.8s24.6 60.2 58.5 60.2 58.7-25.3 58.7-60.2c0-34.8-25-59.9-58.7-59.9Zm0 95.8c-16.5 0-31.6-12.5-31.6-36 0-23.4 14.9-35.5 31.6-35.5s31.6 12.1 31.6 35.5c0 23.5-15.1 36-31.6 36Zm1713.4-95.9c-33.7 0-58.5 25.1-58.5 60s24.6 60 58.5 60c34 0 58.8-25.2 58.8-60 0-34.9-25.1-60-58.8-60Zm0 96c-16.5 0-31.6-12.6-31.6-36 0-23.5 14.9-35.6 31.6-35.6s31.6 12.1 31.6 35.5c0 23.5-15.1 36-31.6 36Zm-82.5-51v71.6h-27v-66.9c0-13.9-6.2-25-23.1-25-15 0-23 11.1-23.5 25.5v66.4h-27v-168h27v65.8a40.3 40.3 0 0 1 32.3-14.1c27.9 0 41.3 20 41.3 44.8Zm-427.6-93-64 164.6h29.4l15.4-41.3h69.6l15.6 41.3h30.4l-64-164.6h-32.4Zm-9.5 97.5 25-67.3 25.2 67.3H3649Zm611.2-419.5c-15 28.6-41.4 43.2-78.5 43.2-50.3 0-90-37-92.8-86.3h253.3s2.2-5.9 2.2-27.9c0-111.5-65.6-180.5-171.2-180.5-43.8 0-87 18.3-118.4 50.2-33.6 34-52.1 81-52.1 132.5 0 55.5 18.7 103 53.9 137.1 32.6 31.6 77 49 125 49 72.3 0 118.8-35.4 143.2-76.4a198.5 198.5 0 0 0 17.1-41h-81.7Zm-86.3-179.5c36.9 0 80.8 19.1 83.6 72.8h-166.4c4.7-47.3 45.9-72.8 82.8-72.8Zm-305.3 645.4c0 9.3.7 16.5 1.1 20.7H3844c-.5-2.5-1-7.9-1-12.5-5.5 10.2-18.8 15.8-32 15.8-27 0-42.7-20-42.7-45v-71.4h26.9v66.4c0 14 7.2 25.8 22.8 25.8s23.6-10.4 23.6-25.3v-66.9h27v92.4Zm83.4-1.8c3.7 0 8.1-.7 9.3-1v22.4c-1.6.7-6.8 2.5-16.5 2.5-21 0-34-12.5-34-33.7v-56.8H3890v-24h5.8c12 0 17.4-7.6 17.4-17.6v-17h24.4v34.6h23.5v24h-23.5v52.4c0 10 4.4 14.2 14.4 14.2Zm360.4-92c3.2 0 6 .5 7.2.8V950c-3-.5-6-.7-8.8-.7-21 0-30.5 12-30.5 33.2v53.8h-26.9v-113h26.2v18c5.4-12.3 18-19.5 32.8-19.5Zm29.7 1.5h26.7v113H4342v-113Zm254.9 0-72 158.7h-28.8l27.2-59.2-48.3-99.6h30.4L4538 995l30.4-71.5h28.6Zm-54.3-261.6c-65 0-105.6-40-105.6-104.3V379.1h-64v-67.8h19.5c32.8 0 51.7-19 51.7-52v-54.9h78.1v105.3h72V379h-72v165c0 29 12.7 41.4 42.4 41.4 11.6 0 25.1-2.2 28.2-2.8l2-.4v71.1l-1 .5c-5.6 2.4-21.8 8-51.3 8ZM4373 883.6c0 9.7-8.2 17.3-17.7 17.3a17.4 17.4 0 0 1-17.4-17.4c0-9.7 7.9-17.6 17.4-17.6 9.5 0 17.7 7.9 17.7 17.6Zm79 130.2c3.8 0 8.2-.7 9.4-1v22.4c-1.7.7-6.8 2.5-16.5 2.5-21 0-34-12.5-34-33.7v-56.8h-20.8v-24h5.8c12 0 17.4-7.6 17.4-17.6v-17h24.4v34.6h23.4v24h-23.4v52.4c0 10 4.4 14.2 14.4 14.2ZM3101.3 962c0-22.5-13.3-42.3-48.1-42.3-27.9 0-45.5 17.5-47.6 37l24.6 5.5c1.1-11.3 8.4-20.4 23.2-20.4 14.9 0 21.4 7.7 21.4 17.2 0 4-1.9 7.2-8.4 8.1l-29 4.4c-19.3 2.8-34.2 14-34.2 34.1 0 18 14.7 34.2 38.4 34.2 18.3 0 29.5-9.3 34.8-18 0 9.2 1 13.8 1.2 14.5h25a103 103 0 0 1-1.4-18.1V962Zm-26.5 27.4c0 22-13 29.3-28.1 29.3-10.7 0-16.5-7-16.5-14.7 0-9.3 6.7-13.9 15-15.3l29.6-4.4v5.1Zm-485-69.7c-33.7 0-58.6 25.1-58.6 60s24.7 60 58.6 60c33.9 0 58.7-25.2 58.7-60 0-34.9-25-60-58.7-60Zm0 96c-16.5 0-31.6-12.6-31.6-36 0-23.5 14.8-35.6 31.6-35.6s31.5 12.1 31.5 35.5c0 23.5-15 36-31.5 36Zm-72.3-433.2 2.1-.4v71.2l-1 .4c-7 3-22.9 8-51.2 8-65.2 0-105.7-40-105.7-104.3V379.1h-64v-67.8h19.5c32.8 0 51.7-19 51.7-52v-54.9h78.1v105.3h71.9V379h-71.9v165c0 29 12.7 41.4 42.3 41.4 11.7 0 25.2-2.2 28.2-2.8Zm985-273.4h91.5L3373.5 791h-92.2l82-177.2-149.1-304.6h97.3l.5 1 98.1 214 92.3-215ZM2252 582.6l2-.4v71.1l-1 .5c-7 3-22.8 8-51.2 8-65.2 0-105.6-40-105.6-104.3V379.1h-64v-67.8h19.5c32.8 0 51.6-19 51.6-52v-54.9h78.2v105.3h71.8V379h-71.8v165c0 29 12.6 41.4 42.3 41.4 11.7 0 25.2-2.2 28.2-2.8ZM2984.2 990c0 25.5-20.7 49.9-58.3 49.9-41.8 0-61.1-27-63.7-50.6l26-7.5c1.7 17.2 14 33 37.7 33 19.7 0 30-10 30-22.7 0-10.7-8-19.3-22.1-22.3l-23.2-5c-25.1-5-41.8-21.5-41.8-46.1 0-27.6 25.3-50.4 56-50.4 38.7 0 53.8 23.7 57.5 42l-25 8c-1.7-10.3-10.3-25.4-32.3-25.4-16.8 0-28.4 11.2-28.4 23.7 0 10.4 6.5 18.3 19.3 21.1l23.7 5c29 5.7 44.6 24 44.6 47.3Zm-698-118.2h102.4V898h-74.5v46.2h66.9V970H2314v66.4h-27.9V871.8Zm492.7-3.5h-26.2v68.3c-3.5-7.2-13.5-16.3-33.2-16.3-31.8 0-53.9 25.1-53.9 59.2s21.8 59.7 54.4 59.7c16 0 27.8-7.9 33.2-17.4 0 4.6.7 12 1.1 14.6h25.8a186.2 186.2 0 0 1-1.1-20.7V868.3Zm-56 147.2c-18.3 0-30.3-14.4-30.3-36s13-35.3 30.6-35.3 29.7 13.5 29.7 35.1-11.6 36.2-30 36.2Zm664.4-1.6a58 58 0 0 0 9.3-1v22.4c-1.7.7-6.8 2.5-16.5 2.5-21 0-34-12.5-34-33.7v-56.8h-20.8v-24h5.8c12 0 17.4-7.6 17.4-17.6v-17h24.4v34.6h23.4v24H3373v52.4c0 10 4.4 14.2 14.4 14.2Zm116.3-90.6h28.6l-72 158.8h-28.8l27.2-59.2-48.3-99.6h30.4l32.5 71.6 30.4-71.5ZM2193.5 965v71.5h-27v-66.9c0-13.9-6.2-25-23.2-25-15.3 0-23.4 11.8-23.4 26.7v65.2h-27v-113h26.3v15a37.6 37.6 0 0 1 33.4-18.3c27.7 0 40.9 20 40.9 44.8Zm1064.2-45c-28.5 0-55 23.6-55 59.4 0 38.3 27.2 60.6 57.8 60.6a51 51 0 0 0 51.1-35.8l-22.8-7.2c-3.7 11.2-11.6 19.8-28.3 19.8s-30.2-12.3-30.9-29.5h82.7c.2-.5.7-4.2.7-8.6 0-35.8-20.5-58.7-55.3-58.7Zm-27.4 47.6c1-12.1 10.7-25.1 27.7-25.1 18.5 0 27.4 11.8 27.8 25h-55.5Zm-50.8-100.3c6.7 0 12.3 1.4 14.1 2.3v23c-1.6-.5-4.6-1.2-9.7-1.2-7.2 0-16.7 3.3-16.7 17.2v14.8h26.2v23.5h-26.2v89.6H3140v-89.6h-19.8v-23.5h19.8v-15.5c0-25.3 16.2-40.6 39.5-40.6Z'/%3E%3C/svg%3E");
		--line-height: 1.3;

		&:empty::after {
			--width: 5.22em;
		}

		/* Do not hide "Norwegian Food Safety Authority" as this is important when doing international work */
		&:not(:empty) {
			height: auto;
			min-height: var(--height);
			position: relative;
			text-indent: 0;
			padding-left: calc(
				var(--icon-width) +
				var(--width) +
				var(--line-width) +
				.4em
			);

			&::before,
			&::after {
				position: absolute;
				inset: 0 auto 0 0;
				height: auto;
			}
			&::after {
				left: var(--icon-width);
				mask: var(--logo-mask), right bottom / var(--line-width) 100% no-repeat
					var(--line-url);
			}
		}
	}
}
