@layer mt.design {
	:root {
		--mtds-logo-color: #bcdcd0;
	}
	.logo {
		--solid: linear-gradient(currentcolor, currentcolor);
		--indent: var(--icon-size);
		--icon: left top / var(--icon-size) var(--icon-size) no-repeat
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 47 47'%3E%3Cpath d='M23.37 0A23.37 23.37 0 0 0 .62 18.02 26 26 0 0 1 14 21.6a9.53 9.53 0 0 1 18.87.92 26 26 0 0 1 13.63-2.5A23.36 23.36 0 0 0 23.37 0Zm23.36 23.35v-.2c-13.7-1.6-25.93 9.67-25.44 23.45 13.57 1.27 25.51-9.63 25.44-23.25ZM18.16 45.98a25.9 25.9 0 0 1 3.1-12.33A23.06 23.06 0 0 0 .12 21.12a23.4 23.4 0 0 0 18.04 24.99v-.13Z'/%3E%3C/svg%3E");
		--icon-text: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 194 37'%3E%3Cpath d='M175.7 23.47c-.82 1.57-2.26 2.36-4.29 2.36a4.98 4.98 0 0 1-5.07-4.71h13.85s.11-.32.11-1.53c0-6.09-3.58-9.86-9.35-9.86-2.4 0-4.75 1-6.47 2.74a10.18 10.18 0 0 0-2.85 7.24c0 3.04 1.02 5.63 2.95 7.5a9.73 9.73 0 0 0 6.83 2.68c3.95 0 6.49-1.94 7.82-4.18.4-.69.7-1.44.94-2.24h-4.47Zm-4.71-9.8c2.01 0 4.41 1.04 4.57 3.97h-9.1a4.48 4.48 0 0 1 4.53-3.98ZM87.32 6.83a3 3 0 0 0 3.07-3 3.05 3.05 0 0 0-6.1 0 3 3 0 0 0 3.03 3ZM89.42 10.32h-4.68v19.05h4.68V10.32ZM99.43 1.17h-4.68v28.2h4.68V1.17ZM112.56 17.96l-2.88-.58c-1.15-.23-1.83-.93-1.83-1.88 0-1.16 1.15-2.07 2.62-2.07a3.18 3.18 0 0 1 3.41 2.74l.02.1 4-1.13-.02-.08a6.21 6.21 0 0 0-1.81-3.37c-1.36-1.3-3.24-1.96-5.6-1.96-3.89 0-7.06 2.76-7.06 6.16 0 2.78 1.94 4.87 5.17 5.57l2.8.62c1.4.29 2.15.98 2.15 2 0 1.01-.85 2.06-2.75 2.06-2.56 0-3.62-1.68-3.76-3.12v-.11l-4.13 1.13.01.08a6.2 6.2 0 0 0 1.97 3.7c1.45 1.35 3.51 2.07 5.95 2.07 4.76 0 7.25-3.08 7.25-6.12 0-3.05-2.01-5.06-5.52-5.81ZM151.47 9.8a6.46 6.46 0 0 0-5.5 2.81v-2.27h-4.6v19.02h4.7V18.4c0-2.64 1.51-4.35 3.84-4.35 3.3 0 3.8 2.56 3.8 4.08v11.23h4.7v-12c0-4.66-2.66-7.56-6.94-7.56ZM65.95 25.26c-.16.04-.9.16-1.54.16-1.62 0-2.31-.68-2.31-2.26v-9.02h3.93v-3.79H62.1V4.59h-4.27v3c0 1.81-1.03 2.85-2.82 2.85h-1.07v3.7h3.5v9.75c0 3.52 2.2 5.7 5.77 5.7 1.55 0 2.42-.27 2.8-.43l.05-.03v-3.89l-.1.03ZM80.46 25.26c-.16.04-.9.16-1.54.16-1.62 0-2.31-.68-2.31-2.26v-9.02h3.92v-3.79h-3.92V4.59h-4.28v3c0 1.81-1.02 2.85-2.82 2.85h-1.06v3.7h3.5v9.75c0 3.52 2.2 5.7 5.77 5.7 1.55 0 2.41-.27 2.8-.43l.05-.03v-3.89l-.11.03ZM193.89 25.26c-.17.04-.9.16-1.54.16-1.62 0-2.32-.68-2.32-2.26v-9.02h3.93v-3.79h-3.93V4.59h-4.27v3c0 1.81-1.03 2.85-2.82 2.85h-1.07v3.7h3.5v9.75c0 3.52 2.22 5.7 5.77 5.7 1.61 0 2.5-.3 2.8-.43l.06-.03v-3.89l-.12.03ZM122.2 36.66h5.04l12.05-26.34h-5l-5.04 11.75-5.37-11.7-.02-.05h-5.32l8.15 16.65-4.48 9.68ZM24.06 1.77l-8.78 20.76L6.4 1.83l-.03-.06H0v27.6h4.75V9.64l8.32 19.6h4.28l8.4-19.68v19.8h4.83V1.78h-6.51ZM51.54 29.2c-.02-.05-.24-1.18-.24-3v-9.35c0-2.14-.79-7.12-8.12-7.12-5 0-7.65 3.14-8.03 6.1l4.3.97c.24-1.98 1.68-3.21 3.76-3.21 2.1 0 3.48 1.03 3.48 2.76 0 .46-.14 1.1-1.31 1.26l-4.85.73c-3.62.52-5.78 2.68-5.78 5.78a5.5 5.5 0 0 0 1.74 4.02 6.74 6.74 0 0 0 4.75 1.75 6.72 6.72 0 0 0 5.73-2.76c.02 1.32.15 2 .2 2.11l.02.07h4.37l-.02-.12Zm-4.85-7.8c0 3.95-2.5 4.78-4.6 4.78-1.83 0-2.66-1.21-2.66-2.34 0-1.78 1.53-2.3 2.44-2.45l4.82-.72v.74Z'/%3E%3C/svg%3E");
		--icon-dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55 55'%3E%3Crect fill='none' width='51' height='51' x='2' y='2' stroke='black' stroke-dasharray='0.09 6.38' stroke-linecap='round' stroke-opacity='.6' stroke-width='2.3' rx='25.5'/%3E%3C/svg%3E");
		--icon-size: 1.657em;

		animation: _onInjectLogo 1ms; /* Detect Node injections: https://davidwalsh.name/detect-node-insertion */
		border-radius: var(--ds-border-radius-sm);
		box-sizing: border-box;
		display: block;
		font-size: 1.2em;
		font-weight: 700;
		height: var(--icon-size);
		line-height: calc(var(--icon-size) + .15em); /* Align environment with logo */
		margin: 0; /* If <h1> */
		min-height: var(--icon-size);
		overflow: clip;
		text-decoration: none;
		white-space: normal; /* Allow wrap */
	}

	@keyframes _onInjectLogo {
		to {
			opacity: 1;
		}
	}

	.logo:not(:has(svg)) {
		padding-left: var(--indent);
		mask: var(--icon), var(--solid) calc(var(--indent) + 1px) / 100% no-repeat; /* 1px is used to avoid pixel glitch in Safari */
		background: linear-gradient(
			to right,
			currentColor var(--indent),
			transparent var(--indent)
		);
	}
	.logo:focus-visible {
		box-shadow: var(--dsc-focus-boxShadow);
		outline: var(--dsc-focus-outline);
		outline-offset: var(--ds-border-width-focus);
	}

	/**
	 * Main logo
	 */
	.logo:empty::before {
		content: "";
		display: inline-block; /* Needed to make logo text wrap on smaller screens */
	}
	.logo:empty::after {
		background: currentColor;
		content: var(--mtds-text-logo);
		float: left;
		height: var(--icon-size);
		margin-left: .5em;
		mask: bottom / contain no-repeat var(--icon-text);
		overflow: hidden;
		white-space: nowrap;
		width: 7.38em;
	}

	/**
	 * Subbrand
	 */
	.logo:not(:empty):not(:has(svg)) {
		--indent: calc(var(--icon-size) + .94em);
		height: auto;
		line-height: 1.05;
		mask: var(--icon), var(--solid) calc(var(--icon-size) + .45em) / .04em 100%
			no-repeat, var(--solid) calc(var(--indent) + 1px) / 100% no-repeat; /* 1px is used to avoid pixel glitch in Safari */

		&::before {
			content: var(--mtds-text-logo);
			display: block;
			font-size: .63em;
			line-height: 1.25;
			margin-bottom: .1em;
			overflow: clip;
			white-space: nowrap;
		}
	}

	/**
	 * App
	 */
	.logo:has(svg) {
		--icon-size: 1.325em;
		font-size: 1.5em;
		line-height: var(--icon-size);

		&:before {
			background: var(--mtds-logo-color);
			border-radius: var(--ds-border-radius-full);
			content: "";
			float: left;
			height: var(--icon-size);
			margin-right: calc(var(--icon-size) * -1);
			mask: center / contain no-repeat var(--solig);
			width: var(--icon-size);
		}
		&[data-env]::before {
			background: currentcolor;
			mask-image: var(--icon-dots);
		}
	}
	.logo svg {
		box-sizing: border-box;
		float: left;
		height: var(--icon-size);
		margin-right: .45em;
		padding: .25em;
		width: var(--icon-size);
	}

	/**
	 * Environment
	 */
	.logo[data-env] {
		color: var(--mtds-logo-color);
	}
	.logo[data-env]:empty::before,
	.logo[data-env]:not(:empty)::after {
		content: "[" attr(data-env) "]";
		font-size: min(1em, var(--ds-body-lg-font-size));
		font-weight: 400;
		margin-left: .2em;
		text-transform: lowercase;
	}
	html:has(.logo[data-env])::before {
		border-top: 5px solid var(--mtds-logo-color);
		content: "";
		inset: 0 0 auto;
		pointer-events: none;
		position: fixed;
		z-index: 99999;
	}
	html:has(.logo[data-env]) {
		--mtds-logo-color: var(--ds-color-danger-text-subtle); /* Rognebær */
	}
	html:has(.logo[data-env][data-color="info"]) {
		--mtds-logo-color: var(--ds-color-info-text-subtle);
	}
}
