@layer mt.design {
	.field {
		composes: ds-field from "@digdir/designsystemet-css";
		position: relative; /* Support <u-datalist> positioning */
		row-gap: var(--dsc-field-content-spacing);
		text-wrap: pretty; /* Make required tag wrap pretty */
	}
	.field > * {
		text-wrap: wrap; /* Reset text-wrap */
	}

	/* Remove space between label and description */
	.field :is(label + p, [data-field="description"], [data-description]) {
		margin-top: 0;
		color: inherit; /* Overwrite Digdir */
	}
	.field > :not(:disabled, [aria-disabled="true"]) {
		opacity: 1; /* Overwrite DigiDir disabled */
	}

	/**
	 * Mark <label> as required
	 */
	.field label:not([hidden]) {
		display: contents;
	}
	.field label[hidden]:first-child + * {
		margin-top: 0; /* Remove space if label is hidden */
	}
	.field label svg {
		display: inline-block; /* Fix Tailwind default */
		vertical-align: -0.15em;
	}
	.field:has(:required, [aria-required="true"]) label::after {
		box-sizing: border-box;
		background: var(--mtds-field-required-background);
		color: var(--ds-color-info-text-default);
		content:
			"\2002" var(--mtds-text-required) / ""; /* en-space to break together with last word */
		display: inline-block;
		font-size: var(--ds-body-xs-font-size);
		font-weight: normal;
		height: var(--ds-size-6);
		line-height: var(--ds-size-6);
		mask: var(--mtds-field-required-mask);
		padding: 0 var(--ds-size-2);
		vertical-align: 0.1em;
		white-space: nowrap;
	}
	.field [data-count]:not([hidden]) /* Backwards compatibility */,
	.field [data-field="counter"]:not([hidden]) {
		display: block; /* Overwrite validation message */
	}
	.field [data-count]::after /* Backwards compatibility */,
	.field [data-field="counter"]::after {
		font-size: var(--mtds-font-size-muted);
		content: attr(aria-label);
	}

	/**
	 * Toggles
	 */
	.field:has(input:is([type="radio"], [type="checkbox"])) {
		grid-template: "input content help" / auto 1fr auto; /* Make space for helpText as well */
		gap: 0;

		& > input {
			margin-right: var(--mtdsc-field-content-spacing);
		}

		/* Helptext */
		& > button[class*="helptext"] {
			grid-area: help;
			margin-block: 0;
		}

		& label {
			font-weight: normal;
		}
		& :is(p, [data-description]) {
			font-size: var(--ds-font-size-minus-1);
			padding-inline-start: 0; /* Reset DigDir */
		}
		&:has([readonly]:disabled) label {
			cursor: default; /* Stiling when both readonly and disabled since browser does not prevent readonly on checkobx/radio */
		}
	}

	.suggestion {
		composes: ds-suggestion from "@digdir/designsystemet-css";
		--dsc-suggestion-border-color: var(--ds-color-border-subtle);
		--dsc-suggestion-chip-background--hover: var(--ds-color-surface-hover);
		--dsc-suggestion-chip-background: var(--ds-color-surface-tinted);
		--dsc-suggestion-chip-border-color: var(--ds-color-border-subtle);
		--dsc-suggestion-chip-color: var(--ds-color-text-subtle);
		--dsc-suggestion-list-background: var(--ds-color-surface-default);
		--dsc-suggestion-list-color: var(--ds-color-text-default);
		--dsc-suggestion-option-checkmark-url: var(--mtds-icon-check);
		--dsc-suggestion-clear-padding: 0;
	}
	.suggestion:is(u-datalist):not(:defined) {
		display: none;
	}
	.suggestion u-option::before {
		scale: 0.75;
	}

	/**
	 * Affixes
	 */
	.affixes {
		composes: ds-field-affixes from "@digdir/designsystemet-css";

		--dsc-field-affix-border-color: var(--ds-color-border-default);

		align-items: center;
		background: var(--ds-color-background-tinted);
		box-shadow: inset 0 0 0 var(--ds-border-width-default)
			var(--dsc-field-affix-border-color);
		color: inherit;
		white-space: nowrap;
	}
	.affixes:where(:not([hidden])) {
		display: flex;
	}

	/* TMP: LastPass fix */
	.affixes > :not(:empty) {
		padding-inline: var(--dsc-field-affix-padding-inline);
	}
	.affixes > input:has(+ [data-lastpass-icon-root]) {
		border-bottom-right-radius: var(--ds-border-radius-md);
		border-top-right-radius: var(--ds-border-radius-md);
	}
}

/* Add option to hide required text */
[data-required="hidden"] {
	--mtds-text-required: none;
}
