@layer mt.design {
	.details {
		composes: ds-details from "@digdir/designsystemet-css";

		--dsc-details-background: transparent;
		--dsc-details-summary-background: transparent;
		--dsc-details-summary-background--hover: transparent;
		--dsc-details-summary-background--open: transparent;

		& > :is(summary, u-summary)::before {
			transition: rotate .2s ease-out;
		}

		&[open] > :is(summary, u-summary)::before {
			rotate: -180deg;
		}
	}
}
