@layer mt.design {
	.card {
		--mtdsc-card-background: var(--ds-color-surface-default);
		--mtdsc-card-border-color--hover: var(--ds-color-border-strong);
		--mtdsc-card-border-color: var(--ds-color-border-subtle);
		--mtdsc-card-border-radius: var(--ds-border-radius-lg);
		--mtdsc-card-color: var(--ds-color-text-default);
		--mtdsc-card-padding: var(--ds-size-5);

		background: var(--mtdsc-card-background);
		border-radius: var(--ds-border-radius-lg);
		border: 1px solid var(--mtdsc-card-border-color);
		box-sizing: border-box;
		color: var(--mtdsc-card-color);
		font: inherit;
		margin: 0;
		padding: var(--mtdsc-card-padding);
		text-align: inherit;
		text-decoration: none;
		transition-duration: .15s;
		transition-property: border-color, scale;
	}
	:where(.card:not(tr, [hidden])) {
		display: block;
	}
	.card:is(label, button:enabled, button:not([aria-disabled="true"])) {
		cursor: pointer;
	}

	.card:is(u-details, details):has(> :is(u-summary, summary):hover),
	.card:is(:any-link, button, [role="button"]):hover {
		border-color: var(--mtdsc-card-border-color--hover);
	}

	.card:is(:any-link, button, [role="button"]):active {
		scale: 0.99;
	}

	.card:is(u-details, details) > :is(u-summary, summary) {
		margin: calc(var(--mtdsc-card-padding) * -1);
		padding: var(--mtdsc-card-padding);
	}

	.group {
		background-color: var(--ds-color-background-tinted);
		border-radius: var(--ds-border-radius-xl);
		box-sizing: border-box;
		padding: var(--ds-size-5);
	}
}
