@layer mt.design {
	.chip {
		composes: ds-chip from "@digdir/designsystemet-css";
		--dsc-chip-input-accent-color: var(--ds-color-base-contrast-default);
		--dsc-chip-border-radius: 1em; /* Prevent larger radius when growing in height */
		--dsc-chip-color: var(--ds-color-text-subtle);

		font-weight: normal; /* Reset <label> */
		max-width: 100%;
		text-align: left;
		transition-duration: 0.2s;
		transition-property: background-color, color;
	}
	.chip::after {
		flex-shrink: 0; /* TODO: Repport to DigDir */
	}
	.chip [data-nowrap] {
		overflow: clip;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-width: 0;
	}

	/* Double selector to win specificity */
	.chip.chip input[type="checkbox"] {
		border-radius: var(--dsc-chip-border-radius--checkbox-input);
	}

	.chip[data-removable] {
		background: var(--dsc-chip-background);
		border-color: var(--dsc-chip-border-color);
		color: var(--dsc-chip-color);
		padding-right: var(--ds-size-1);
	}
	.chip[data-removable]:hover::after {
		mask-image: var(--mtds-icon-close--filled);
	}
}
