@layer mt.design {
	.fieldset {
		composes: ds-fieldset from "@digdir/designsystemet-css";

		& > legend {
			padding: 0;
		}

		/* Reset designsystemet */
		& > legend + p {
			color: inherit;
			margin: 0;
		}

		/* Mark <legend> with "Required" if all inputs inside are required */
		&:has(:required, [aria-required="true"]):not(
				:has(:optional, [aria-required="false"])
			) {
			& > legend::after {
				background: var(--mtds-color-bakgrunns-blaa);
				border-radius: 5px;
				border: 1px solid var(--mtds-color-100);
				box-sizing: border-box;
				color: var(--mtds-color-fjord);
				content: var(--mtds-text-required);
				display: inline-block;
				font-size: var(--ds-body-xs-font-size);
				font-weight: normal;
				height: var(--ds-size-8);
				line-height: 1.5;
				margin-inline-start: var(--ds-size-3);
				padding: 0 var(--ds-size-2);
			}
			& label::after {
				content: none;
			}
		}

		/**
		 * Child added event inspired by:
		 * https://davidwalsh.name/detect-node-insertion
		 */
		& > [class*="validation"] {
			animation: fieldsetValidationAdded 100ms; /* Longer animation time than .field to ensure correct validation shows */
		}
	}
}

@keyframes fieldsetValidationAdded {
	from {
		clip: none;
	}
}
