@layer mt.design {
	.fieldset {
		composes: ds-fieldset from "@digdir/designsystemet-css";
		text-wrap: pretty; /* Make required tag wrap pretty */
	}
	/* Reset DigiDir Designsystemet */
	.fieldset > * + * {
		margin-top: var(--ds-size-3);
		text-wrap: wrap; /* Reset text-wrap */
	}
	.fieldset > legend:not([hidden]) {
		display: contents;
	}
	.fieldset > legend,
	.fieldset > legend + p {
		color: inherit;
		margin: 0;
		opacity: 1;
	}

	/* Mark <legend> with "Required" if all inputs inside are required */
	.fieldset:has(:required, [aria-required="true"]):not(
			:has(
					:optional:not(button):not([aria-required="true"]),
					[aria-required="false"]
				)
		) {
		& > legend::after {
			background: var(--mtds-field-required-background);
			color: var(--ds-color-info-text-default);
			/* en-space to break together with last word */
			content: "\2002" var(--mtds-text-required) / "";
			font-size: 0.75em;
			font-weight: normal;
			line-height: 1.3;
			mask: var(--mtds-field-required-mask);
			max-height: 1.3em;
			padding: 0.18em var(--ds-size-2);
			vertical-align: 0.1em;
			white-space: nowrap;
		}
		& label::after {
			content: none;
		}
	}
}
