.chart-generator u-option[aria-selected="true"] {
	background: var(--mtds-color-surface-tinted);
	outline: 2px solid;
}
.chart-generator u-option::before {
	display: none;
}
.chart-generator u-option {
	padding: var(--mtds-3);
}
.chart-generator .wtHolder {
	overscroll-behavior: contain;
}
.chart-generator .ht-theme-main {
	--ht-color-accent-subtle: color-mix(
		in srgb,
		var(--mtds-color-base-default),
		transparent 20%
	);
	--ht-color-accent: var(--mtds-color-base-default);
	--ht-color-base: var(--mtds-color-base-default);
	--ht-color-border: var(--mtds-color-border-subtle);
	--ht-color-subtle: var(--mtds-color-background-tinted);
	--ht-color-surface-tinted: var(--mtds-color-background-tinted);
	--ht-color-surface: var(--mtds-color-surface-default);
	font: inherit;

	--ht-font-size: 14px;
	--ht-line-height: 20px;
	--ht-font-weight: 400;
	--ht-letter-spacing: 0px;
	--ht-gap-size: 4px;
	--ht-icon-size: 16px;
	--ht-table-transition: 0.15s;
	--ht-border-color: var(--ht-color-border);
	--ht-accent-color: var(--ht-color-accent);
	--ht-foreground-color: var(--ht-color-base);
	--ht-background-color: var(--ht-color-surface);
	--ht-placeholder-color: var(--ht-color-subtle);
	--ht-read-only-color: var(--ht-color-subtle);
	--ht-disabled-color: var(--ht-color-subtle);
	--ht-cell-horizontal-border-color: var(--ht-color-border);
	--ht-cell-vertical-border-color: var(--ht-color-border);
	--ht-wrapper-border-width: 0px;
	--ht-wrapper-border-radius: 4px;
	--ht-wrapper-border-color: var(--ht-color-border);
	--ht-row-header-odd-background-color: var(--ht-color-surface-tinted);
	--ht-row-header-even-background-color: var(--ht-color-surface-tinted);
	--ht-row-cell-odd-background-color: transparent;
	--ht-row-cell-even-background-color: transparent;
	--ht-cell-horizontal-padding: 8px;
	--ht-cell-vertical-padding: 4px;
	--ht-cell-editor-border-width: 2px;
	--ht-cell-editor-border-color: var(--ht-color-accent);
	--ht-cell-editor-foreground-color: var(--ht-color-base);
	--ht-cell-editor-background-color: var(--ht-color-surface);
	--ht-cell-editor-shadow-blur-radius: 0px;
	--ht-cell-editor-shadow-color: var(--ht-color-accent);
	--ht-cell-success-background-color: var(--ht-color-accent-subtle);
	--ht-cell-read-only-background-color: var(--ht-color-border);
	--ht-cell-selection-border-color: var(--ht-color-accent);
	--ht-cell-selection-background-color: var(--ht-color-accent-subtle);
	--ht-cell-autofill-size: 6px;
	--ht-cell-autofill-border-width: 1px;
	--ht-cell-autofill-border-radius: 4px;
	--ht-cell-autofill-border-color: var(--ht-color-surface);
	--ht-cell-autofill-background-color: var(--ht-color-accent);
	--ht-cell-autofill-fill-border-color: var(--ht-color-base);
	--ht-cell-mobile-handle-size: 12px;
	--ht-cell-mobile-handle-border-width: 1px;
	--ht-cell-mobile-handle-border-radius: 6px;
	--ht-cell-mobile-handle-border-color: var(--ht-color-accent);
	--ht-cell-mobile-handle-background-color: var(--ht-color-accent);
	--ht-resize-indicator-color: var(--ht-color-base);
	--ht-move-backlight-color: var(--ht-color-subtle);
	--ht-move-indicator-color: var(--ht-color-accent);
	--ht-hidden-indicator-color: var(--ht-color-base);
	--ht-scrollbar-border-radius: 8px;
	--ht-scrollbar-track-color: var(--ht-color-subtle);
	--ht-scrollbar-thumb-color: var(--ht-color-subtle);
	--ht-header-font-weight: 700;
	--ht-header-foreground-color: var(--ht-color-base);
	--ht-header-background-color: var(--ht-color-surface-tinted);
	--ht-header-highlighted-shadow-size: 0px;
	--ht-header-highlighted-foreground-color: var(--ht-color-surface);
	--ht-header-highlighted-background-color: var(--ht-color-accent);
	--ht-header-active-border-color: var(--ht-color-accent);
	--ht-header-active-foreground-color: var(--ht-color-surface);
	--ht-header-active-background-color: var(--ht-color-accent);
	--ht-header-filter-background-color: var(--ht-color-accent-subtle);
	--ht-header-row-foreground-color: var(--ht-color-base);
	--ht-header-row-background-color: var(--ht-color-border);
	--ht-header-row-highlighted-foreground-color: var(--ht-color-surface);
	--ht-header-row-highlighted-background-color: var(--ht-color-accent);
	--ht-header-row-active-foreground-color: var(--ht-color-surface);
	--ht-header-row-active-background-color: var(--ht-color-accent);
	--ht-checkbox-size: 16px;
	--ht-checkbox-border-radius: 4px;
	--ht-checkbox-border-color: var(--ht-color-subtle);
	--ht-checkbox-background-color: var(--ht-color-surface);
	--ht-checkbox-icon-color: transparent;
	--ht-checkbox-focus-border-color: var(--ht-color-subtle);
	--ht-checkbox-focus-background-color: var(--ht-color-surface);
	--ht-checkbox-focus-icon-color: transparent;
	--ht-checkbox-focus-ring-color: var(--ht-color-accent);
	--ht-checkbox-disabled-border-color: var(--ht-color-subtle);
	--ht-checkbox-disabled-background-color: var(--ht-color-subtle);
	--ht-checkbox-disabled-icon-color: transparent;
	--ht-checkbox-checked-border-color: var(--ht-color-accent);
	--ht-checkbox-checked-background-color: var(--ht-color-accent);
	--ht-checkbox-checked-icon-color: var(--ht-color-surface);
	--ht-checkbox-checked-focus-border-color: var(--ht-color-surface);
	--ht-checkbox-checked-focus-background-color: var(--ht-color-accent);
	--ht-checkbox-checked-focus-icon-color: var(--ht-color-surface);
	--ht-checkbox-checked-disabled-border-color: var(--ht-color-subtle);
	--ht-checkbox-checked-disabled-background-color: var(--ht-color-subtle);
	--ht-checkbox-checked-disabled-icon-color: var(--ht-color-subtle);
	--ht-checkbox-indeterminate-border-color: var(--ht-color-accent);
	--ht-checkbox-indeterminate-background-color: var(--ht-color-accent);
	--ht-checkbox-indeterminate-icon-color: var(--ht-color-surface);
	--ht-checkbox-indeterminate-focus-border-color: var(--ht-color-surface);
	--ht-checkbox-indeterminate-focus-background-color: var(--ht-color-accent);
	--ht-checkbox-indeterminate-focus-icon-color: var(--ht-color-surface);
	--ht-checkbox-indeterminate-disabled-border-color: var(--ht-color-subtle);
	--ht-checkbox-indeterminate-disabled-background-color: var(--ht-color-subtle);
	--ht-checkbox-indeterminate-disabled-icon-color: var(--ht-color-subtle);
	--ht-radio-size: 16px;
	--ht-radio-border-color: var(--ht-color-subtle);
	--ht-radio-background-color: var(--ht-color-surface);
	--ht-radio-icon-color: transparent;
	--ht-radio-focus-border-color: var(--ht-color-subtle);
	--ht-radio-focus-background-color: var(--ht-color-surface);
	--ht-radio-focus-icon-color: transparent;
	--ht-radio-focus-ring-color: var(--ht-color-accent);
	--ht-radio-disabled-border-color: var(--ht-color-subtle);
	--ht-radio-disabled-background-color: var(--ht-color-subtle);
	--ht-radio-disabled-icon-color: transparent;
	--ht-radio-checked-border-color: var(--ht-color-accent);
	--ht-radio-checked-background-color: var(--ht-color-surface);
	--ht-radio-checked-icon-color: var(--ht-color-accent);
	--ht-radio-checked-focus-border-color: var(--ht-color-accent);
	--ht-radio-checked-focus-background-color: var(--ht-color-surface);
	--ht-radio-checked-focus-icon-color: var(--ht-color-accent);
	--ht-radio-checked-disabled-border-color: var(--ht-color-subtle);
	--ht-radio-checked-disabled-background-color: var(--ht-color-subtle);
	--ht-radio-checked-disabled-icon-color: var(--ht-color-subtle);
	--ht-icon-button-border-radius: 2px;
	--ht-icon-button-border-color: var(--ht-color-subtle);
	--ht-icon-button-background-color: var(--ht-color-subtle);
	--ht-icon-button-icon-color: var(--ht-color-base);
	--ht-icon-button-hover-border-color: var(--ht-color-subtle);
	--ht-icon-button-hover-background-color: var(--ht-color-subtle);
	--ht-icon-button-hover-icon-color: var(--ht-color-base);
	--ht-icon-button-active-border-color: var(--ht-color-accent);
	--ht-icon-button-active-background-color: var(--ht-color-accent);
	--ht-icon-button-active-icon-color: var(--ht-color-surface);
	--ht-icon-button-active-hover-border-color: var(--ht-color-accent);
	--ht-icon-button-active-hover-background-color: var(--ht-color-accent);
	--ht-icon-button-active-hover-icon-color: var(--ht-color-surface);
	--ht-collapse-button-border-radius: 4px;
	--ht-collapse-button-open-border-color: var(--ht-color-subtle);
	--ht-collapse-button-open-background-color: var(--ht-color-surface);
	--ht-collapse-button-open-icon-color: var(--ht-color-subtle);
	--ht-collapse-button-open-icon-active-color: var(--ht-color-subtle);
	--ht-collapse-button-open-hover-border-color: var(--ht-color-subtle);
	--ht-collapse-button-open-hover-background-color: var(--ht-color-subtle);
	--ht-collapse-button-open-hover-icon-color: var(--ht-color-subtle);
	--ht-collapse-button-open-hover-icon-active-color: var(--ht-color-subtle);
	--ht-collapse-button-close-border-color: var(--ht-color-subtle);
	--ht-collapse-button-close-background-color: var(--ht-color-subtle);
	--ht-collapse-button-close-icon-color: var(--ht-color-subtle);
	--ht-collapse-button-close-icon-active-color: var(--ht-color-subtle);
	--ht-collapse-button-close-hover-border-color: var(--ht-color-subtle);
	--ht-collapse-button-close-hover-background-color: var(--ht-color-subtle);
	--ht-collapse-button-close-hover-icon-color: var(--ht-color-subtle);
	--ht-collapse-button-close-hover-icon-active-color: var(--ht-color-subtle);
	--ht-button-border-radius: 4px;
	--ht-button-horizontal-padding: 12px;
	--ht-button-vertical-padding: 6px;
	--ht-primary-button-border-color: transparent;
	--ht-primary-button-foreground-color: var(--ht-color-surface);
	--ht-primary-button-background-color: var(--ht-color-accent);
	--ht-primary-button-disabled-border-color: transparent;
	--ht-primary-button-disabled-foreground-color: var(--ht-color-subtle);
	--ht-primary-button-disabled-background-color: var(--ht-color-subtle);
	--ht-primary-button-hover-border-color: transparent;
	--ht-primary-button-hover-foreground-color: var(--ht-color-surface);
	--ht-primary-button-hover-background-color: var(--ht-color-accent);
	--ht-primary-button-focus-border-color: var(--ht-color-surface);
	--ht-primary-button-focus-foreground-color: var(--ht-color-surface);
	--ht-primary-button-focus-background-color: var(--ht-color-accent);
	--ht-secondary-button-border-color: var(--ht-color-subtle);
	--ht-secondary-button-foreground-color: var(--ht-color-base);
	--ht-secondary-button-background-color: var(--ht-color-surface);
	--ht-secondary-button-disabled-border-color: var(--ht-color-subtle);
	--ht-secondary-button-disabled-foreground-color: var(--ht-color-subtle);
	--ht-secondary-button-disabled-background-color: var(--ht-color-subtle);
	--ht-secondary-button-hover-border-color: var(--ht-color-subtle);
	--ht-secondary-button-hover-foreground-color: var(--ht-color-base);
	--ht-secondary-button-hover-background-color: var(--ht-color-subtle);
	--ht-secondary-button-focus-border-color: var(--ht-color-subtle);
	--ht-secondary-button-focus-foreground-color: var(--ht-color-base);
	--ht-secondary-button-focus-background-color: var(--ht-color-surface);
	--ht-comments-textarea-horizontal-padding: 8px;
	--ht-comments-textarea-vertical-padding: 4px;
	--ht-comments-textarea-border-width: 1px;
	--ht-comments-textarea-border-color: transparent;
	--ht-comments-textarea-foreground-color: var(--ht-color-base);
	--ht-comments-textarea-background-color: var(--ht-color-subtle);
	--ht-comments-textarea-focus-border-width: 1px;
	--ht-comments-textarea-focus-border-color: var(--ht-color-accent);
	--ht-comments-textarea-focus-foreground-color: var(--ht-color-base);
	--ht-comments-textarea-focus-background-color: var(--ht-color-surface);
	--ht-comments-indicator-size: 6px;
	--ht-comments-indicator-color: var(--ht-color-accent);
	--ht-license-horizontal-padding: 16px;
	--ht-license-vertical-padding: 8px;
	--ht-license-foreground-color: var(--ht-color-base);
	--ht-license-background-color: var(--ht-color-subtle);
	--ht-link-color: var(--ht-color-accent);
	--ht-link-hover-color: var(--ht-color-accent);
	--ht-input-border-width: 1px;
	--ht-input-border-radius: 4px;
	--ht-input-horizontal-padding: 12px;
	--ht-input-vertical-padding: 6px;
	--ht-input-border-color: var(--ht-color-subtle);
	--ht-input-foreground-color: var(--ht-color-base);
	--ht-input-background-color: var(--ht-color-subtle);
	--ht-input-hover-border-color: var(--ht-color-subtle);
	--ht-input-hover-foreground-color: var(--ht-color-base);
	--ht-input-hover-background-color: var(--ht-color-surface);
	--ht-input-disabled-border-color: var(--ht-color-subtle);
	--ht-input-disabled-foreground-color: var(--ht-color-subtle);
	--ht-input-disabled-background-color: var(--ht-color-subtle);
	--ht-input-focus-border-color: var(--ht-color-accent);
	--ht-input-focus-foreground-color: var(--ht-color-base);
	--ht-input-focus-background-color: var(--ht-color-surface);
	--ht-menu-border-width: 1px;
	--ht-menu-border-radius: 4px;
	--ht-menu-horizontal-padding: 0px;
	--ht-menu-vertical-padding: 8px;
	--ht-menu-item-horizontal-padding: 12px;
	--ht-menu-item-vertical-padding: 4px;
	--ht-menu-border-color: var(--ht-color-subtle);
	--ht-menu-shadow-x: 0;
	--ht-menu-shadow-y: 8px;
	--ht-menu-shadow-blur: 16px;
	--ht-menu-shadow-color: var(--ht-color-subtle);
	--ht-menu-item-hover-color: var(--ht-color-border);
	--ht-menu-item-active-color: var(--ht-color-subtle);
}
