@layer mt.design {
	.pagination {
		composes: ds-pagination from "@digdir/designsystemet-css";
		--dsc-pagination-icon-url: var(--mtds-icon-chevron--right);
	}
	.pagination :is(a, button) {
		border-radius: var(--ds-border-radius-full);
	}
	.pagination li:first-child > :is(a, button):empty::after {
		position: absolute;
		content: "" / var(--mtds-text-previous);
	}
	.pagination li:last-child > :is(a, button):empty::after {
		position: absolute;
		content: "" / var(--mtds-text-next);
	}
}
