@layer mt.design {
	.pagination {
		composes: ds-pagination from "@digdir/designsystemet-css";

		/* Overwrite to same as tertiary from Designsystemet  */
		& :is(a, button):not([aria-current="page"]) {
			--dsc-button-background: transparent;
			--dsc-button-background--active: var(--ds-color-surface-active);
			--dsc-button-background--hover: var(--ds-color-surface-hover);
			--dsc-button-color: var(--ds-color-text-subtle);
			--dsc-button-color--hover: var(--ds-color-text-default);
		}

		/* Chevrons  */
		& > :is(ol, ul) > li:first-child > :is(a, button)::before,
		& > :is(ol, ul) > li:last-child > :is(a, button)::before {
			background: currentcolor;
			content: "";
			height: var(--mt-icon-size);
			mask: center / contain no-repeat var(--mt-icon-chevron);
			order: 1;
			width: var(--mt-icon-size);
		}
		& > :is(ol, ul) > li:first-child > :is(a, button)::before {
			order: 0;
			rotate: 180deg;
		}
		& > :is(ol, ul) > li:first-child:empty > :is(a, button)::before {
			content: "Forrige";
		}
		& > :is(ol, ul) > li:last-child:empty > :is(a, button)::before {
			content: "Neste";
		}
		& :is(a, button) {
			pointer-events: all; /* TODO: Fix in Designsystemet */
		}
		& :is(a, button)::after {
			content: none;
		}

		/* Ellipsis when empty */
		& :is(ol, ul) > li:empty {
			align-items: center;
			display: flex;
			justify-content: center;
			min-width: var(--ds-sizing-12);

			&::before {
				content: "\2026"; /* Ellipsis, fallback for old Firefox */
				content: "\2026" / "..."; /* Ellipsis, hidden from screen readers */
				font-variant-numeric: normal;
			}
		}
	}
}
