@layer mt.design {
	.pagination {
		composes: ds-pagination from "@digdir/designsystemet-css";

		& :is(a, button) {
			border-radius: var(--ds-border-radius-full);
		}

		/* Chevrons  */
		& li:first-child > :is(a, button)::before,
		& li:last-child > :is(a, button)::before {
			background: currentcolor;
			content: "";
			height: var(--mt-icon-size);
			mask: center / contain no-repeat var(--mt-icon-chevron);
			order: 1;
			width: var(--mt-icon-size);
		}
		& li:first-child > :is(a, button)::before {
			order: 0;
			rotate: 180deg;
		}
		& li:first-child:empty > :is(a, button)::before {
			content: "Forrige";
		}
		& li:last-child:empty > :is(a, button)::before {
			content: "Neste";
		}
		& :is(a, button)::after {
			content: none;
		}
	}
}
