@layer mt.design {
	.togglegroup {
		composes: ds-toggle-group from "@digdir/designsystemet-css";
		--dsc-togglegroup-background: var(--ds-color-background-tinted);
		--dsc-togglegroup-border-color: var(--ds-color-border-subtle);
		--dsc-togglegroup-spacing: var(--ds-size-1);
		--dsc-togglegroup-border-radius: calc(
			var(--ds-border-radius-sm) +
			var(--dsc-togglegroup-border-width)
		);
	}
	.togglegroup label {
		font-weight: var(--ds-font-weight-medium);
	}
	.togglegroup.togglegroup a[aria-current="true"] {
		--dsc-button-background: var(--ds-color-base-default);
		--dsc-button-color: var(--ds-color-base-contrast-default);
	}
}
