@layer mt.design {
	.togglegroup {
		composes: ds-toggle-group from "@digdir/designsystemet-css";
		--dsc-togglegroup-background: var(--ds-color-background-tinted);
		--dsc-togglegroup-border-color: var(--ds-color-border-subtle);
		--dsc-togglegroup-border-radius: calc(
			var(--ds-border-radius-sm) +
			var(--dsc-togglegroup-border-width)
		); /* TODO Digdir: minus spacing and have a minimum radius */
		--dsc-togglegroup-spacing: var(--ds-size-1);
	}
	/* TODO Digdir: */
	.togglegroup:not([hidden]) {
		display: flex;
	}
	.togglegroup label {
		font-weight: var(--ds-font-weight-medium);
	}
	.togglegroup label:not(:has(:checked)) {
		--dsc-button-background--active: var(--ds-color-background-tinted);
		--dsc-button-background--hover: var(--ds-color-background-tinted);
		--dsc-button-background: transparent;
		--dsc-button-color--hover: inherit;
		--dsc-button-color: inherit;
	}
}
