@layer mt.design {
	.badge {
		--dsc-badge-background: var(--ds-color-base-default);
		--dsc-badge-color: var(--ds-color-base-contrast-default);
		--dsc-badge-size: var(--ds-size-3);
		--mtdsc-badge-offset: 0px;
		--small: ;

		position: relative;
		place-items: center;
		vertical-align: middle;
	}
	.badge:where(:not([hidden])) {
		display: inline-grid;
	}

	.badge::before {
		background: var(--dsc-badge-background);
		border-radius: var(--ds-border-radius-full);
		box-sizing: border-box;
		color: var(--dsc-badge-color);
		content: attr(data-badge) ""; /* Empty string need to ensure bade is shown even when data-badge is empty */
		display: grid;
		font-size: var(--ds-body-xs-font-size);
		font-variant-numeric: tabular-nums;
		font-weight: 700;
		inset: 0 0 auto auto;
		line-height: 1.2;
		margin: var(--mtdsc-badge-offset);
		min-height: var(--dsc-badge-size);
		min-width: var(--dsc-badge-size);
		padding: 0 .3em;
		place-items: center;
		position: var(--small, absolute);
		scale: var(--small, 0.85);
		translate: var(--small, 50% -50%);
	}

	.badge[data-badge="true"]::before {
		content: "" !important; /* Ensure "true" is not rendered, even in AppLayout */
	}
	.badge:not(:empty) {
		--small: initial;
	}
	.badge:has([class*="avatar"]) {
		--mtdsc-badge-offset: var(--ds-size-2);
	}
}
