@layer mt.desgin {
	.map {
		aspect-ratio: 2;
		background: var(--ds-color-neutral-surface-tinted);
		border-radius: var(--ds-border-radius-md);
		display: grid;
		overflow: clip;
		user-select: none;
	}
	/* .map > * {
		grid-area: 1 / 1;
	}
	.map :global(.ol-overlaycontainer-stopevent) {
		display: grid;
	}
	.map > :not(:global(.ol-viewport)),
	.map :global(.ol-overlaycontainer-stopevent) > * {
		background: var(--ds-color-surface-default);
		border-radius: var(--ds-border-radius-md);
		box-shadow: var(--ds-box-shadow-md);
		margin: var(--mtds-3);
		width: fit-content;
		position: relative;
		z-index: 2;
	}
	.map [data-command|="zoom"] {
		display: flex;
	} */
}
