:host {
	aspect-ratio: 2;
	background: var(--ds-color-neutral-surface-tinted);
	border-radius: var(--ds-border-radius-md);
	overflow: clip;
	position: relative;
	user-select: none;
}
:host(:not([hidden])) {
	display: grid;
}
slot {
	display: grid;
	inset: var(--mtds-3);
	pointer-events: none;
	position: absolute;
	z-index: 2;
}
::slotted(*) {
	pointer-events: all;
}
.leaflet-div-icon {
	background: none;
	border: 0;
}
.leaflet-container {
	background: var(--ds-color-neutral-surface-tinted);
}
.leaflet-container {
	outline: 0;
}
.leaflet-tile-container {
	filter: contrast(0.75) brightness(1.15);
}

.map-pin rect {
	fill: var(--ds-color-surface-default);
}
.map-pin path {
	fill: var(--ds-color-text-default);
}
