@layer mt.design {
	/* Ensure :hover, even when disabled */
	[data-tooltip]:disabled,
	[data-tooltip][aria-disabled="true"] {
		pointer-events: all;
	}

	[data-tooltip]:focus-visible {
		box-shadow: var(--dsc-focus-boxShadow);
		outline: var(--dsc-focus-outline);
		outline-offset: var(--ds-border-width-focus);
	}

	._tooltip {
		composes: ds-tooltip from "@digdir/designsystemet-css";
		--dsc-tooltip-background: var(--ds-color-main-base-active);
		--dsc-tooltip-color: var(--ds-color-main-base-contrast-default);
		-webkit-font-smoothing: subpixel-antialiased;
		background: var(--dsc-tooltip-background);
		color: var(--dsc-tooltip-color);
		font-size: var(--ds-body-xs-font-size);
	}

	/* Used by charts */
	._tooltip:not([popover]) {
		pointer-events: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99999;
		translate: -50% calc(-100% - var(--dsc-tooltip-arrow-size));
	}
}
