/* Using ds.base as layer to allow mt.ds layer to overwrite <a> styling */
@layer ds.base {
	a,
	.link {
		color: inherit;
		text-decoration: underline;
		text-decoration-thickness: 0.0625em; /* 1px ish */
		text-underline-offset: 0.27em; /* 5px ish */
		transition: .2s;
		outline-offset: 2px;
		outline: 2px none currentcolor;

		& :is(img, svg) {
			vertical-align: middle; /* Align img or svg icon with text */
		}

		&:hover {
			text-decoration-thickness: 0.125em; /* 2px ish */
		}

		&:focus-visible {
			outline-style: solid;
		}
	}
}
