/* Using ds.base as layer to allow mt.ds layer to overwrite <a> styling */
@layer ds.components {
	a, .link{
		--dsc-link-color: currentcolor;
	}
	.link {
		composes: ds-link from "@digdir/designsystemet-css";
	}
}
