.lovdata { box-sizing: border-box; margin: 3em auto; max-width: 900px }
.lovdata * { box-sizing: border-box; position: relative; margin: 0 }
.lovdata :is(h1,h2,h3,h4,h5,h6,span,a,strong,b,i,u,button,table,img,figure) { contain: content; content-visibility: auto } /* Prevent render when outside screen */
.lovdata :is(ol, ul, div, footer) + :is(ol, ul, div, footer) { margin-top: 1em } /* numberedLegalP alwyas has a sentence of pure text as first ledd */
.lovdata :is(li, li :is(ol, ul, div, footer) + :is(ol, ul, div, footer)) { margin-top: .25em } /* Decrease space inside lists */
.lovdata :is(ol, ul, [data-text-indent], .numberedLegalP > :is(div, footer)) { margin-left: var(--ds-size-8) } /* Add some indent to sub items of numberedLegalP */
.lovdata :is(.section, .legalArticle) { margin-block: 1.5em }
.lovdata :is(h1, h2, h3, h4, h5, h6, [role="heading"]) { margin-block: 2em .25em; line-height: 1.3 } /* More margin for headings */
.lovdata :is(h5, h6, [role="heading"]) { font-weight: bold; font-size: 1.125em } /* Ensure headings are not too small */
.lovdata :is(ol, ul) { list-style: none; padding: 0 }
.lovdata :is(.footnote, .changesToParent) { font-size: .875rem }

.lovdata table { margin-block: 1em; font-size: .75em; table-layout: fixed; word-break: break-word; border-collapse: separate; border: 1px solid var(--ds-color-border-subtle); border-radius: var(--ds-border-radius-default); border-spacing: 0px; width: 100% }
.lovdata table tr:not(:last-child) > * { border-bottom: 1px solid var(--ds-color-border-subtle) }
.lovdata table tr > * { padding: .2em .5em; text-align: inherit; vertical-align: top }
.lovdata table tr > * + * { border-left: 1px solid var(--ds-color-border-subtle) }
.lovdata table thead th { border-bottom: 1px solid var(--ds-color-border-default); background: var(--ds-color-surface-tinted) }
.lovdata table caption { text-align: inherit; font-weight: bold; margin-block: .5em }
.lovdata img { border: 1px solid var(--ds-color-border-subtle); width: 100%; padding: var(--ds-size-2); object-fit: contain; background: var(--ds-color-background-tinted); border-radius: var(--ds-border-radius-default); filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .2)) }

.lovdata button {
  background: var(--ds-color-info-surface-tinted);
  border-radius: var(--ds-border-radius-default);
  border: var(--ds-border-width-default) solid var(--ds-color-info-border-subtle);
  color: var(--ds-color-info-text-default);
  cursor: pointer;
  font-family: inherit;
  font-size: .875rem;
  font-weight: normal;
  line-height: 1.5;
  padding: 0 var(--ds-size-1);
  position: absolute;
  right: calc(100% + var(--ds-size-2));
  user-select: none;
  white-space: nowrap;
}
.lovdata button[aria-checked="mixed"] {
  background: var(--ds-color-success-surface-tinted);
  border-color: var(--ds-color-success-border-subtle);
  color: var(--ds-color-success-text-default);
  &::before { content: '- ' }
}
.lovdata button[aria-checked="true"] {
  background: var(--ds-color-success-base-default);
  border-color: var(--ds-color-success-base-default);
  color: var(--ds-color-success-base-contrast-subtle);
  &::before { content: '✔ ' }
}
.lovdata button:focus-visible {
  box-shadow: var(--dsc-focus-boxShadow);
  outline: var(--dsc-focus-outline);
  outline-offset: var(--ds-border-width-focus);
}

/* Prevent overlapping tags */ /* TODO: How can we make sure we select the innermost element? */
.lovdata [data-mtds-name]:is(.listArticle, .marginIdArticle, .numberedLegalP) > .legalP:first-of-type > button { display: none }

/* Ensure IDs are placed left of related title or paragraph, not over */
.lovdata :is(.data-originalId, .data-marginOriginalId) { float: left; margin-right: .25em }
.lovdata :is(li[data-name] > .listArticle, .marginIdArticle) > div { margin-left: 1.5em } /* Make space for IDs */
.lovdata li[data-name="-"] > .listArticle > div { margin-left: .75em } /* No need for lagre gap if ID is a dash */


/* Vinforskriften, artikkel 75 */
/* .ex-lovdata [data-absoluteaddress="/kapittel/1/kapittel/1/kapittel/1/paragraf/3/nummer/1/"] li[data-name="g."] {
  background: var(--ds-color-surface-tinted);
  box-decoration-break: clone;
  border-radius: 4px;
}
.ex-lovdata [data-absoluteaddress="/kapittel/1/kapittel/1/kapittel/1/paragraf/3/"] > :first-child::before,
.ex-lovdata [data-absoluteaddress="/kapittel/1/kapittel/1/kapittel/1/paragraf/3/nummer/1/"]::before,
.ex-lovdata [data-absoluteaddress="/kapittel/1/kapittel/1/kapittel/1/paragraf/3/nummer/1/"] li[data-name="g."] *::before {
  background: var(--ds-color-success-surface-tinted);
  border-color: var(--ds-color-success-border-subtle);
  color: var(--ds-color-success-text-default);
  content: '➖ ' var(--law-unit);
  padding: 0 var(--ds-size-1);
}
.ex-lovdata [data-absoluteaddress="/kapittel/1/kapittel/1/kapittel/1/paragraf/3/nummer/1/"] li[data-name="g."]::before {
  background: var(--ds-color-success-base-default);
  color: var(--ds-color-success-base-contrast-subtle);
  content: '✅ ' var(--law-unit);
  padding: 0 var(--ds-size-1);
} */

/**
 * NOTE:
 * - All .legalArticle has a .legalArticleHeader
 * - All .section has a h1/h2/h3/h4/h5/h6/[role="heading"]
 * - Not all .marginIdArticle has .miscHeadline
 * - .section[data-section-type] is useless as the section type is used wildly inconsitent
 */