.lovdata {
  --input-size: var(--mtds-6);
  --input-gap: var(--mtds-2);
  --inset: calc(var(--input-size) + var(--input-gap));
  padding: 30px 0 50px var(--inset);
}
.lovdata input { position: absolute; translate: calc(var(--inset) * -1) .2em }
.lovdata table { margin: 1em 0; border-collapse: separate; border: 1px solid var(--mtds-color-border-subtle); border-radius: var(--mtds-border-radius-default); border-spacing: 0px; width: 100% }
.lovdata table tr:not(:last-child) > * { border-bottom: 1px solid var(--mtds-color-border-subtle) }
.lovdata table tr > * { padding: .2em .5em; text-align: inherit; vertical-align: top }
.lovdata table tr > * + * { border-left: 1px solid var(--mtds-color-border-subtle) }
.lovdata table thead th { border-bottom: 1px solid var(--mtds-color-border-default); background: var(--mtds-color-surface-tinted) }
.lovdata table caption { text-align: inherit; font-weight: bold; margin-block: .5em }

/* Headings and insets */
/*.lovdata .section > :not(:first-child:is(h1,h2,h3,h4,h5,h6,[role="heading"])),
.lovdata .legalArticle > :not(:first-child.legalArticleHeader),
.lovdata .listArticle > :not(:first-child.data-originalId),
.lovdata .marginIdArticle > :not(:first-child.data-marginOriginalId) { margin-left: var(--inset) }
.lovdata .marginIdArticle > .miscHeadline { margin-left: .2em }*/

.lovdata .defaultList,
.lovdata .defaultP,
.lovdata .footnote,
.lovdata .legalP,
.lovdata .marginIdArticle,
.lovdata .miscHeadline,
.lovdata .numberedLegalP {
  margin-block: .5em;
}

.lovdata :is(h1,h2,h3,h4,h5,h6,[role="heading"]) { margin-block: 1.5em .75em } /* More margin for headings */
.lovdata :is(h5, h6, [role="heading"]) { font-weight: bold; font-size: 1.125em } /* Ensure headings are not too small */
.lovdata .defaultList { list-style: none; padding: 0; margin-bottom: 1em } /* Indent comes from [data-text-indent], so remove ol/ul paddings */

.lovdata [data-text-indent] { margin-left: var(--inset) }
.lovdata :is(.footnote, .changesToParent) { font-size: .875rem }

.lovdata .listArticle > .data-originalId { float: left; display: flex; flex-direction: row-reverse; width: 0 } /* Inline list numbers */
.lovdata .marginIdArticle > .data-marginOriginalId { margin-right: .2em } /* Space up marginOriginalId with miscHeadline */
.lovdata :is(.data-originalId, .data-marginOriginalId) ~ * { /* Make indent to put <input> between list number and content */
  box-sizing: border-box;
  translate: calc(var(--inset) + var(--input-gap));
  width: calc(100% - var(--inset) - var(--input-gap));
}

/* In EU directives (i.e. "Forskrift om avliving av dyr", .numberedLegalP followed by .defaultP should be be perceived as a sub-element) */
.lovdata .numberedLegalP ~ :not(.numberedLegalP) { margin-left: var(--inset) } /* More space after numberedLegalP */
.lovdata :not(.numberedLegalP):has(+ .numberedLegalP) { margin-bottom: 1em } /* More space before numberedLegalP */


/*.lovdata .defaultList > li > :first-child, .lovdata .listArticle > span + * { margin-top: 0 }
.lovdata .defaultList > li > :last-child, .lovdata .listArticle > span ~ :last-child { margin-bottom: 0 }*/
/*.lovdata .listArticle { display: grid; grid-template-columns: auto 1fr; column-gap: .5em; }
.lovdata .listArticle > :not(span) { grid-column: 2; }*/

/* .lovdata u-summary > * { all: unset } */
/* .lovdata u-details > article { overflow-y: clip; position: relative; padding-bottom: 30px } */
/* .lovdata [data-text-align="center"] { text-align: center } */
/*.lovdata .marginIdArticle > :not(.data-marginOriginalId):not(.miscHeadline) { margin-left: var(--inset) }
.lovdata .data-marginOriginalId { display: inline-block; width: 4em }*/
/*.lovdata .listArticle > .data-originalId,*/
/* .lovdata .defaultP,
.lovdata .legalArticle,
.lovdata .legalP,
.lovdata .marginIdArticle,
.lovdata .numberedLegalP {
  &::before {
    border-radius: 4px;
    border: 1px solid;
    content: '';
    height: 1em;
    position: absolute;
    translate: calc(-100% - 4px) .25em;
    width: 1em;
  }
} */
/* marginIdArticle Når denne metoden benyttes, skal den driftsansvarlige sørge for å unngå brud */

/*.lovdata .listArticle:has(> .data-originalId:first-child) {
  padding-left: var(--inset);
}
.lovdata .listArticle > .data-originalId:first-child {
  position: absolute;
  translate: calc(var(--inset) * -1);
}*/