@layer mt.design {
	.progress {
		display: block;
		border-radius: var(--ds-border-radius-full);
		border-width: 0;
		background: var(--ds-color-surface-tinted);
		color: var(--ds-color-text-subtle);
		height: var(--ds-size-3);
	}
	.progress::before {
		border-radius: inherit;
	}
	.progress:not([value])::before {
		animation: _indeterminate 1.5s infinite ease-in-out;
		width: 75%;
	}

	@keyframes _indeterminate {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(150%);
		}
	}
}
