@layer mt.design {
	.skeleton {
		composes: ds-skeleton from "@digdir/designsystemet-css";
		--dsc-skeleton-animation: _skeleton var(--dsc-skeleton-animation-duration)
			linear infinite alternate;

		background: currentcolor;
		color: inherit;

		&[data-variant="circle"] {
			height: auto;
		}
	}
}
/* Animates background instead of opacity to make Axe Accessibility tests understand color: transparent is intentionally set */
@keyframes _skeleton {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 0.045;
	}
}
