@layer mt.design {
	.tabs {
		composes: ds-tabs from "@digdir/designsystemet-css";
		--dsc-tabs-tab-color: var(--ds-color-text-subtle);
		--dsc-tabs-tab-color--hover: var(--ds-color-text-default);
		--dsc-tabs-tab-color--selected: var(--ds-color-text-default);
		--dsc-tabs-tab-background--selected: transparent;
		--dsc-tabs-list-border-color: var(--ds-color-border-default);
		--dsc-tabs-content-padding: var(--ds-size-8) 0 0;
		--dsc-tabs-gap: var(--ds-size-2);
	}
	.tabs [role="tablist"]:not([hidden]) {
		-webkit-overflow-scrolling: touch;
		animation: _scrollMask linear;
		animation-timeline: scroll(self inline);
		border: 0;
		display: flex;
		overflow-x: auto;
		scrollbar-width: none; /* Firefox */
		mask:
			linear-gradient(
				to right,
				transparent,
				black 2em,
				black calc(100% - 2em),
				transparent
			)
			-2em / calc(100% + 4em) no-repeat;
	}
	.tabs [role="tablist"]::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}
	.tabs [role="tablist"]::after {
		content: "";
		flex-grow: 1;
		border-bottom: var(--dsc-tabs-list-border-bottom-width)
			var(--dsc-tabs-list-border-bottom-style) var(--dsc-tabs-list-border-color);
	}
	.tabs [role="tab"] {
		border-color: var(--dsc-tabs-list-border-color);
		border-radius: var(--ds-border-radius-md) var(--ds-border-radius-md) 0 0;
		background: var(--ds-color-background-tinted);
		transition-duration: 0.2s;
		transition-property: background-color, color, border-color;
		position: relative;
	}
	.tabs [role="tab"]::after {
		all: unset; /* Reset DigiDir */
		border-color: inherit;
		border-radius: inherit;
		border-style: var(--dsc-tabs-list-border-bottom-style);
		border-width: 0 0 var(--dsc-tabs-list-border-bottom-width);
		content: "";
		inset: 0 calc(var(--dsc-tabs-gap) * -1);
		position: absolute;
	}
	.tabs [role="tab"] + [role="tab"] {
		margin-left: var(--dsc-tabs-gap);
	}
	.tabs [role="tab"]:last-child::after {
		right: 0;
	}
	.tabs [role="tab"]:hover {
		background: var(--ds-color-surface-hover);
	}
	.tabs [role="tab"]:active {
		background: var(--ds-color-surface-active);
	}
	.tabs [role="tab"][aria-selected="true"] {
		background: var(--dsc-tabs-tab-background--selected);
	}
	.tabs [role="tab"][aria-selected="true"]::after {
		border-width: var(--dsc-tabs-list-border-bottom-width)
			var(--dsc-tabs-list-border-bottom-width) 0;
		inset: 0;
	}

	@keyframes _scrollMask {
		from {
			mask-position: -4em;
		}
		to {
			mask-position: 0;
		}
	}
}
