@layer mt.design {
	.tabs {
		composes: ds-tabs from "@digdir/designsystemet-css";
		--dsc-tabs-tab-color: var(--mtds-color-text-subtle);
		--dsc-tabs-tab-color--hover: var(--mtds-color-text-subtle);
		--dsc-tabs-content-padding: var(--ds-size-2) 0;
		--dsc-tabs-gap: var(--ds-size-2);
	}
	.tabs [role="tablist"] {
		/* TODO: DigiDir allow button inside Tabs.List */
		flex-wrap: wrap;
		gap: var(--dsc-tabs-gap);
		padding-bottom: var(--dsc-tabs-gap);
	}
	.tabs [role="tab"]::after {
		display: none;
	}
	.tabs [role="tab"] {
		border-radius: var(--ds-border-radius-full);
		background: transparent;
		color: inherit;
		transition-duration: .2s;
		transition-property: background-color, color, scale;
	}
	.tabs [role="tab"]:hover {
		background: var(--ds-color-surface-hover);
		color: var(--ds-color-text-default);
	}
	.tabs [role="tab"]:active {
		background: var(--ds-color-surface-active);
		color: var(--ds-color-text-default);
		scale: 0.95;
	}
	.tabs [role="tab"][aria-selected="true"] {
		background: var(--ds-color-base-default);
		color: var(--ds-color-base-contrast-default);
	}
}
