@layer mt.design {
	/**
	 * App layout
	 */
	.app {
		--mtdsc-app-expand-size: var(--ds-size-8);
		--mtdsc-app-nav--collapsed: 5rem; /* Using rem and not -ds-size as we do not want this to be fluid */
		--mtdsc-app-nav--expanded: 14em;
		--mtdsc-app-spacing-md: var(--ds-size-6);
		--mtdsc-app-spacing-sm: var(--ds-size-3);

		box-sizing: border-box;
		min-height: 100vh;
		min-height: 100svh; /* Use small viewport height if supported */
		transition: grid-template-columns .3s ease-out;
		grid-template:
			"header header header" auto
			"nav main aside" 1fr
			"footer footer footer" auto / auto 1fr auto;
	}
	.app:where(:not([hidden])) {
		display: grid;
	}
	.app > * {
		box-sizing: border-box;
		display: content; /* Allow nesting <div> inside app for easier island architecture  */
		margin-block: 0; /* Disable margin on lists, headings, paragraphs etc. */
		min-width: 0; /* https://css-tricks.com/preventing-a-grid-blowout/ */
	}

	/**
	 * App layout: Expanding
	 */
	/* Using cyclic dependency space toggles: https://kizu.dev/cyclic-toggles/ */
	:root {
		--mtdsc-app-expanded: var(--mtdsc-app-expanded--true);
		--mtdsc-app-expanded--true: var(--mtdsc-app-expanded,);
		--mtdsc-app-expanded--false: var(--mtdsc-app-expanded,);
	}
	/* Hide relevant child elements with data-expanded attribute */
	.app [data-app-expanded="true"] {
		display: var(--mtdsc-app-expanded--false, none);
	}
	.app [data-app-expanded="false"] {
		display: var(--mtdsc-app-expanded--true, none);
	}
	.app [data-command="toggle-app-expanded"] {
		all: unset;
		background: var(--ds-color-background-tinted);
		border-radius: var(--ds-border-radius-md);
		bottom: var(--mtdsc-app-spacing-md);
		cursor: pointer;
		height: var(--mtdsc-app-expand-size);
		left: var(--mtdsc-app-spacing-md);
		position: fixed; /* TODO: Position toggle button */
		text-align: center;
		transition: .2s;
		width: var(--mtdsc-app-expand-size);
		z-index: 2;

		/* Maxium 960px */
		@media (max-width: 60em) {
			display: none; /* Hide toggler on mobile */
		}

		&::after {
			background: currentColor;
			content: var(--mtds-text-navigation);
			display: block;
			height: var(--mtds-icon-size);
			mask: center / contain no-repeat var(--mtds-icon-chevron);
			rotate: var(--mtdsc-app-expanded--true, 90deg)
				var(--mtdsc-app-expanded--false, -90deg);
			white-space: nowrap;
			overflow: clip;
		}

		&:hover {
			background: var(--ds-color-base-default);
			color: var(--ds-color-base-contrast-default);
		}
		&:active {
			scale: 0.9;
		}
		&:focus-visible {
			box-shadow: var(--dsc-focus-boxShadow);
			outline: var(--dsc-focus-outline);
			outline-offset: var(--ds-border-width-focus);
		}
	}

	/**
	 * App layout: Header
	 * NOTE: Selector supports both direct child or as sibling of <main> for easier island architecture
	 */
	.app > header,
	.app header:has(~ main) {
		align-items: center;
		gap: var(--ds-size-2);
		grid-area: header;
		padding: var(--mtdsc-app-spacing-md) var(--mtdsc-app-spacing-md)
			var(--mtdsc-app-spacing-sm);

		&:not([hidden]) {
			display: flex;
		}

		/* Push logo to left */
		& > :first-child {
			margin-right: auto;
			min-width: 0; /* Allow shrinking if using breadcrumbs */
		}
	}

	/**
	 * App layout: Left side
	 * NOTE: Selector supports both direct child or as sibling of <main> for easier island architecture
	 */
	.app > nav,
	.app nav:has(+ main) {
		--mtds-tooltip-position: var(--mtdsc-app-expanded--true, none)
			var(--mtdsc-app-expanded--false, right);

		/* Sticky position */
		align-self: var(--mtdsc-app-nav-align, start);
		bottom: var(--mtdsc-app-nav-bottom);
		position: var(--mtdsc-app-nav-position);
		top: var(--mtdsc-app-nav-top);
		z-index: 2; /* Position above <main> to show toggle button */

		box-sizing: border-box;
		grid-area: nav;
		padding: var(--mtdsc-app-spacing-md) var(--mtdsc-app-spacing-md)
			var(--ds-size-18);
		view-transition-name: mtds-app--left;
		width: var(--mtdsc-app-expanded--true, var(--mtdsc-app-nav--expanded))
			var(--mtdsc-app-expanded--false, var(--mtdsc-app-nav--collapsed));

		& menu > li > [data-tooltip]::after {
			content: var(--mtdsc-app-expanded--true, attr(data-tooltip))
				var(--mtdsc-app-expanded--false, none);
		}

		& menu {
			margin-inline: calc(var(--mtdsc-app-spacing-sm) * -1);
		}

		/* Maxium 960px */
		@media (max-width: 60em) {
			display: none;
			background-color: var(--ds-color-surface-default);
			min-height: 100vh;
			min-height: 100svh;
			position: absolute;
			left: 0;
			top: 0;
			width: min(var(--mtdsc-app-nav--expanded), 100vh);
			z-index: 99;
			box-shadow: 0 0 0 99vh rgba(0, 0, 0, 0.5);

			&::after,
			&::before {
				background: var(--ds-color-surface-default);
				content: "";
				position: fixed;
				bottom: 0;
				left: 0;
				width: var(--mtdsc-app-nav--expanded);
			}

			/* &::before {
				display: block;
				padding-block: inherit;
				padding-inline: calc(
					var(--mtdsc-app-spacing-sm) *
					2 +
					var(--mtds-icon-size)
				);
				margin: calc(var(--mtdsc-app-spacing-sm) * -1)
					calc(var(--mtdsc-app-spacing-sm) * -1) var(--mtdsc-app-spacing-sm);
				content: var(--mtds-text-navigation);
			} */
			/* &::after {
				position: fixed;
				top: 0;
				right: 0;
				background: currentcolor;
				content: var(--mtds-text-navigation);
				mask: center / contain no-repeat var(--mtds-icon-burger);
				height: var(--mtds-icon-size);
				width: var(--mtds-icon-size);
				overflow: clip;
			} */
		}
	}

	/**
	 * App layout: Main
	 * NOTE: <main> can only appear once on a page so no need for direct child selector
	 */
	.app main {
		grid-area: main;
		margin: 0 var(--mtdsc-app-spacing-sm) var(--mtdsc-app-spacing-sm) 0;
		view-transition-name: mtds-app--main;

		@media (max-width: 60em) {
			margin-inline: var(--ds-size-2);
		}
	}

	/**
	 * App layout: Right side
	 * NOTE: Selector supports both direct child or as sibling of <main> for easier island architecture
	 */
	.app > aside,
	.app main + aside {
		grid-area: aside;
		padding-right: var(--mtdsc-app-spacing-sm);
		padding-top: var(--mtdsc-app-spacing-md);
		view-transition-name: mtds-app--right;
		width: 14em;

		&[hidden] {
			display: block;
			opacity: 0;
			overflow: clip;
			padding-inline: 0;
			visibility: hidden;
			width: 0;
		}
	}

	/**
	 * App layout: Footer
	 * NOTE: Selector supports both direct child or as sibling of <main> for easier island architecture
	 */
	.app > footer,
	.app main ~ footer {
		background: var(--ds-color-base-default);
		color: var(--ds-color-base-contrast-default);
		grid-area: footer;
		margin-top: var(--mtdsc-app-spacing-sm);
		padding: var(--mtdsc-app-spacing-md);
	}
}

::view-transition-old(mtds-app--left),
::view-transition-new(mtds-app--left),
::view-transition-old(mtds-app--right),
::view-transition-new(mtds-app--right) {
	height: 100%;
	object-fit: none;
	object-position: top left;
}

::view-transition-old(mtds-app--main),
::view-transition-new(mtds-app--main) {
	height: 100%;
}
