@layer mt.design {
	/**
	 * App layout
	 */
	.app {
		--mtdsc-app-nav-width: 14em; /* Using rem and not -ds-size as we do not want this to be fluid */
		--mtdsc-app-spacing: var(--ds-size-4);
		--negative: calc(var(--mtdsc-app-spacing) * -1);
		--half: calc(var(--mtdsc-app-spacing) * 0.5);

		box-sizing: border-box;
		min-height: 100vh;
		min-height: 100svh; /* Use small viewport height if supported */
		transition: grid-template-columns .3s ease-out;
		grid-template:
			"header header header" auto
			"nav main aside" 1fr
			"footer footer footer" auto / auto 1fr auto;
	}
	.app:where(:not([hidden])) {
		display: grid;
	}
	.app > * {
		box-sizing: border-box;
		display: content; /* Allow nesting <div> inside app for easier island architecture  */
		margin-block: 0; /* Disable margin on lists, headings, paragraphs etc. */
		min-width: 0; /* https://css-tricks.com/preventing-a-grid-blowout/ */
	}

	/**
	 * App layout: Expanding
	 */
	/* Using cyclic dependency space toggles: https://kizu.dev/cyclic-toggles/ */
	:root {
		--mtdsc-app-expanded: var(--mtdsc-app-expanded--true);
		--mtdsc-app-expanded--true: var(--mtdsc-app-expanded,);
		--mtdsc-app-expanded--false: var(--mtdsc-app-expanded,);
	}
	/* Hide relevant child elements with data-expanded attribute */
	.app [data-app-expanded="true"] {
		display: var(--mtdsc-app-expanded--false, none);
	}
	.app [data-app-expanded="false"] {
		display: var(--mtdsc-app-expanded--true, none);
	}
	.app [data-command="toggle-app-expanded"] {
		--dsc-button-background: var(--ds-color-background-default);
		--dsc-button-border-color: var(--ds-color-border-subtle);
		align-self: end;
		bottom: var(--half);
		grid-area: nav;
		position: sticky;
		translate: var(--half);
		margin-bottom: var(--mtdsc-app-spacing);
		z-index: 3;
		justify-content: start;
		width: min-content;
		view-transition-name: mtds-app--toggle; /* Make the button a separate layer */

		/* Maxium 960px */
		@media (max-width: 60em) {
			display: none; /* Hide toggler on mobile */
		}
	}
	.app [data-command="toggle-app-expanded"]::before {
		content: var(--mtds-text-navigation);
		width: 1.25em;
		height: 1.25em;
		mask-image: var(
				--mtdsc-app-expanded--true,
				var(--mtds-icon-sidebar-collapse)
			)
			var(--mtdsc-app-expanded--false, var(--mtds-icon-sidebar-expand));
	}

	/**
	 * App layout: Header
	 * NOTE: Selector supports both direct child or as sibling of <main> for easier island architecture
	 */
	.app > header,
	.app header:has(~ main) {
		align-items: center;
		grid-area: header;
		padding: var(--mtdsc-app-spacing);
		margin-bottom: var(--negative);

		&:not([hidden]) {
			display: flex;
		}

		/* Push logo to left */
		& > :first-child {
			margin-right: auto;
			min-width: 0; /* Allow shrinking if using breadcrumbs */
		}
	}

	/**
	 * App layout: Left side
	 * NOTE: Selector supports both direct child or as sibling of <main> for easier island architecture
	 */
	.app > nav,
	.app nav:has(~ main) {
		--mtds-tooltip-position: var(--mtdsc-app-expanded--true, none)
			var(--mtdsc-app-expanded--false, right);

		/* Sticky position */
		align-self: var(--mtdsc-app-nav-align, start);
		bottom: var(--mtdsc-app-nav-bottom);
		position: var(--mtdsc-app-nav-position);
		top: var(--mtdsc-app-nav-top);
		z-index: 2; /* Position above <main> to show toggle button */

		box-sizing: border-box;
		grid-area: nav;
		margin-right: var(--negative);
		padding: var(--ds-size-10) var(--mtdsc-app-spacing) var(--ds-size-18);
		width: var(--mtdsc-app-expanded--true, var(--mtdsc-app-nav-width));
		view-transition-name: mtds-app--left;

		& menu > li > [data-tooltip]::after {
			content: var(--mtdsc-app-expanded--true, attr(data-tooltip))
				var(--mtdsc-app-expanded--false, none);
		}

		& menu {
			margin-inline: calc(var(--mtdsc-app-spacing) * -0.5);
		}

		/* Maxium 960px */
		@media (max-width: 60em) {
			/* display: none; */
			background-color: var(--ds-color-surface-default);
			min-height: 100vh;
			min-height: 100svh;
			position: absolute;
			right: 100%;
			top: 0;
			width: min(var(--mtdsc-app-nav-width), 100vh);
			z-index: 99;
			/* box-shadow: 0 0 0 99vh rgba(0, 0, 0, 0.5); */

			&::after,
			&::before {
				background: var(--ds-color-surface-default);
				content: "";
				position: fixed;
				bottom: 0;
				left: 0;
				width: var(--mtdsc-app-nav-width);
			}

			/* &::after {
				position: fixed;
				top: 0;
				right: 0;
				background: currentcolor;
				content: var(--mtds-text-navigation);
				mask: center / contain no-repeat var(--mtds-icon-burger);
				height: var(--mtds-icon-size);
				width: var(--mtds-icon-size);
				overflow: clip;
			} */
		}
	}

	/**
	 * App layout: Main
	 * NOTE: <main> can only appear once on a page so no need for direct child selector
	 */
	.app main {
		grid-area: main;
		/* padding: var(--mtdsc-app-spacing); */
		padding: var(--mtdsc-app-spacing);
		view-transition-name: mtds-app--main;

		/* @media (max-width: 60em) {
			margin-inline: var(--ds-size-2);
		} */
	}

	/**
	 * App layout: Right side
	 * NOTE: Selector supports both direct child or as sibling of <main> for easier island architecture
	 */
	.app > aside,
	.app main ~ aside {
		grid-area: aside;
		padding: var(--mtdsc-app-spacing);
		margin-left: var(--negative);
		view-transition-name: mtds-app--right;
		width: 14em;

		&[hidden] {
			display: block;
			opacity: 0;
			overflow: clip;
			padding-inline: 0;
			visibility: hidden;
			width: 0;
		}
	}

	/**
	 * App layout: Footer
	 * NOTE: Selector supports both direct child or as sibling of <main> for easier island architecture
	 */
	.app > footer,
	.app main ~ footer {
		background: var(--ds-color-background-default);
		color: var(--ds-color-text-subtle);
		grid-area: footer;
		padding: var(--mtdsc-app-spacing);
	}
}

::view-transition-old(mtds-app--left),
::view-transition-new(mtds-app--left),
::view-transition-old(mtds-app--right),
::view-transition-new(mtds-app--right) {
	height: 100%;
	object-fit: none;
	object-position: top left;
}

::view-transition-old(mtds-app--main),
::view-transition-new(mtds-app--main) {
	height: 100%;
}
