 /**
  * NOTE: This file is ignored by biome formatter to allow more compactness
	*/

@layer mt.design {
	/* Using :where to only reset browser agent standards, but allow other selectors (i.e. .something > *) to still winn */
	:where(.grid:not([hidden])) { display: grid }
	:where(.flex:not([hidden])) { display: flex }
	:where(.flex, .grid) {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	/**
	 * Shared
	 */
	.grid,
	.flex {
		align-items: start;
		box-sizing: border-box;
		flex-wrap: wrap;
		gap: var(--ds-size-2);

		& > svg { flex-shrink: 0 } /* Never shrink svgs */
		& > * {
			box-sizing: border-box;
			margin-block: 0; /* Disable margin on lists, headings, paragraphs etc. */
			min-width: 0; /* https://css-tricks.com/preventing-a-grid-blowout/ */
		}

		&[data-center="sm"],
		&[data-center="md"],
		&[data-center="lg"],
		&[data-center="xl"],
		&[data-center="2xl"] {
			box-sizing: border-box;
			margin-inline: auto;
			width: calc(100% - 10vw); /* Always 5vw padding on each side */
			max-width: 96rem; /* 1440px - default to "2xl" */
		}
		&[data-center="sm"] { max-width: 40rem } /* 640px */
		&[data-center="md"] { max-width: 48rem } /* 768px */
		&[data-center="lg"] { max-width: 64rem } /* 1024px */
		&[data-center="xl"] { max-width: 80rem } /* 1280px */
		&[data-center="2xl"] { max-width: 96rem } /* 1536px */

		&[data-items] {
			--mtds-items: 0px; /* Set default layout width */
			column-gap: var(--ds-size-4); /* Increase default gap column if data-items */
		}
		&[data-items="5ch"] { --mtds-items: 5ch }
		&[data-items="10ch"] { --mtds-items: 10ch }
		&[data-items="15ch"] { --mtds-items: 15ch }
		&[data-items="20ch"] { --mtds-items: 20ch }
		&[data-items="25ch"] { --mtds-items: 25ch }
		&[data-items="30ch"] { --mtds-items: 30ch }
		&[data-items="35ch"] { --mtds-items: 35ch }
		&[data-items="40ch"] { --mtds-items: 40ch }
		&[data-items="45ch"] { --mtds-items: 45ch }
		&[data-items="50ch"] { --mtds-items: 50ch }
		&[data-items="55ch"] { --mtds-items: 55ch }
		&[data-items="60ch"] { --mtds-items: 60ch }
		&[data-items="65ch"] { --mtds-items: 65ch }
		&[data-items="70ch"] { --mtds-items: 70ch }
		&[data-items="75ch"] { --mtds-items: 75ch }
		&[data-items="80ch"] { --mtds-items: 80ch }

		&[data-gap="none"] { gap: 0px  }
		&[data-gap="xs"] { gap: var(--ds-size-1) } /* 4px */
		&[data-gap="sm"] { gap: var(--ds-size-2) } /* 8px */
		&[data-gap="md"] { gap: var(--ds-size-4) } /* 16px */
		&[data-gap="lg"] { gap: var(--ds-size-6) } /* 24px */
		&[data-gap="xl"] { gap: var(--ds-size-8) } /* 32px */

		&[data-align="normal"] { align-items: start }
		&[data-align="start"] { align-items: start }
		&[data-align="center"] { align-items: center }
		&[data-align="end"] { align-items: end}

		&[data-align-content="start"] { align-content: start }
		&[data-align-content="center"] { align-content: center }
		&[data-align-content="end"] { align-content: end }
		&[data-align-content="stretch"] { align-content: stretch }
		&[data-align-content="space-around"] { align-content: space-around }
		&[data-align-content="space-between"] { align-content: space-between }
		&[data-align-content="space-evenly"] { align-content: space-evenly}

		&[data-justify="start"] { justify-content: start }
		&[data-justify="center"] { justify-content: center }
		&[data-justify="end"] { justify-content: end }
		&[data-justify="space-around"] { justify-content: space-around }
		&[data-justify="space-between"] { justify-content: space-between }
		&[data-justify="space-evenly"] { justify-content: space-evenly }
	}

	/**
	 * Flex
	 */
	.flex[data-items] > * { flex: 1 1 var(--mtds-items) }
	.flex[data-fixed] > *, .flex > [data-fixed] { flex-grow: 0 }
	.flex[data-nowrap] { flex-wrap: nowrap }
	.flex > [data-self] { flex-basis: var(--mtds-self) } /* Let --mtds-self win if defined */
	.flex > [data-self="5ch"] { --mtds-self: 5ch }
	.flex > [data-self="10ch"] { --mtds-self: 10ch }
	.flex > [data-self="15ch"] { --mtds-self: 15ch }
	.flex > [data-self="20ch"] { --mtds-self: 20ch }
	.flex > [data-self="25ch"] { --mtds-self: 25ch }
	.flex > [data-self="30ch"] { --mtds-self: 30ch }
	.flex > [data-self="35ch"] { --mtds-self: 35ch }
	.flex > [data-self="40ch"] { --mtds-self: 40ch }
	.flex > [data-self="45ch"] { --mtds-self: 45ch }
	.flex > [data-self="50ch"] { --mtds-self: 50ch }
	.flex > [data-self="55ch"] { --mtds-self: 55ch }
	.flex > [data-self="60ch"] { --mtds-self: 60ch }
	.flex > [data-self="65ch"] { --mtds-self: 65ch }
	.flex > [data-self="70ch"] { --mtds-self: 70ch }
	.flex > [data-self="75ch"] { --mtds-self: 75ch }
	.flex > [data-self="80ch"] { --mtds-self: 80ch }

	@media(max-width: 601px) {
		.flex > [data-breakout]:first-child { flex-basis: 100% }
	}
	@media(min-width: 600px) {
		.flex:has(> [data-breakout]:first-child) { padding-left: var(--mtds-items) }
		.flex > [data-breakout]:first-child { position: absolute; margin-left: calc(var(--mtds-items) * -1) }
	}

	/**
	 * Grid
	 */
	.grid[data-items] {
		 --mtds-grid-grow: auto-fit; /* Allows columns to grow to fit container */
		 --mtds-grid-size: minmax(min(100%, var(--mtds-items)), 1fr); /* From https://moderncss.dev/solutions-to-replace-the-12-column-grid/ */
		 grid-template-columns: repeat(var(--mtds-grid-grow), var(--mtds-grid-size));
	}
	.grid[data-fixed] { --mtds-grid-grow: auto-fill } /* "Fixes" sizes by causing max repetitions of columns - even empty if needed */
	.grid[data-nowrap] { grid-auto-flow: column; grid-auto-columns: var(--mtds-items) }

	/*.flex > [data-breakup="40"] {
		min-width: clamp(0px, calc((40rem - 100%) * 999), 100%); /* Unhold albatross technique: https://www.miragecraft.com/blog/unholy-albatross *
	}*/
}
