@layer mt.design {
  :root {
    --mt-radius-sm: var(--mt-unit-1);
    --mt-radius-md: var(--mt-unit-2);
    --mt-radius-lg: var(--mt-unit-4);

    /* Colors primitives */
    --mt-divider:  color-mix(in hsl, currentcolor, transparent 90%);
    --mt-gaasunge: #faf6f3;
    --mt-granskog: #054449;
    --mt-lys-furu: #9bcab9;
    --mt-mork-granskog: #032C30;
    --mt-sand: #F4ECE6;
    --mt-sommerdag: #f9cc76;
    --mt-solstreif: #f8de9c;
    --mt-hvit: white;

    --mt-bakgrunnsgul: #FCF0D2;
    --mt-bakgrunnsrosa: #FEE9DF;
    --mt-bakgrunnsblaa: #DFEEF6;
    --mt-bakgrunnsgronn: #E2F1DF; /* "Grønn 200" */

    /* Colors semantic */
    --mt-color-default-bg: var(--mt-gaasunge);
    --mt-color-default-text: var(--mt-granskog);
    --mt-color-surface-bg: var(--mt-hvit);
    --mt-color-surface-text: var(--mt-granskog);
    --mt-color-contrast-bg: var(--mt-granskog);
    --mt-color-contrast-text: var(--mt-hvit);

    --mt-color-info-text: var(--mt-granskog);
    --mt-color-info-bg: var(--mt-bakgrunnsblaa);
    --mt-color-success-text: var(--mt-granskog);
    --mt-color-success-bg: var(--mt-bakgrunnsgronn);
    --mt-color-warning-text: var(--mt-granskog);
    --mt-color-warning-bg: var(--mt-bakgrunnsgul);
    --mt-color-danger-text: var(--mt-granskog);
    --mt-color-danger-bg: var(--mt-bakgrunnsrosa);
    
    --mt-breakpoint-md: 48em; /* 768px */
    --mt-breakpoint-lg: 64em; /* 1024px */
    --mt-breakpoint-xl: 75em; /* 1200px */
    --mt-breakpoint-xxl: 100em; /* 1600px */

    /* Units */
    --mt-unit-1: .25rem; /* 4px */
    --mt-unit-2: calc(var(--mt-unit-1) * 2); /* 8px */
    --mt-unit-3: calc(var(--mt-unit-1) * 3); /* 12px */
    --mt-unit-4: calc(var(--mt-unit-1) * 4); /* 16px */
    --mt-unit-5: calc(var(--mt-unit-1) * 5); /* 20px */
    --mt-unit-6: calc(var(--mt-unit-1) * 6); /* 24px */
    --mt-unit-7: calc(var(--mt-unit-1) * 7); /* 28px */
    --mt-unit-8: calc(var(--mt-unit-1) * 8); /* 32px */
    --mt-unit-9: calc(var(--mt-unit-1) * 9); /* 46px */
    --mt-unit-10: calc(var(--mt-unit-1) * 10); /* 40px */
    --mt-unit-11: calc(var(--mt-unit-1) * 11); /* 44px */
    --mt-unit-12: calc(var(--mt-unit-1) * 12); /* 48px */
    --mt-unit-13: calc(var(--mt-unit-1) * 13); /* 52px */
    --mt-unit-14: calc(var(--mt-unit-1) * 14); /* 56px */
    --mt-unit-15: calc(var(--mt-unit-1) * 15); /* 60px */
    --mt-unit-18: calc(var(--mt-unit-1) * 18); /* 72px */
    --mt-unit-22: calc(var(--mt-unit-1) * 22); /* 88px */
    --mt-unit-26: calc(var(--mt-unit-1) * 26); /* 96px */
    --mt-unit-30: calc(var(--mt-unit-1) * 30); /* 120px */

    /* Font */
    --mt-line-height-md: 1.5;
    --mt-font-sm-min: calc(var(--mt-unit-1) * 3.5);
    --mt-font-sm-max: calc(var(--mt-unit-1) * 4);
    --mt-font-sm: clamp(var(--mt-font-sm-min), 0.8254310344827587rem + 0.1724137931034483vw, var(--mt-font-sm-max));
    --mt-font-md-min: calc(var(--mt-unit-1) * 4);
    --mt-font-md-max: calc(var(--mt-unit-1) * 5);
    --mt-font-md:  clamp(var(--mt-font-md-min), 0.9008620689655172rem + 0.3448275862068966vw, var(--mt-font-md-max));
    --mt-font-lg-min: calc(var(--mt-unit-1) * 5);
    --mt-font-lg-max: calc(var(--mt-unit-1) * 6);
    --mt-font-lg: clamp(var(--mt-font-lg-min), 1.1508620689655173rem + 0.3448275862068966vw, var(--mt-font-lg-max));
    --mt-font-xl-min: calc(var(--mt-unit-1) * 6);
    --mt-font-xl-max: calc(var(--mt-unit-1) * 8);
    --mt-font-xl: clamp(var(--mt-font-xl-min), 1.3017241379310345rem + 0.6896551724137931vw, var(--mt-font-xl-max));

    /* Utilites */
    --mt-transition-duration: .2s;
    --mt-disabled-opacity: .4;
    --mt-focus-border-width: 3px; /* Default focus border width */
    --mt-focus-boxShadow:
      0 0 0 var(--mt-focus-border-width) var(--mt-color-default-bg),
      0 0 0 calc(var(--mt-focus-border-width) * 2) var(--mt-color-default-text),
      0 0 0 calc(var(--mt-focus-border-width) * 3) var(--mt-color-default-bg);
  }

  :focus-visible {
    outline: 0;
    box-shadow: var(--mt-focus-boxShadow);
  }

  body {
    font-size: var(--mt-font-md);
    line-height: var(--mt-line-height-md);
  }
  a {
    color: currentColor;
    outline: none;
    text-decoration-style: solid;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: max(5px, 0.25rem);

    & svg { vertical-align: middle }
    @media (hover: hover) { &:hover { opacity: .7 } }
  }


  .details {
    --mt-details-padding: var(--mt-unit-5);
    --mt-details-gap: var(--mt-unit-5);
    --mt-details-chevron-size: var(--mt-unit-7);
    --mt-details-summary-background--open: transparent;
    --mt-details-summary-background--hover: transparent;
    --x: calc(var(--mt-details-padding) + var(--mt-details-chevron-size) + var(--mt-details-gap));

    border-width: 1px 0;
    border-style: solid;
    padding-block: var(--mt-details-padding);
    padding-inline: var(--x) var(--mt-details-padding);

    & + & { border-top: 0 }
    & > :is(summary, u-summary) {
      box-sizing: border-box;
      cursor: pointer;
      list-style: none;
      padding-block: var(--mt-details-padding);
      padding-inline: var(--x) var(--mt-details-padding);
      margin-block: calc(var(--mt-details-padding) * -1);
      margin-inline: calc(var(--x) * -1) calc(var(--mt-details-padding) * -1);

      &::before {
        background-color: currentcolor;
        content: '';
        height: var(--mt-details-chevron-size);
        margin-inline: calc((var(--mt-details-chevron-size) + var(--mt-details-gap)) * -1); /* Using margin instead of top/left to avoid position: relative and to support dir="rtl" */
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5.97 9.47a.75.75 0 0 1 1.06 0L12 14.44l4.97-4.97a.75.75 0 1 1 1.06 1.06l-5.5 5.5a.75.75 0 0 1-1.06 0l-5.5-5.5a.75.75 0 0 1 0-1.06'/%3E%3C/svg%3E") 50% / contain no-repeat;
        position: absolute;
        transition: rotate var(--mt-transition-duration);
        translate: 0 calc(.5lh - var(--mt-details-chevron-size) / 2); /* Center icon to line height */
        width: var(--mt-details-chevron-size);
      }
      &:focus-visible { position: relative } /* Ensure foucs outline renders on top */
      @media (hover: hover) {
        &:hover { background-color: var(--mt-details-summary-background--hover) }
      }
    }

    &[open] > :is(summary, u-summary) {
      background-color: var(--mt-details-summary-background--open);
      margin-bottom: 0;
      &::before { rotate: 180deg }
    }
  }

  .button {
    --mt-button-background--hover: color-mix(in hsl, var(--mt-color-contrast-bg), currentcolor 10%); /* TODO: Hover color */
    --mt-button-background: var(--mt-color-contrast-bg);
    --mt-button-color: var(--mt-color-contrast-text);
    --mt-button-gap: var(--mt-unit-2);

    align-items: center;
    background: var(--mt-button-background);
    border-radius: var(--mt-radius-sm);
    border: 1px solid var(--mt-button-border-color, transparent);
    box-sizing: border-box;
    color: var(--mt-button-color);
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: var(--mt-font-size-md);
    gap: var(--mt-button-gap); /* Add icon adjust spacing to achieve correct gap */
    justify-content: center;
    line-height: var(--mt-line-height-md);
    margin: 0; /* Remove the margin in Firefox and Safari */
    overflow: visible; /* Show the overflow in Edge */
    padding: calc(.25em + 6px) calc(.375em + 6px); /* TODO: Improve */
    text-align: inherit;
    text-decoration: none;
    transition: var(--mt-transition-duration);
    vertical-align: middle;

    &[aria-busy="true"]{ pointer-events: none }
    &[data-size="sm"] { font-size: var(--mt-font-sm) }
    &[data-variant="secondary"] {
      --mt-button-background--hover: var(--mt-color-surface-bg); /* TODO: Hover color */
      --mt-button-background: transparent;
      --mt-button-border-color: currentcolor;
      --mt-button-color: inherit;
    }
    &[data-variant="tertiary"] {
      --mt-button-background--hover: var(--mt-color-surface-bg); /* TODO: Hover color */
      --mt-button-background: transparent;
      --mt-button-color: inherit;
    }
    &:active { scale: .95 }
    &:is(:disabled, [aria-disabled="true"]) { pointer-events: none; opacity: var(--mt-disabled-opacity) }
    @media (hover: hover) { &:hover { background: var(--mt-button-background--hover) } }
  }

  .spinner::before,
  .button[aria-busy="true"]::before {
    background: currentcolor;
    content: '';
    display: inline-block;
    height: 1.5em;
    mask: center/contain no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cstyle%3E@keyframes rotate%7Bto%7Brotate:360deg%7D%7D@keyframes stroke%7B50%25%7Bstroke-dasharray:100,200;stroke-dashoffset:-15;transform:rotate(0deg)%7Dto%7Bstroke-dasharray:1,200;stroke-dashoffset:-120;transform:rotate(15deg)%7D%7Dcircle%7Bcx:25;cy:25;r:20;fill:none;stroke:currentcolor;stroke-width:5%7Dcircle:last-child%7Banimation:stroke ease-in-out infinite 2s,rotate linear infinite 2s;transform-origin:center%7D%3C/style%3E%3Ccircle opacity='.15'/%3E%3Ccircle stroke-dasharray='1, 200'/%3E%3C/svg%3E");
    text-align: center;
    vertical-align: middle;
    width: 1.5em;
  }

  .alert {
    --mt-alert-background: var(--mt-color-info-bg);
    --mt-alert-color: var(--mt-color-info-text);
    --mt-alert-gap: var(--mt-unit-2);
    --mt-alert-icon-size: var(--mt-unit-7);
    --mt-alert-icon-url: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M3.25 4A.75.75 0 0 1 4 3.25h16a.75.75 0 0 1 .75.75v16a.75.75 0 0 1-.75.75H4a.75.75 0 0 1-.75-.75zM11 7.75a1 1 0 1 1 2 0 1 1 0 0 1-2 0m-1.25 3a.75.75 0 0 1 .75-.75H12a.75.75 0 0 1 .75.75v4.75h.75a.75.75 0 0 1 0 1.5h-3a.75.75 0 0 1 0-1.5h.75v-4h-.75a.75.75 0 0 1-.75-.75'/%3E%3C/svg%3E");
    --mt-alert-padding: var(--mt-unit-6);
    --x: calc(var(--mt-alert-padding) + var(--mt-alert-icon-size) + var(--mt-alert-gap));

    background: var(--mt-alert-background);
    border-radius: var(--mt-radius-sm);
    border: 1px solid;
    color: var(--mt-color-default-text);
    padding-block: var(--mt-alert-padding);
    padding-inline: var(--x) var(--mt-alert-padding);

    & > :is(h1,h2,h3,h4,h5,h6):first-child::before, /* If Alert starts with Heading, align icon to this */
    &:not(:has(> :is(h1,h2,h3,h4,h5,h6):first-child))::before /* If there is no Heading, align icon to Alert itself */ {
      background: currentcolor;
      content: '';
      height: var(--mt-alert-icon-size);
      margin-inline: calc((var(--mt-alert-icon-size) + var(--mt-alert-gap)) * -1); /* Using margin instead of top/left to avoid position: relative and to support dir="rtl" */
      mask: var(--mt-alert-icon-url) center/contain no-repeat;
      position: absolute;
      translate: 0 calc(.5lh - var(--mt-alert-icon-size) / 2); /* Center icon to line height */
      width: var(--mt-alert-icon-size);
    }

    /**
      * Colors
      */
    &[data-severity="success"] {
      --mt-alert-background: var(--mt-color-success-bg);
      --mt-alert-color: var(--mt-color-success-text);
      --mt-alert-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M12 21.75a9.75 9.75 0 1 0 0-19.5 9.75 9.75 0 0 0 0 19.5m4.95-12.47a.81.81 0 0 0-1.24-1.05l-5.39 6.36-2.62-2.62a.81.81 0 0 0-1.15 1.15l3.25 3.25a.81.81 0 0 0 1.2-.05z'/%3E%3C/svg%3E");
    }
    &[data-severity="warning"] {
      --mt-alert-background: var(--mt-color-warning-bg);
      --mt-alert-color: var(--mt-color-warning-text);
      --mt-alert-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M12 2.25a.75.75 0 0 1 .66.39l9.52 17.25a.75.75 0 0 1-.65 1.11H2.47a.75.75 0 0 1-.65-1.11l9.52-17.25a.75.75 0 0 1 .66-.39m0 6.5a.75.75 0 0 1 .75.75v4a.75.75 0 0 1-1.5 0v-4a.75.75 0 0 1 .75-.75m-1 7.75a1 1 0 1 1 2 0 1 1 0 0 1-2 0'/%3E%3C/svg%3E");
    }
    &[data-severity="danger"] {
      --mt-alert-background: var(--mt-color-danger-bg);
      --mt-alert-color: var(--mt-color-danger-text);
      --mt-alert-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M7.74 2.47a.75.75 0 0 1 .53-.22h7.46a.75.75 0 0 1 .53.22l5.27 5.27c.14.14.22.33.22.53v7.46a.75.75 0 0 1-.22.53l-5.27 5.27a.75.75 0 0 1-.53.22H8.27a.75.75 0 0 1-.53-.22l-5.27-5.27a.75.75 0 0 1-.22-.53V8.27a.75.75 0 0 1 .22-.53zm1.29 5.5a.75.75 0 0 0-1.06 1.06L10.94 12l-2.97 2.97a.75.75 0 1 0 1.06 1.06L12 13.06l2.97 2.97a.75.75 0 1 0 1.06-1.06L13.06 12l2.97-2.97a.75.75 0 0 0-1.06-1.06L12 10.94z'/%3E%3C/svg%3E");
    }
  }

  .fieldset { border: 0; padding: 0; margin: 0; min-width: 0 }
  .fieldset > legend { font-weight: 700 }

  .input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--mt-radius-sm);
    border: 1px solid;
    box-sizing: border-box;
    color: var(--mt-color-surface-text);
    font-family: inherit;
    font-size: inherit;
    line-height: var(--mt-line-height-md);
    margin: 0;
    max-width: 100%;
    outline: 0;
    padding: .5em .7em;
    vertical-align: middle;
    background: var(--mt-color-surface-bg) no-repeat;
    width: 100%;
    
    &[size] { width: auto }
    &:focus-visible { position: relative } /* Ensure foucs outline renders on top */
    &:disabled { cursor: not-allowed; opacity: var(--mt-disabled-opacity) }
    &:where([type="checkbox"], [type="radio"]) {
      cursor: pointer;
      flex-shrink: 0;
      height: var(--mt-unit-7);
      margin-inline-end: var(--mt-unit-1);
      padding: 0;
      width: var(--mt-unit-7);
    }
    &[type="radio"] { border-radius: 100% }
    &[type="radio"]:checked { background-image: radial-gradient(at center center,transparent 25%,currentcolor 28%) }
    &[type="checkbox"]:not([switch]):checked {
      background-image: linear-gradient(0deg,transparent 38%,currentColor 0),linear-gradient(45deg,transparent 53%,currentColor 54%),linear-gradient(135deg,currentColor 37%,transparent 38%),linear-gradient(-135deg,currentColor 23%,transparent 0),linear-gradient(135deg,currentColor 33%,transparent 0),linear-gradient(45deg,currentcolor 28%,transparent 0),linear-gradient(-45deg,currentcolor 42%,transparent 0);
      background-position-x: 35%,0,100%,100%,100%,100%,100%;
      background-size: 5% 100%,36% 100%,64% 100%,100%,100%,100%,100%;
    }
    
    &[type="checkbox"]:not([switch]):indeterminate {
      background-image: linear-gradient(currentColor,currentColor),linear-gradient(currentColor,currentColor),linear-gradient(currentColor 43%,transparent 44%,transparent 58%,currentColor 59%);
      background-position-x: 0,100%,0;
      background-position-y: 0;
      background-size: 20% 100%,20% 100%,100% auto;
    }

    &:is(textarea) {
      overflow: auto;
      resize: none;
      field-sizing: content;
      vertical-align: top;
    }

    &:is(select) {
      background-image: linear-gradient(45deg,transparent 46%,currentcolor 47%,currentcolor 49%,transparent 51%),linear-gradient(-45deg,transparent 46%,currentcolor 47%,currentcolor 49%,transparent 51%);
      background-position-x: calc(100% - 1.35em),calc(100% - 1em);
      background-position-y: 0;
      background-repeat: no-repeat;
      background-size: .36em 100%,.36em 100%;
      padding-right: 2.5em;
      vertical-align: top;
    }

    &[switch] {
      background: var(--mt-color-surface-text) radial-gradient(circle at var(--mt-unit-4), currentColor 28%, transparent 28.7%, transparent);
      border-radius: 999rem;
      border: 0; /* Remove border as it makes radial-gradient calcualtions hard */
      color: var(--mt-color-surface-bg);
      width: var(--mt-unit-11);
    
      /* &:checked {
        background-color: var(--builders-input-color);
        background-position-x: var(--builders-unit-30);
        color: var(--builders-input-checked-color);
      } */
    }
  }

  .dropdown {
    background: var(--mt-color-surface-bg);
    border: 0;
    border-radius: var(--mt-radius-md);
    color: var(--mt-color-surface-text);
    padding: var(--mt-unit-2);
  }

  .table {
    --mt-table-gap: var(--mt-unit-2);

    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    & > :is(thead,tbody) > tr > :is(th,td) {
      text-align: inherit;
      border-bottom: 1px solid;
      padding-block: var(--mt-table-gap);
      &:is(th) { font-weight: 700 }
    }
    & > caption {
      padding-block-start: var(--mt-table-gap);
      font-size: var(--mt-font-sm);
      caption-side: bottom;
      text-align: inherit;
    }
    &[data-variant="zebra"] > tbody > tr:nth-child(odd) { background: var(--mt-color-surface-bg) }
  }

  .modal {
    --mt-modal-padding: var(--mt-unit-5);

    background: var(--mt-color-surface-bg);
    border-radius: var(--mt-radius-md);
    border: 0;
    color: var(--mt-color-surface-text);
    max-width: 40rem;
    padding: var(--mt-modal-padding);
    width: 100%;

    &::backdrop {
      backdrop-filter: blur(.25em);
      background: rgba(0,0,0,.2);
    }

    & form[method="dialog"] button:where([type="submit"], :not([type])):empty {
      all: unset;
      border-radius: 100%;
      cursor: pointer;
      font-size: 1.5em;
      inset: 0 0 auto auto;
      line-height: 1em;
      margin: var(--mt-modal-padding);
      position: absolute;
      text-align: center;
      width: 1em;
      
      &::before { content: '\00D7' }
      &:focus-visible { box-shadow: var(--mt-focus-boxShadow) }
    }
  }
}