@import url("@digdir/designsystemet-css");
@import url("@digdir/designsystemet-theme");
@import url("./alert/alert.module.css");
@import url("./breadcrumbs/breadcrumbs.module.css");
@import url("./button/button.module.css");
@import url("./field/field.module.css");
@import url("./flex/flex.module.css");
@import url("./fieldset/fieldset.module.css");
@import url("./font.css");
@import url("./input/input.module.css");
@import url("./link/link.module.css");
@import url("./logo/logo.module.css");
@import url("./validation/validation.module.css");

/* Using a @layer to make it is super easy for consumers to overwrite */
@layer mt.design {
	:root {
		--mt-gaasunge: #faf6f3;
		--mt-granskog: #054449;
		--mt-lys-furu: #9bcab9;
		--mt-mork-granskog: #032c30;
		--mt-sand: #f4ece6;
		--mt-sommerdag: #f9cc76;
		--mt-solstreif: #f8de9c;
		--ds-color-focus-outer: var(--mt-granskog);

		--mt-font-sm: clamp(0.875rem, 0.825rem + 0.25vw, 1rem);
		--mt-font-md: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
		--mt-font-lg: clamp(1.125rem, 1.025rem + 0.5vw, 1.375rem);

		--ds-color-accent-background-default: #f3f8f1;
		--ds-color-accent-background-subtle: #e2f1df;
		--ds-color-accent-surface-default: #d3e8e0;
		--ds-color-accent-surface-hover: #bcdcd0;
		--ds-color-accent-surface-active: #bcdcd0;
		--ds-color-accent-border-subtle: #116e6b;
		--ds-color-accent-border-default: #054449;
		--ds-color-accent-border-strong: #054449;
		--ds-color-accent-base-default: #054449;
		--ds-color-accent-base-hover: #032c30;
		--ds-color-accent-base-active: #032c30;
		--ds-color-accent-text-subtle: #054449;
		--ds-color-accent-text-default: #054449;
		--ds-color-accent-contrast-default: #f3f8f1;
		--ds-color-accent-contrast-subtle: #e2f1df;
	}

	/**
	 * Setting background and color on <body> instead of <html>
	 * to align with best practice used in other frameworks such as Tailwind etc.
	 * This effectively paints the whole document due to:
	 * https://www.w3.org/TR/css-backgrounds-3/#body-background
	 */
	body,
	.body {
		background: var(--mt-gaasunge);
		color: var(--mt-granskog);
		font: var(--mt-font-md) / 1.5 "Albert Sans", sans-serif; /* Setting font-size on <body> to preserve default rem value and thus easier calulations and text scaling */
		margin: 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	legend,
	label {
		font-weight: 600;
		padding: 0;
	}
}
