@import url("@digdir/designsystemet-theme");
@import url("./alert/alert.module.css");
@import url("./avatar/avatar.module.css");
@import url("./breadcrumbs/breadcrumbs.module.css");
@import url("./button/button.module.css");
@import url("./card/card.module.css");
@import url("./chip/chip.module.css");
@import url("./details/details.module.css");
@import url("./errorsummary/errorsummary.module.css");
@import url("./field/field.module.css");
@import url("./fieldset/fieldset.module.css");
@import url("./font.css");
@import url("./input/input.module.css");
@import url("./layout/layout.module.css");
@import url("./link/link.module.css");
@import url("./logo/logo.module.css");
@import url("./modal/modal.module.css");
@import url("./pagination/pagination.module.css");
@import url("./popover/popover.module.css");
@import url("./table/table.module.css");
@import url("./tabs/tabs.module.css");
@import url("./tag/tag.module.css");
@import url("./validation/validation.module.css");

/* Using a @layer to make it is super easy for consumers to overwrite */
@layer mt.design {
	:root {
		--mt-gaasunge: #faf6f3;
		--mt-granskog: #054449;
		--mt-lys-furu: #9bcab9;
		--mt-mork-granskog: #032c30;
		--mt-fjord: #153f7b;
		--mt-rognebaer: #da573b;
		--mt-info-rod: #92301c;
		--mt-info-gul: #46220b;
		--mt-bakgrunns-blaa: #dfeef6;
		--mt-bakgrunns-gul: #fcf0d2;
		--mt-bakgrunns-rosa: #fee9df;
		--mt-sand: #f4ece6;
		--mt-sommerdag: #f9cc76;
		--mt-solstreif: #f8de9c;
		--mt-divider: color-mix(in hsl, currentcolor 15%, transparent);

		--mt-icon-size: 1em;
		--mt-icon-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='m221.7 133.7-72 72a8 8 0 0 1-11.4-11.4l58.4-58.3H40a8 8 0 0 1 0-16h156.7l-58.4-58.3a8 8 0 0 1 11.4-11.4l72 72a8 8 0 0 1 0 11.4Z'/%3E%3C/svg%3E");
		--mt-icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='m181.7 133.7-80 80a8 8 0 0 1-11.4-11.4l74.4-74.3-74.4-74.3a8 8 0 0 1 11.4-11.4l80 80a8 8 0 0 1 0 11.4Z'/%3E%3C/svg%3E");
		--mt-icon-ellipsis: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='M140 128a12 12 0 1 1-12-12 12 12 0 0 1 12 12Zm56-12a12 12 0 1 0 12 12 12 12 0 0 0-12-12Zm-136 0a12 12 0 1 0 12 12 12 12 0 0 0-12-12Z'/%3E%3C/svg%3E");
		--mt-icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='M205.7 194.3a8 8 0 0 1-11.4 11.4L128 139.3l-66.3 66.4a8 8 0 0 1-11.4-11.4l66.4-66.3-66.4-66.3a8 8 0 0 1 11.4-11.4l66.3 66.4 66.3-66.4a8 8 0 0 1 11.4 11.4L139.3 128Z'/%3E%3C/svg%3E");

		--ds-color-focus-outer: var(--mt-granskog);
		--ds-body-sm-font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1rem);
		--ds-body-md-font-size: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
		--ds-body-lg-font-size: clamp(1.125rem, 1.025rem + 0.5vw, 1.375rem);

		--ds-color-accent-background-default: #f3f8f1;
		--ds-color-accent-background-subtle: #e2f1df;
		--ds-color-accent-surface-default: #d3e8e0;
		--ds-color-accent-surface-hover: #bcdcd0;
		--ds-color-accent-surface-active: #bcdcd0;
		--ds-color-accent-border-subtle: #116e6b;
		--ds-color-accent-border-default: #054449;
		--ds-color-accent-border-strong: #054449;
		--ds-color-accent-base-default: #054449;
		--ds-color-accent-base-hover: #032c30;
		--ds-color-accent-base-active: #032c30;
		--ds-color-accent-text-subtle: #054449;
		--ds-color-accent-text-default: #054449;
		--ds-color-accent-contrast-default: #f3f8f1;
		--ds-color-accent-contrast-subtle: #e2f1df;
	}

	body,
	.body {
		background: var(--mt-gaasunge);
		color: var(--mt-granskog);
		cursor: default; /* Avoid text cursor on non-form elements */
		font: var(--ds-body-md-font-size) / 1.5 "Mattilsynet Sans", sans-serif; /* Setting font-size on <body> to preserve default rem value and thus easier calulations and text scaling */
		font-feature-settings: "liga" 0; /* Disable ligatures */
		margin: 0;
		-webkit-font-smoothing: antialiased; /* Prevent browser from guessing font rendering strategy; always use antialiased for thinner font */
		-moz-osx-font-smoothing: grayscale; /* Prevent browser from guessing font rendering strategy; always use antialiased for thinner font */
	}

	:is(b, h1, h2, h3, h4, h5, h6, label, legend, strong, th) {
		font-weight: 700;
	}
}
