/* Do not load @digdir/designsystemet-css as is implicitt with "composes", and it creates lots of Typescript types we don't want */
@import url("@digdir/designsystemet-theme");
@import url("./validation/validation.module.css");
@import url("./tag/tag.module.css");
@import url("./tabs/tabs.module.css");
@import url("./table/table.module.css");
@import url("./skeleton/skeleton.module.css");
@import url("./popover/popover.module.css");
@import url("./pagination/pagination.module.css");
@import url("./modal/modal.module.css");
@import url("./logo/logo.module.css");
@import url("./link/link.module.css");
@import url("./layout/layout.module.css");
@import url("./input/input.module.css");
@import url("./font.css");
@import url("./fieldset/fieldset.module.css");
@import url("./field/field.module.css");
@import url("./errorsummary/errorsummary.module.css");
@import url("./details/details.module.css");
@import url("./chip/chip.module.css");
@import url("./card/card.module.css");
@import url("./button/button.module.css");
@import url("./breadcrumbs/breadcrumbs.module.css");
@import url("./badge/badge.module.css");
@import url("./avatar/avatar.module.css");
@import url("./alert/alert.module.css");
@import url("./heading/heading.module.css");

/*@media screen and (prefers-reduced-motion: no-preference) {
	@view-transition {
		/* biome-ignore lint/correctness/noUnknownProperty: biome does not know about this property yet *
		navigation: auto;
	}
}*/

/* Using a @layer to make it is super easy for consumers to overwrite */
@layer mt.design {
	:root {
		--mtds-color-bakgrunns-blaa: #dfeef6;
		--mtds-color-bakgrunns-gul: #fcf0d2;
		--mtds-color-bakgrunns-rosa: #fee9df;
		--mtds-color-bekk: #cde5f2;
		--mtds-color-fjord: #153f7b;
		--mtds-color-white: #fff;
		--mtds-color-gaasunge: #faf6f3;
		--mtds-color-granskog: #054449;
		--mtds-color-info-gul: #7f433b;
		--mtds-color-info-rod: #92301c;
		--mtds-color-lys-furu: #9bcab9;
		--mtds-color-lav: #e2f1df;
		--mtds-color-mork-granskog: #032c30;
		--mtds-color-neutral: #8f8d8b;
		--mtds-color-rognebaer: #da573b;
		--mtds-color-sand: #f4ece6;
		--mtds-color-solstreif: #f8de9c;
		--mtds-color-sommerdag: #f9cc76;
		--mtds-color-100: color-mix(in hsl, currentcolor 5%, transparent);
		--mtds-color-200: color-mix(in hsl, currentcolor 20%, transparent);

		--mtds-icon-size: 1em;
		--mtds-icon-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='m221.7 133.7-72 72a8 8 0 0 1-11.4-11.4l58.4-58.3H40a8 8 0 0 1 0-16h156.7l-58.4-58.3a8 8 0 0 1 11.4-11.4l72 72a8 8 0 0 1 0 11.4Z'/%3E%3C/svg%3E");
		--mtds-icon-burger: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='M224 128a8 8 0 0 1-8 8H40a8 8 0 0 1 0-16h176a8 8 0 0 1 8 8ZM40 72h176a8 8 0 0 0 0-16H40a8 8 0 0 0 0 16Zm176 112H40a8 8 0 0 0 0 16h176a8 8 0 0 0 0-16Z'/%3E%3C/svg%3E");
		--mtds-icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='m181.7 133.7-80 80a8 8 0 0 1-11.4-11.4l74.4-74.3-74.4-74.3a8 8 0 0 1 11.4-11.4l80 80a8 8 0 0 1 0 11.4Z'/%3E%3C/svg%3E");
		--mtds-icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='M205.7 194.3a8 8 0 0 1-11.4 11.4L128 139.3l-66.3 66.4a8 8 0 0 1-11.4-11.4l66.4-66.3-66.4-66.3a8 8 0 0 1 11.4-11.4l66.3 66.4 66.3-66.4a8 8 0 0 1 11.4 11.4L139.3 128Z'/%3E%3C/svg%3E");
		--mtds-icon-danger: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M25.86 9.1a2 2 0 0 0-.4-.6l-5.95-5.96a1.83 1.83 0 0 0-1.3-.54H9.8a1.87 1.87 0 0 0-1.31.54L2.54 8.5A1.83 1.83 0 0 0 2 9.8v8.42a1.77 1.77 0 0 0 .54 1.31l5.95 5.94A1.84 1.84 0 0 0 9.8 26h8.4a1.91 1.91 0 0 0 1.32-.54l5.94-5.94A1.84 1.84 0 0 0 26 18.2V9.79c0-.24-.05-.48-.14-.7Zm-1.7 9.12-5.95 5.94H9.8l-5.94-5.94V9.8L9.8 3.86h8.4l5.95 5.94v8.42ZM17.58 9.1a.92.92 0 1 1 1.3 1.3l-3.59 3.6 3.6 3.59a.92.92 0 1 1-1.3 1.3L14 15.3l-3.6 3.6a.92.92 0 1 1-1.3-1.3l3.6-3.6-3.6-3.59a.92.92 0 1 1 1.3-1.3l3.6 3.6 3.6-3.6Z'/%3E%3C/svg%3E");
		--mtds-icon-ellipsis: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='M140 128a12 12 0 1 1-12-12 12 12 0 0 1 12 12Zm56-12a12 12 0 1 0 12 12 12 12 0 0 0-12-12Zm-136 0a12 12 0 1 0 12 12 12 12 0 0 0-12-12Z'/%3E%3C/svg%3E");
		--mtds-icon-info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M14 2a12 12 0 1 0 0 24 12 12 0 0 0 0-24Zm0 22.15a10.15 10.15 0 1 1-.01-20.3 10.15 10.15 0 0 1 .01 20.3Zm.92-11.07v6.46c0 .5-.41.92-.92.92a.93.93 0 0 1-.92-.92v-6.46c0-.51.41-.93.92-.93.5 0 .92.42.92.93Zm.46-4.16a1.38 1.38 0 1 1-2.76 0 1.38 1.38 0 0 1 2.76 0Z'/%3E%3C/svg%3E");
		--mtds-icon-success: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M19.27 10.58a.92.92 0 0 1 0 1.3l-6.46 6.47a.92.92 0 0 1-1.3 0l-2.78-2.77a.92.92 0 0 1 1.3-1.31l2.12 2.12 5.81-5.81a.92.92 0 0 1 1.3 0ZM26 14a12 12 0 1 1-24 0 12 12 0 0 1 24 0Zm-1.85 0a10.15 10.15 0 1 0-20.3 0 10.15 10.15 0 0 0 20.3 0Z'/%3E%3C/svg%3E");
		--mtds-icon-warning: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M25.65 20.57 16.3 4.31a2.65 2.65 0 0 0-4.58 0L2.35 20.57a2.49 2.49 0 0 0 0 2.54 2.6 2.6 0 0 0 2.28 1.3h18.74c.94.01 1.81-.49 2.28-1.3.47-.79.47-1.76 0-2.54Zm-1.48 1.7a.92.92 0 0 1-.8.45H4.63a.9.9 0 0 1-.8-.46.8.8 0 0 1 0-.83L13.2 5.17a.94.94 0 0 1 1.6 0l9.37 16.26c.15.26.15.57 0 .83ZM13.14 15V10.7a.86.86 0 0 1 1.71 0V15c0 .47-.38.85-.85.85a.86.86 0 0 1-.86-.85Zm2.15 3.85a1.28 1.28 0 1 1-2.57 0 1.28 1.28 0 0 1 2.57 0Z'/%3E%3C/svg%3E");

		--mtds-text-loading: "Laster...";
		--mtds-text-logo: "Mattilsynet";
		--mtds-text-next: "Neste";
		--mtds-text-previous: "Forrige";
		--mtds-text-required: "Må fylles ut";

		--ds-body-sm-font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1rem);
		--ds-body-md-font-size: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
		--ds-body-lg-font-size: clamp(1.125rem, 1.025rem + 0.5vw, 1.375rem);

		--ds-color-focus-outer: var(--mtds-color-granskog);
		--dsc-focus-border-width: 2px;
		--dsc-focus-boxShadow: 0 0 0 var(--dsc-focus-border-width)
			var(--ds-color-focus-inner);

		--ds-color-accent-background-default: #f3f8f1;
		--ds-color-accent-background-subtle: #e2f1df;
		--ds-color-accent-surface-default: #d3e8e0;
		--ds-color-accent-surface-hover: #bcdcd0;
		--ds-color-accent-surface-active: #bcdcd0;
		--ds-color-accent-border-subtle: #116e6b;
		--ds-color-accent-border-default: #054449;
		--ds-color-accent-border-strong: #054449;
		--ds-color-accent-base-default: #054449;
		--ds-color-accent-base-hover: #032c30;
		--ds-color-accent-base-active: #032c30;
		--ds-color-accent-text-subtle: #054449;
		--ds-color-accent-text-default: #054449;
		--ds-color-accent-contrast-default: #f3f8f1;
		--ds-color-accent-contrast-subtle: #e2f1df;
	}

	/* Change language of "required" */
	[lang="en"] {
		--mtds-text-loading: "Loading...";
		--mtds-text-logo: "Norwegian Food Safety Authority";
		--mtds-text-next: "Next";
		--mtds-text-previous: "Previous";
		--mtds-text-required: "Required";
	}

	body,
	.body {
		background: var(--mtds-color-gaasunge);
		color: var(--mtds-color-granskog);
		cursor: default; /* Avoid text cursor on non-form elements */
		font: var(--ds-body-md-font-size) / 1.5 "Mattilsynet Sans", sans-serif; /* Setting font-size on <body> to preserve default rem value and thus easier calulations and text scaling */
		font-feature-settings: "liga" 0; /* Disable ligatures */
		margin: 0;
		-webkit-font-smoothing: antialiased; /* Prevent browser from guessing font rendering strategy; always use antialiased for thinner font */
		-moz-osx-font-smoothing: grayscale; /* Prevent browser from guessing font rendering strategy; always use antialiased for thinner font */
	}

	:where(b, h1, h2, h3, h4, h5, h6, label, legend, strong, th) {
		font-weight: 700;
	}
}
