@theme {
	--color-main-background-default: var(--mtds-color-main-background-default);
	--color-main-background-default: var(--mtds-color-main-background-default);
	--color-main-background-default: var(--mtds-color-main-background-default);
	--color-main-background-default: var(--mtds-color-main-background-default);
	--color-main-background-default: var(--mtds-color-main-background-default);
	--color-main-background-default: var(--mtds-color-main-background-default);
	--color-main-background-default: var(--mtds-color-main-background-default);
	--color-main-background-default: var(--mtds-color-main-background-default);
	--color-main-background-default: var(--mtds-color-main-background-default);

	--spacing-1: var(--mtds-1);
	--spacing-2: var(--mtds-2);
	--spacing-3: var(--mtds-3);
	--spacing-4: var(--mtds-4);
	--spacing-5: var(--mtds-5);
	--spacing-6: var(--mtds-6);
	--spacing-7: var(--mtds-7);
	--spacing-8: var(--mtds-8);
	--spacing-9: var(--mtds-9);
	--spacing-10: var(--mtds-10);
	--spacing-11: var(--mtds-11);
	--spacing-12: var(--mtds-12);
	--spacing-13: var(--mtds-13);
	--spacing-14: var(--mtds-14);
	--spacing-15: var(--mtds-15);

	--font-default: var(--ds-font-family);
	--font-weight-bold: var(--mtds-font-weight-semibold);
	--radius-sm: var(--mtds-border-radius-sm);
	--text-sm: var(--ds-body-sm-font-size);
}
