@layer mt.design {
	.errorsummary {
		composes: ds-error-summary from "@digdir/designsystemet-css";
		--dsc-errorsummary-link-color: var(--ds-color-danger-text-default);
		--dsc-errorsummary-color: var(--ds-color-danger-text-default);

		color: var(--mtdsc-errorsummary-color);
		width: fit-content;
	}
	.errorsummary > :is(h2, h3, h4, h5, h6):first-child {
		margin-block: 0;
	}
	.errorsummary > ul {
		margin-block: 0.5em 0;
		padding-left: 1em;
	}
}
