:host(:not([hidden])) { display: block; isolation: isolate; contain: content }
:host { box-sizing: border-box; padding-left: 7em; max-width: 900px }
:host :where(h1, h2, h3, h4, h5, h6, [role="heading"]) { margin-block: 2em 0.25em; line-height: 1.3 } /* More margin for headings */
:host :is(h5, h6, [role="heading"]) { font-weight: bold; font-size: 1.125em } /* Ensure headings are not too small */
:host :is(.footnote, .changesToParent) { font-size: 0.875rem }
:host :is(ol, ul) { list-style: none; margin: 0; padding: 0 }
:host :is(ol, ul, div, article, footer) + :is(ol, ul, div, article, footer) { margin-block: 1em }
:host :is(li, li :is(ol, ul, div, article, footer) + :is(ol, ul, div, article, footer)) { margin-block: 0.25em } /* Decrease space inside lists */
:host :is(ol, ul, [data-text-indent], .numberedLegalP > :is(div, article, footer)) { margin-left: var(--ds-size-8) } /* Add indent to sub items */
:host :is(.section, .legalArticle) { margin-block: 1.5em }
:host h1 { margin-block-start: 0 } /* No margin before first heading */

:host a { color: inherit }
:host img { box-sizing: border-box; border: 1px solid var(--ds-color-border-subtle); width: 100%; padding: var(--ds-size-2); object-fit: contain; background: var(--ds-color-background-tinted); border-radius: var(--ds-border-radius-default); filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2)) }
:host table { border-collapse: separate; border-radius: var(--ds-border-radius-default); border-spacing: 0px; border: 1px solid var(--ds-color-border-subtle); box-sizing: border-box; font-size: 0.875em; margin-block: 1em; table-layout: fixed; width: 100%; word-break: break-word }
:host thead th { background: var(--ds-color-surface-tinted); border-bottom: 1px solid var(--ds-color-border-default) }
:host caption { font-weight: bold; margin-block: 0.5em; text-align: inherit }
:host table :is(th, td) { border-bottom: 1px solid var(--ds-color-border-subtle); padding: 0.2em 0.5em; text-align: inherit; vertical-align: top }
:host tbody :is(th, td) + :is(th, td) { border-left: 1px solid var(--ds-color-border-subtle) }
:host tbody :is(th, td):empty { padding: 0; border-bottom: 0 }
:host tbody tr:last-child > :is(th, td) { border-bottom: 0 }

:host :is(.data-originalId, .data-marginOriginalId) { float: left; margin-right: 0.25em} /* Place IDs left of related title or paragraph, not over */
:host :is(li[data-name] > .listArticle, .marginIdArticle) > :is(div, article) { margin-left: 1.5em } /* Make space for IDs */
:host li[data-name="-"] > .listArticle > :is(div, article) { margin-left: 0.75em } /* No need for lagre gap if ID is a dash */

/* Label */
:host [id] { scroll-margin-block: 2rem }
:host [id]:not(.legalP):not(:has(> .legalP ~ :is(div, article, ol, ul))) > .legalP > button { display: none } /* Hide Avsnitt if only one */
:host .section > button::before { content: "seksjon " } /* Only show "seksjon" as titles can become very long */
:host .legalP > button { width: auto } /* Place all "avsnitt" inside .legalP area */
:host button { all: unset; cursor: pointer; direction: rtl; float: left; font: inherit; width: 0; isolation: isolate }
:host button::before {
	background: var(--ds-color-surface-tinted);
	border-radius: var(--ds-border-radius-default);
	border: var(--ds-border-width-default) solid var(--ds-color-border-subtle);
	color: var(--ds-color-text-default);
	content: attr(aria-label);
	contain: content; /* Speed up rendering */
	direction: ltr;
	display: block;
	font-size: 0.875rem;
	margin-right: 0.5em;
	padding: 0 var(--ds-size-1);
	translate: 0 0.1em;
	user-select: none;
	white-space: nowrap;
	width: max-content;
}
:host button[aria-checked="true"]::before {
	background: var(--ds-color-base-default);
	border-color: var(--ds-color-base-default);
	color: var(--ds-color-base-contrast-subtle);
}
:host button:focus-visible::before {
	box-shadow: var(--dsc-focus-boxShadow);
	outline: var(--dsc-focus-outline);
	outline-offset: var(--ds-border-width-focus);
}
