@layer mt.design {
	.input {
		composes: ds-input from "@digdir/designsystemet-css";

		--dsc-input-border-width--toggle: 1px;
		--dsc-input-stroke: 0.045em;

		/* Allow inputs to have both readonly and disabled since browser does not prevent readonly on checkobx/radio */
		&[readonly]:disabled {
			opacity: 1;
		}

		&[type="search"] {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='m229.7 218.3-50.1-50a88.1 88.1 0 1 0-11.3 11.3l50 50a8 8 0 0 0 11.4-11.3ZM40 112a72 72 0 1 1 72 72 72 72 0 0 1-72-72Z'/%3E%3C/svg%3E");
			background-size: var(--ds-sizing-6);
			background-repeat: no-repeat;
			background-position: var(--ds-sizing-3) center;
			padding-left: var(--ds-sizing-12);

			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
				cursor: pointer;
				width: var(--ds-sizing-3);
				height: var(--ds-sizing-3);
				background: linear-gradient(
						45deg,
						transparent 0%,
						transparent 43%,
						currentcolor 45%,
						currentcolor 55%,
						transparent 57%,
						transparent 100%
					),
					linear-gradient(
						135deg,
						transparent 0%,
						transparent 43%,
						currentcolor 45%,
						currentcolor 55%,
						transparent 57%,
						transparent 100%
					);
			}
		}
	}
}
