@layer mt.design {
	.input {
		composes: ds-input from "@digdir/designsystemet-css";
		scroll-margin-block: 8em; /* Ensure scrolling to <input> from Errorsummary does not hide <label> */
		font-weight: inherit;

		--dsc-input-background--readonly: var(--ds-color-background-tinted);
		--dsc-input-background: var(--ds-color-surface-default);
		--dsc-input-border-color--readonly: var(--ds-color-border-subtle);
		--dsc-input-border-color: var(--ds-color-border-default);
		--dsc-input-border-width--toggle: var(--ds-border-width-default);
		--dsc-input-color--readonly: var(--ds-color-text-default);
		--dsc-input-color: var(--ds-color-text-default);
		--dsc-input-outline-color--hover: transparent;
		--dsc-input-outline-color--toggle--hover: transparent;
		--dsc-input-stroke: 0.045em;

		--_mtdsc-input-color-placeholder: color-mix(
			in srgb,
			var(--dsc-input-color),
			transparent 35%
		);
	}
	/* Ensure minimum 16px input font size on mobile - TODO DigDir */
	[data-size="sm"] .input {
		font-size: max(1rem, var(--ds-body-sm-font-size));
	}

	/* Allow inputs to have both readonly and disabled since browser does not prevent readonly on checkobx/radio */
	.input[readonly]:disabled {
		opacity: 1;
	}

	.input[type="checkbox"]:not([role="switch"]) {
		border-radius: var(--ds-border-radius-md);
	}

	/* If list attribute exits, allow rendering dropdown chevron instead */
	.input[type="search"]:not([data-icon="none"]) {
		background-image: var(--mtds-icon-search);
		background-position: var(--ds-size-3) center;
		background-repeat: no-repeat;
		background-size: var(--ds-size-6);
		padding-left: var(--ds-size-12);
	}

	/* Style placeholder for better contrast in dark mode */
	.input::-webkit-input-placeholder {
		color: var(--_mtdsc-input-color-placeholder); /* Chrome/Opera/Safari */
	}
	.input::-moz-placeholder {
		color: var(--_mtdsc-input-color-placeholder); /* Firefox 19+ */
	}
	.input:-ms-input-placeholder {
		color: var(--_mtdsc-input-color-placeholder); /* IE 10+ */
	}
	.input::placeholder {
		color: var(--_mtdsc-input-color-placeholder); /* Modern */
	}

	/* Re-create DigiDir chevron */
	.input:where([list]:not([type="search"])) {
		--dsc-input-stroke-width: 0.04em;
		background-image:
			linear-gradient(
				45deg,
				var(--_dsc-input-diagonal-1),
				var(--_dsc-input-diagonal-2),
				var(--_dsc-input-diagonal-3),
				var(--_dsc-input-diagonal-4)
			),
			linear-gradient(
				-45deg,
				var(--_dsc-input-diagonal-1),
				var(--_dsc-input-diagonal-2),
				var(--_dsc-input-diagonal-3),
				var(--_dsc-input-diagonal-4)
			);
		background-position:
			calc(100% - 1.2em + var(--dsc-input-stroke-width)), calc(100% - 0.8em);
		background-repeat: no-repeat;
		background-size: 0.4em 0.4em;
		padding-right: 2.4em;
	}

	.input:is(textarea) {
		resize: none; /* Hide resize handle since we auto resize with JS */
	}

	/* Adjust background-size for input switch */
	.input[type="checkbox"][role="switch"] {
		background-size: calc(var(--dsc-input-size--toggle) - var(--ds-size-1) / 2)
			100%;
	}

	.input[type="search"]::-webkit-search-cancel-button {
		-webkit-appearance: none;
		cursor: pointer;
		width: var(--ds-size-3);
		height: var(--ds-size-3);
		background:
			linear-gradient(
				45deg,
				transparent 0%,
				transparent 43%,
				currentcolor 45%,
				currentcolor 55%,
				transparent 57%,
				transparent 100%
			),
			linear-gradient(
				135deg,
				transparent 0%,
				transparent 43%,
				currentcolor 45%,
				currentcolor 55%,
				transparent 57%,
				transparent 100%
			);
	}
	.input[type="search"][list]::-webkit-search-cancel-button {
		display: none;
	}

	/* Chrome and Safari: Add custom icon (Firefox does not support this) */
	@supports selector(::-webkit-scrollbar) {
		.input[type="date"] {
			background-image: var(--mtds-icon-calendar);
			background-position: calc(100% - var(--ds-size-3)) center;
			background-repeat: no-repeat;
			background-size: var(--ds-size-6);
			min-width: 15ch; /* Prevent date icon from overlapping content */
		}
		/* Chrome: Keep, but hide native icon */
		.input[type="date"]::-webkit-calendar-picker-indicator {
			cursor: pointer;
			opacity: 0;
			width: var(--ds-size-6);
		}
	}

	/* Fix Safari placeholder https://stackoverflow.com/q/73896040 */
	@supports (-webkit-hyphens: none) {
		.input[type="date"] {
			color: initial;
		}
	}

	.input[data-variant="inline"]:not([type="radio"], [type="checkbox"]) {
		--mtdsc-input-background: transparent;
		--mtdsc-input-border-width: 0px;
		--mtdsc-input-padding: 0 var(--mtds-1);
		--mtdsc-input-size: auto;
		margin: 0 calc(var(--mtds-1) * -1);
		border-radius: var(--ds-border-radius-sm);
		transition-duration: 0.2s;
		transition-property: background-color, outline;

		&:hover {
			--mtdsc-input-background: var(--mtds-color-background-tinted);
		}
		&:focus-visible {
			--mtdsc-input-background: var(--mtds-color-surface-default);
		}
	}
}
