@layer mt.design {
	.button {
		composes: ds-button from "@digdir/designsystemet-css";
		/* TODO Digdir: add --dsc-button-border-radius */

		flex-shrink: 0; /* If placed in flex */
		max-width: 100%;
		text-align: center;
		transition-duration: 0.2s;
		transition-property: background-color, scale, translate;
		width: fit-content;
	}
	.button[data-self="full"] {
		width: 100%;
	}

	/* Overwrite to same as tertiary from Designsystemet, but not if label which is styled by toggle-group  */
	.button:where(:not([data-variant="primary"]):not(label)) {
		--dsc-button-background: transparent;
		--dsc-button-background--active: var(--ds-color-surface-active);
		--dsc-button-background--hover: var(--ds-color-surface-hover);
		--dsc-button-color: var(--ds-color-text-default);
		--dsc-button-color--hover: var(--ds-color-text-default);
	}

	.button[data-variant="primary"] {
		border: 0; /* Hide border to ensure equal heights */
	}

	.button[aria-pressed="true"],
	.button[aria-current]:not([aria-current="false"]) {
		--dsc-button-background: var(--ds-color-surface-hover);
		font-weight: 700;
	}
	.button[data-justify="start"],
	.button[data-justify="left"] {
		justify-content: start;
		text-align: start;
	}
	.button[data-justify="right"],
	.button[data-justify="end"] {
		justify-content: end;
		text-align: end;
	}

	.button::before,
	.button > svg {
		fill: currentColor;
		flex-shrink: 0;
		font-size: 1em;
		height: var(--mtds-icon-size);
		width: var(--mtds-icon-size);
	}

	.button:disabled,
	.button[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.6;
	}

	.button:active {
		scale: 0.975;
	}

	.button:has([data-nowrap]) {
		flex-shrink: 1;
	}

	.button [data-nowrap] {
		overflow: clip;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-width: 0;
	}

	/* Prepare for icon */
	.button::before {
		background: currentcolor;
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		overflow: clip;
		white-space: nowrap;
	}

	/**
	 * Arrows and popover
	 */
	.button[data-arrow]::before {
		content: "";
		mask-image: var(--mtds-icon-arrow);
		order: 1; /* Use ::before and change order so ::after is allways unused, and loading will be placed where arrow was */
	}
	.button[data-arrow="left"]::before {
		order: -1;
		rotate: 180deg;
	}
	.button[data-arrow][aria-expanded]::before,
	.button[data-arrow][popovertarget]::before {
		mask-image: var(--mtds-icon-chevron);
		transition: rotate 0.2s ease-out;
	}
	.button[data-arrow][aria-expanded="true"]::before,
	.button[data-arrow][popovertarget]:has(+ :popover-open)::before {
		rotate: -180deg;
	}

	/**
	 * Loading
	 */
	.button[aria-busy="true"] {
		pointer-events: none;
		opacity: 1; /* Undo :disabled style */
	}
	.button[aria-busy="true"]::before {
		background: currentcolor;
		content: var(--mtds-text-loading);
		display: inline-block;
		height: var(--mtds-icon-size);
		mask: center / contain no-repeat var(--mtds-icon-spinner);
		overflow: clip;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		width: var(--mtds-icon-size);
	}

	.button[aria-busy="true"]:not([data-arrow]) > svg {
		display: none; /* Replace icon if no arrow */
	}

	/**
	 * Aria-pressed / Popover-open
	 */
	.button[popovertarget]:has(+ :not(:popover-open)) [data-pressed="true"],
	.button[popovertarget]:has(+ :popover-open) [data-pressed="false"],
	.button[aria-pressed="false"] [data-pressed="true"],
	.button[aria-pressed="true"] [data-pressed="false"] {
		display: none;
	}

	/**
	 * In <menu>
	 */
	/* Using :where to only reset browser agent standards, but allow direct child selector (.something > *) to still winn */
	menu:where(:has(> li > .button)) {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	menu > li > .button {
		border-radius: var(--ds-border-radius-md);
		font-weight: normal;
		justify-content: start;
		text-align: start;
		width: 100%;
	}
}

/**
 * Paint ellipsis when empty, but let Digdir overwrite it
 */
@layer ds.base {
	.button:empty::before {
		content: "";
		mask-image: var(--mtds-icon-ellipsis);
	}
}
