/*
 * IMPORTANT: [data-command="toggle-app-expanded"] is deprecated but kept for backward compatibility.
 * Please use [command="show-modal"] instead.
 */

@layer mt.design {
	/**
	 * App layout
	 * NOTE1: Selectors supports both direct child or as sibling of <main> for easier island architecture
	 * NOTE2: Negative margin is used to avoid double spacing when using <main> as a sibling, while keeping ability for background colors
	 * NOTE3: Global variables used to avoid Next.js hydration conflict
	 */
	:root {
		/* Cyclic dependency space toggles: https://kizu.dev/cyclic-toggles/ */
		--mtds-app-expanded: var(--mtds-app-expanded--true);
		--mtds-app-expanded--false: var(--mtds-app-expanded,);
		--mtds-app-expanded--true: var(--mtds-app-expanded,);
	}
	.app {
		--mtdsc-app-sidebar-width: 14em; /* Using rem and not -ds-size as we do not want this to be fluid */
		--mtdsc-app-spacing: var(--ds-size-4);
		--_mtdsc-app-negative: calc(var(--mtdsc-app-spacing) * -1);

		box-sizing: border-box;
		min-height: 100vh;
		padding: var(--mtdsc-app-spacing);
		grid-template:
			"header header" auto
			"sidebar main" 1fr
			"footer footer" auto / auto 1fr;
	}
	@supports (min-height: 100svh) {
		.app {
			min-height: 100svh;
		}
	}

	.app:where(:not([hidden])) {
		display: grid;
	}
	.app > :not([hidden]) {
		display: content; /* Allow nesting <div> inside app for easier island architecture  */
	}

	/* Hide relevant child elements with data-expanded attribute */
	/* Using content-visibility to avoid conflicts with display */
	.app [data-app-expanded="true"] {
		visibility: var(--mtds-app-expanded--false, hidden);
		position: var(--mtds-app-expanded--false, fixed);
	}
	.app [data-app-expanded="false"] {
		visibility: var(--mtds-app-expanded--true, hidden);
		position: var(--mtds-app-expanded--true, fixed);
	}

	/* Double selector to increase specificity */
	.app.app > [command="show-modal"],
	.app.app [data-command="toggle-app-expanded"] {
		--dsc-button-background: var(--ds-color-background-default);
		--dsc-button-border-color: transparent; /* var(--ds-color-border-subtle) */

		bottom: var(--mtdsc-app-spacing);
		box-shadow: var(--ds-box-shadow-md);
		flex-direction: var(--mtds-app-expanded--false, column);
		grid-area: sidebar;
		height: var(--dsc-button-size);
		justify-content: start; /* Clip from start */
		/* Compress text when small */
		letter-spacing: var(--mtds-app-expanded--false, -1em);
		margin-top: auto; /* Push to bottom */
		overflow: clip;
		position: sticky;
		white-space: nowrap;
		width: fit-content;
		z-index: 3;
		view-transition-name: mtds-app--toggle;
	}
	.app.app > [command="show-modal"]:empty,
	.app.app [data-command="toggle-app-expanded"]:empty {
		--mtds-tooltip-position: top;
		--_ds-floating: top;
	}
	.app.app > [command="show-modal"]::before,
	.app.app [data-command="toggle-app-expanded"]::before {
		content: "";
		height: 100%; /* Make sure to hide text when wrapped */
		mask-image: var(
				--mtds-app-expanded--true,
				var(--mtds-icon-sidebar-collapse)
			)
			var(--mtds-app-expanded--false, var(--mtds-icon-sidebar-expand));
	}

	/**
	 * Header
	 */
	.app > header,
	.app header:has(~ main) {
		align-items: center;
		box-sizing: border-box;
		gap: 0.125rem; /* Add 2px space between buttons - same as in <menu> */
		grid-area: header;
		margin: var(--_mtdsc-app-negative) var(--_mtdsc-app-negative) 0;
		min-width: 0; /* Fix CSS Grid sizing */
		padding: var(--mtdsc-app-spacing);

		&:not([hidden]) {
			display: flex;
		}

		& > :first-child {
			margin-right: auto; /* Push logo to left */
			min-width: 0; /* Allow shrinking if using breadcrumbs */
		}
	}

	/**
	 * Left side
	 */
	body:has(
		:is(
				.app dialog:has(~ main),
				.app > dialog,
				.app > [command="show-modal"],
				.app
					> [data-command="toggle-app-expanded"] /* Backwards compatibility */
			):not(:empty):hover
	)
	:global(#mtds-tooltip) {
		--_ds-floating: right; /* Place tooltip right when over sidebar */
		--_ds-floating-arrow-visibility: inherit;
		visibility: var(--mtds-app-expanded--true, hidden)
			var(--mtds-app-expanded--false, visible); /* Hide tooltip when expanded sidebar */
	}

	.app > dialog,
	.app dialog:has(~ main) {
		all: unset; /* Undo dialog styling */
		background: var(--ds-color-background-default);
		box-sizing: border-box;
		color: var(--ds-color-text-default);
		grid-area: sidebar;
		margin-left: var(--_mtdsc-app-negative);
		min-width: 0; /* Fix CSS Grid sizing */
		padding: var(--ds-size-5) calc(var(--mtdsc-app-spacing) * 2);
		width: var(--mtds-app-expanded--true, var(--mtdsc-app-sidebar-width));
		view-transition-name: mtds-app--sidebar;

		/* Minus margin on li instead of menu to allow menu to be .sticky */
		& menu > li {
			margin-inline: var(--_mtdsc-app-negative);
		}
		& menu [data-tooltip]::after {
			content: var(--mtds-app-expanded--true, attr(data-tooltip));
		}
		/* Allow right aligned badge when maximized */
		& menu [data-badge] {
			--_mtdsc-badge-small: var(--mtds-app-expanded--true, ) var(--mtds-app-expanded--false, initial);
			display: var(--mtds-app-expanded--true, contents);
		}
		& menu [data-badge]::before {
			margin-left: auto;
			order: 1;
		}
	}

	/* Sticky position */
	.sticky {
		margin-block: var(--_mtdsc-app-negative);
		padding-block: var(--mtdsc-app-spacing) var(--mtds-18); /* Make space for <button> */
		position: var(--pos);
		top: var(--top);
	}

	/**
	 * Main
	 * NOTE: <main> can only appear once on a page so no need for direct child selector
	 */
	.app main {
		grid-area: main;
		min-width: 0; /* Fix CSS Grid sizing */
		view-transition-name: mtds-app--main;
	}

	/**
	 * Footer
	 */
	.app > footer,
	.app main ~ footer {
		background: var(--ds-color-background-default);
		box-sizing: border-box;
		color: var(--ds-color-text-subtle);
		grid-area: footer;
		min-width: 0; /* Fix CSS Grid sizing */
		padding: var(--mtdsc-app-spacing);
		margin: var(--mtdsc-app-spacing) var(--_mtdsc-app-negative)
			var(--_mtdsc-app-negative);

		/* Force info if not set */
		&:not([data-color]) {
			--ds-color-background-default: var(
				--ds-color-inverted-background-default
			);
			--ds-color-background-tinted: var(--ds-color-inverted-background-tinted);
			--ds-color-surface-tinted: var(--ds-color-inverted-surface-tinted);
			--ds-color-surface-hover: var(--ds-color-inverted-surface-hover);
			--ds-color-surface-active: var(--ds-color-inverted-surface-active);
			--ds-color-border-subtle: var(--ds-color-inverted-border-subtle);
			--ds-color-border-default: var(--ds-color-inverted-border-default);
			--ds-color-border-strong: var(--ds-color-inverted-border-strong);
			--ds-color-base-default: var(--ds-color-inverted-base-default);
			--ds-color-base-hover: var(--ds-color-inverted-base-hover);
			--ds-color-base-active: var(--ds-color-inverted-base-active);
			--ds-color-text-subtle: var(--ds-color-inverted-text-subtle);
			--ds-color-text-default: var(--ds-color-inverted-text-default);
			--ds-color-base-contrast-subtle: var(
				--ds-color-inverted-base-contrast-subtle
			);
			--ds-color-base-contrast-default: var(
				--ds-color-inverted-base-contrast-default
			);
		}
	}

	/**
	 * Maxium 768px
	 */
	@media (min-width: 48.0625em) {
		.app [data-app-expanded="mobile"] {
			visibility: hidden;
			position: fixed;
		}
	}
	@media (max-width: 48em) {
		.app [data-app-expanded="desktop"] {
			visibility: hidden;
			position: fixed;
		}
		.app {
			--mtds-app-expanded--true: initial;
			--mtds-app-expanded--false: ;
		}
		.app:not([data-variant="mobilebar"]):has(> [command="show-modal"]),
		.app:not([data-variant="mobilebar"]):has(
				[data-command="toggle-app-expanded"]
			) {
			& > header,
			& header:has(~ main) {
				padding-right: calc(var(--mtds-15) + var(--mtds-2));
			}
		}
		.app > dialog,
		.app dialog:has(~ main) {
			inset: 0 auto 0 0;
			margin: 0;
			overflow: auto;
			position: fixed;
			z-index: 999;

			&::backdrop {
				background: rgba(0, 0, 0, 0.5);
				cursor: pointer;
			}

			&:not(:modal) {
				left: -2em;
				visibility: hidden;
			}
		}
		.app.app > [command="show-modal"],
		.app.app [data-command="toggle-app-expanded"] {
			--dsc-button-background: transparent;
			--dsc-button-border-color: transparent;
			--mtds-app-expanded--false: initial; /* Minimize button */

			box-shadow: none;
			inset: var(--mtdsc-app-spacing) calc(var(--mtdsc-app-spacing) * 0.5) auto
				auto;
			position: absolute;
		}
		.app.app > [command="show-modal"]::before,
		.app.app [data-command="toggle-app-expanded"]::before {
			mask-image: var(--mtds-icon-burger);
		}
		.app main {
			margin-inline: calc(var(--mtdsc-app-spacing) * -0.5);
			view-transition-name: none; /* No need to animate on mobile */
		}
		body:has(.app > dialog:modal, .app > dialog:modal ~ main) {
			overflow: hidden; /* Prevent scroll when menu is open */
		}

		/**
		 * Variant: mobilebar
		 */
		.app[data-variant="mobilebar"] {
			padding-bottom: 200px;
		}
		.app[data-variant="mobilebar"] > [command="show-modal"],
		.app[data-variant="mobilebar"] [data-command="toggle-app-expanded"] {
			display: none;
		}
		.app[data-variant="mobilebar"] > dialog,
		.app[data-variant="mobilebar"] dialog:has(~ main) {
			background: var(--ds-color-background-default);
			border-top: var(--ds-border-width-default) solid
				var(--ds-color-border-subtle);
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: minmax(max-content, 1fr);
			inset: auto 0 0 0;
			padding: var(--ds-size-2);
			visibility: visible;
			width: auto;
			overflow: auto;

			& :not(svg, svg *) {
				display: contents;
			}
			& :is(h1, h2, h3, h4, h5, h6, hr, [data-app-expanded="true"]) {
				display: none;
			}
			& :is(a, button) {
				display: grid;
				font-size: 0.6875rem;
				gap: 0.125rem; /* Add 2px space between buttons - same as in <menu> */
				justify-content: center;
				justify-items: center;
			}
			& [data-badge] {
				--dsc-badge-size: var(--ds-size-2);
				--dsc-badge-offset: 0.15rem -0.15rem;
				--_mtdsc-badge-small: initial;
				display: inline-grid;
				font-size: 1px;
			}
			& [data-badge]::before {
				color: transparent;
			}
		}
	}
}

::view-transition-old(mtds-app--toggle),
::view-transition-new(mtds-app--toggle),
::view-transition-old(mtds-app--sidebar),
::view-transition-new(mtds-app--sidebar) {
	height: 100%;
	object-fit: none;
	object-position: top left;
}
