@layer mt.desgin {
	mtds-chart {
		--mtdsc-chart-aspect: 16 / 9;
		--mtdsc-chart-axis-border: var(--ds-border-width-default) solid
			var(--ds-color-border-subtle);
		--mtdsc-chart-axis-edge-color: var(--ds-color-border-default);
		--mtdsc-chart-axis-edge-radius: var(--ds-border-radius-lg);
		--mtdsc-chart-axis-edge-width: var(--ds-border-width-default);
		--mtdsc-chart-axis-gap: var(--ds-size-3);
		--mtdsc-chart-border-color: #054449;
		--mtdsc-chart-border-width: var(--ds-border-width-default);
		--mtdsc-chart-color-1: var(--ds-color-charts-chart-a);
		--mtdsc-chart-color-2: var(--ds-color-charts-chart-b);
		--mtdsc-chart-color-3: var(--ds-color-charts-chart-c);
		--mtdsc-chart-color-4: var(--ds-color-charts-chart-d);
		--mtdsc-chart-color-5: var(--ds-color-charts-chart-e);
	}
	mtds-chart table {
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
	}
	mtds-chart :is(th, td) {
		border-bottom: var(--mtdsc-chart-axis-border);
		text-align: inherit;
		padding: var(--ds-size-1);
	}

	/* Line filter */
	:root {
		--_mtdsc-chart-line-filter: brightness(0.8) saturate(2);
	}
	[data-color-scheme="dark"] {
		--_mtdsc-chart-line-filter: saturate(1.5);
	}
	@media (prefers-color-scheme: dark) {
		[data-color-scheme="auto"] {
			--_mtdsc-chart-line-filter: saturate(1.5);
		}
	}
}
