:host {
	--mtdsc-atlas-cluster-size: var(--mtds-8);
	--mtdsc-atlas-background: #fbfbfb;
	--mtdsc-atlas-border-color: var(--ds-color-border-subtle);
	--mtdsc-atlas-border: var(--ds-border-width-default) solid
		var(--mtdsc-atlas-border-color);

	border-radius: var(--ds-border-radius-md);
	aspect-ratio: 2;
	overflow: clip;
	position: relative;
	user-select: none;
}
:host(:not([hidden])) {
	display: grid;
}
:host([data-cursor="pointer"]) .leaflet-grab {
	cursor: pointer;
}
.leaflet-tile-container {
	filter: grayscale(1) contrast(0.75) brightness(1.15);
}
:host([data-tiles="color"]) .leaflet-tile-container {
	filter: grayscale(0.2);
}
:host([data-tiles="color"]) {
	--mtdsc-atlas-background: #e5fcfd;
}
:host:has(.leaflet-container:focus-visible) {
	box-shadow: var(--dsc-focus-boxShadow);
	outline: var(--dsc-focus-outline);
	outline-offset: var(--ds-border-width-focus);
}
slot {
	display: grid;
	inset: var(--mtds-3);
	pointer-events: none; /* Ensure slot does not stop pointer from reaching leaflet */
	position: absolute;
	z-index: 2;
}
::slotted(*) {
	pointer-events: all; /* But let children of slot stop pointer from reaching leaflet */
}
.leaflet-div-icon {
	background: none;
	border: 0;
}
.leaflet-container {
	background: var(--mtdsc-atlas-background);
	border-radius: inherit;
	border: var(--mtdsc-atlas-border);
	box-sizing: border-box;
	font: inherit;
	outline: 0;
	position: relative;
	z-index: 1; /* Ensure <slot> is always on top */
}
.leaflet-control-attribution {
	font-size: 12px;
	border-top-left-radius: var(--ds-border-radius-md);
}

.map-pin rect {
	fill: var(--ds-color-base-contrast-default);
}
.map-pin path {
	fill: var(--ds-color-base-default);
}

.marker-cluster {
	background-color: var(--mtds-color-base-default);
	border-radius: 100%;
	color: var(--mtds-color-base-contrast-default);
	font-weight: 500;
	font-size: var(--ds-body-xs-font-size);
	line-height: var(--mtdsc-atlas-cluster-size);
	text-align: center;

	/* biome-ignore lint/complexity/noImportantStyles: need to overwrite style attribute */
	width: var(--mtdsc-atlas-cluster-size) !important;
	/* biome-ignore lint/complexity/noImportantStyles: need to overwrite style attribute */
	height: var(--mtdsc-atlas-cluster-size) !important;
	/* biome-ignore lint/complexity/noImportantStyles: need to overwrite style attribute */
	margin: calc(var(--mtdsc-atlas-cluster-size) / -2) !important;
}
