/* Work in progress banner */
:root {
  --vp-layout-top-height: 2rem;
}
body:has(.VPNav)::before {
  background: linear-gradient(100deg, var(--mt-solstreif) 25%, var(--mt-sommerdag) 25%, var(--mt-sommerdag) 75% , var(--mt-solstreif) 75%) center/5rem 100%;
  content: 'SIDEN ER UNDER UTVIKLING';
  font: 700 .8125rem/var(--vp-layout-top-height) sans-serif;
  font-family: inherit;
  inset: 0 0 auto;
  letter-spacing: .15em;
  position: fixed;
  text-align: center;
  z-index: 999;
}

/* Ensure accessible focus */
:focus-visible:not(.search-input) {
  outline: 0!important;
  box-shadow: 0 0 0 1px var(--vp-c-bg),0 0 0 3px var(--vp-c-brand-1),0 0 0 4px var(--vp-c-bg)!important;
}

/* Navbar, sidebar and table of content */
.VPNavBar { background: var(--mt-hvit)!important; border-bottom: 1px solid var(--mt-divider) }
.VPNavBar .title { font-size: 0!important } /* Hide textual logo */
.VPNavBar .content-body { background: none!important }
.VPNavBar .VPNavBarSearch { justify-content: end }
.VPNavBar .VPNavBarSearch .DocSearch-Button-Keys { display: none }
.VPNavBar .VPNavBarSearch .DocSearch-Button-Placeholder { padding: 0 }
.VPSidebar .VPSidebarItem .text { font-size: 1.125rem; line-height: 1.6; color: inherit!important; }
.VPSidebar .VPSidebarItem.level-1 .text { font-weight: inherit }
.VPSidebar .VPSidebarItem.level-0:not(.collapsible) .text { font-weight: 700 }
.VPSidebar .VPSidebarItem.is-active .indicator { background: currentcolor }
.VPDoc.VPDoc { padding-inline: 0 }
.VPDoc .aside,
.VPDoc .content:has(.content-container) { padding: 0 }
.VPDoc .content-container {
  background: var(--mt-hvit);
  border-radius: var(--mt-radius-lg);
  border: 1px solid var(--mt-divider);
  max-width: none!important;
  margin-bottom: 9rem;
  padding: calc(10% - 1rem);
}
.VPDocOutlineItem { padding-right: .5rem } /* Make space for focus indicator */
#VPSidebarNav { padding-top: 48px }

/* Content */
.vp-doc { font-size: 1.25rem; line-height: 1.6; -webkit-font-smoothing: subpixel-antialiased } /* Undo Vitepress default font-rendering */
.vp-doc > * > :not([data-fill]), .VPDocFooter { max-width: 45rem; margin-inline: auto; }
.vp-doc :where([data-fill]) { display: block; margin-block: 3rem }
.vp-doc h3:has(+ [data-fill]) { max-width: none }
.vp-doc p { font: inherit }
.vp-doc h1 { font-weight: 700; font-size: 3rem; line-height: 1.2; margin: 0 }
.vp-doc h2 { font-weight: 700; font-size: 1.625rem; line-height: 1.2; margin-top: 3rem }
.vp-doc h3 { font-weight: 700; font-size: 1.25rem; line-height: 1.2; margin-top: 3rem }

.VPHero { margin-top: 1%!important }
.VPButton { font-size: inherit!important }

/* Theme */
:root {
  --mt-radius-md: .5rem;
  --mt-radius-lg: 1rem;

  --mt-divider:  color-mix(in hsl, currentcolor, transparent 90%);
  --mt-gaasunge: #faf6f3;
  --mt-granskog: #054449;
  --mt-lys-furu: #9bcab9;
  --mt-mork-granskog: #032C30;
  --mt-sand: #F4ECE6;
  --mt-sommerdag: #f9cc76;
  --mt-solstreif: #f8de9c;
  --mt-hvit: white;

  --vp-font-family-base: Avenir, ui-sans-serif, system-ui, sans-serif;
  --vp-nav-bg-color: var(--mt-hvit);
  --vp-nav-screen-bg-color: var(--mt-hvit);
  --vp-layout-max-width: 100vw;
  --vp-sidebar-width: 300px;
  --vp-sidebar-bg-color: var(--mt-gaasunge);

  --vp-c-gutter: transparent;
  --vp-c-divider: transparent;

  --vp-c-bg: var(--mt-gaasunge);
  --vp-c-bg-alt: var(--mt-hvit);
  --vp-c-bg-soft: var(--mt-hvit);
  --vp-c-text-1: var(--mt-mork-granskog);
  --vp-c-text-2: var(--mt-mork-granskog);

  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--mt-hvit);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--mt-granskog);
  --vp-c-brand-2: var(--mt-mork-granskog);
  --vp-c-brand-3: var(--mt-granskog);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure var(--mt-hvit) (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */
