@layer mt.design {
	.dialog {
		composes: ds-dialog from "@digdir/designsystemet-css";

		inset: 50% auto auto 50%;
		margin: 0;
		max-height: 90svh;
		max-height: 90vh;
		overflow: auto;
		max-height: 90vh;
		overflow: auto;
		position: fixed;
		z-index: 1000; /* Place above also when non-modal */

		&[data-closedby="any"]::backdrop {
			cursor: pointer;
		}

		& > button:first-child:empty,
		& > form[method="dialog"]:first-child > button:only-child {
			all: unset;
			border-radius: var(--ds-border-radius-md);
			cursor: pointer;
			float: right;
			position: relative;
			transition: scale .2s;

			&:focus-visible {
				box-shadow: var(--dsc-focus-boxShadow);
				outline: var(--dsc-focus-outline);
				outline-offset: var(--ds-border-width-focus);
			}

			&:active {
				scale: 0.9;
			}
			&::before {
				background: currentcolor;
				box-sizing: border-box;
				content: "";
				display: block;
				height: var(--mtds-icon-size);
				mask: center / contain no-repeat var(--mtds-icon-close) content-box;
				position: relative;
				width: var(--mtds-icon-size);
			}
			&::after {
				content: "";
				position: absolute; /* Increase click surface */
				inset: -.5em;
			}
		}
	}
}
