@layer mt.design {
	body:not(:has(.dialog:modal)) {
		overflow: auto; /* TODO: Remove when DigiDir release next-49 */
	}
	.dialog {
		composes: ds-modal from "@digdir/designsystemet-css"; /* TODO: Change to ds-dialog when DigiDir release next-49 */

		animation: _fadein .2s forwards;
		bottom: auto;
		left: 50%;
		margin: 0;
		max-height: 90svh;
		max-height: 90vh;
		overflow: auto;
		position: fixed;
		right: auto;
		top: 50%;
		transform: translate(-50%, -50%);

		&[data-closedby="any"]::backdrop {
			cursor: pointer;
		}

		& > button:first-child:empty,
		& > form[method="dialog"]:first-child > button:only-child {
			all: unset;
			border-radius: var(--ds-border-radius-md);
			cursor: pointer;
			float: right;
			position: relative;
			transition: scale .2s;

			&:focus-visible {
				box-shadow: var(--ds--focus, var(--dsc-focus-boxShadow));
				outline-offset: var(--ds--focus, var(--dsc-focus-border-width));
				outline: var(--ds--focus, var(--dsc-focus-outline));
			}

			&:active {
				scale: 0.9;
			}
			&::before {
				background: currentcolor;
				box-sizing: border-box;
				content: "";
				display: block;
				height: var(--mtds-icon-size);
				mask: center / contain no-repeat var(--mtds-icon-close) content-box;
				position: relative;
				width: var(--mtds-icon-size);
			}
			&::after {
				content: "";
				position: absolute; /* Increase click surface */
				inset: -.5em;
			}
		}
	}
}

@keyframes _fadein {
	from {
		opacity: 0;
		translate: 0 1rem;
	}
}
