@layer mt.design {
	.autolayout {
		--gap: var(--ds-spacing-3);
		--columns: 1;
		--min: 0px;
		--max: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns)); /* Inspired by https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */

		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);

		&[data-grid] {
			--repeat: auto-fill;
			--grid: 0px;
			display: grid;
			align-content: start;
			grid-template-columns: repeat(
					var(--repeat),
					minmax(min(100%, var(--grid)), 1fr)
				);
			& > * {
				min-width: 0; /* https://css-tricks.com/preventing-a-grid-blowout/ */
			}
		}
		&[data-grid="fit"] {
			--repeat: auto-fit;
		}
		&[data-grid="xs"] {
			--grid: 50px;
		}
		&[data-grid="sm"] {
			--grid: 100px;
		}
		&[data-grid="md"] {
			--grid: 150px;
		}
		&[data-grid="lg"] {
			--grid: 200px;
		}

		/* Set min-width to allow flex-basis to do its job, see https://defensivecss.dev/tip/flexbox-min-content-size/ */
		/* &[data-min] > *,
		&[data-max] > * {
			flex: 1 1 var(--min);
			min-width: 0;
			max-width: var(--max);
		} */

		&[data-min="sm"],
		& > [data-min="sm"] {
			--min: 100px;
		}
		&[data-min="md"],
		& > [data-min="md"] {
			--min: 200px;
		}
		&[data-min="lg"],
		& > [data-min="lg"] {
			--min: 300px;
		}

		&[data-max="sm"] {
			--max: 100px;
		}
		&[data-max="md"] {
			--max: 200px;
		}
		&[data-max="lg"] {
			--max: 300px;
		}
		&[data-grid="4.8"] {
			grid-template-columns:
				minmax(min(var(--min), 100%), 4fr)
				minmax(min(var(--min), 100%), 8fr);
		}

		/* & > * { */
		/*--gap: var(--ds-spacing-3); /* Reset column-gap when nesting .flex in .flex */
		/*--columns: auto; /* Reset layout when nesting .flex in .flex */
		/* box-sizing: border-box;
			flex-basis: var(--max); */
		/* flex-basis: calc(
				100% /
				var(--columns) -
				var(--gap) /
				var(--columns) *
				(var(--columns) - 1)
			); */

		/* When Flex has layout: Set min-width/height to 0 to allow flex-basis to do its job without interference from long sentences */
		/* See more: https://defensivecss.dev/tip/flexbox-min-content-size/ */
		/*min-width: calc(var(--builders-flex-layout) * 0px); /* Only set min-width when --builders-flex-layout is an integer */
		/*min-height: calc(var(--builders-flex-layout) * 0px); /* Only set min-height when --builders-flex-layout is an integer */
		/* } */

		/* .flex {
			--cols: 3;
			--gap: 30px;
			display: flex;
			gap: var(--gap);
		}
		
		.flex-child {
			flex-basis: calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
		} */

		/* &[data-grid] {
			display: grid;
			grid-template-columns: repeat(
					auto-fill,
					minmax(min(max(var(--min), var(--max)), 100%), 1fr)
				);
		}

		&[data-grid="2"] {
			--columns: 2;
		}
		&[data-grid="3"] {
			--columns: 3;
		}
		&[data-grid="4"] {
			--columns: 4;
		}
		&[data-grid="8.4"] {
			grid-template-columns: 8fr 4fr;
		} */

		&[data-gap="none"],
		&[data-gap="false"] {
			--gap: 0px;
		}
		&[data-gap="xs"] {
			--gap: var(--ds-spacing-1);
		}
		&[data-gap="sm"] {
			--gap: var(--ds-spacing-2);
		}
		&[data-gap="lg"] {
			--gap: var(--ds-spacing-8);
		}

		&[data-align="start"] {
			align-items: start;
		}
		&[data-align="center"] {
			align-items: center;
		}
		&[data-align="end"] {
			align-items: end;
		}
		&[data-align-content="start"] {
			align-content: flex-start;
		}
		&[data-align-content="center"] {
			align-content: center;
		}
		&[data-align-content="end"] {
			align-content: flex-end;
		}
		&[data-align-content="stretch"] {
			align-content: stretch;
		}
		&[data-align-content="space-around"] {
			align-content: space-around;
		}
		&[data-align-content="space-between"] {
			align-content: space-between;
		}
		&[data-align-content="space-evenly"] {
			align-content: space-evenly;
		}

		&[data-justify="start"] {
			justify-content: start;
		}
		&[data-justify="center"] {
			justify-content: center;
		}
		&[data-justify="end"] {
			justify-content: end;
		}
		&[data-justify="space-around"] {
			justify-content: space-around;
		}
		&[data-justify="space-between"] {
			justify-content: space-between;
		}
		&[data-justify="space-evenly"] {
			justify-content: space-evenly;
		}

		&[data-fill] > * {
			flex-grow: 1;
		}
		&[data-nowrap] {
			flex-wrap: nowrap;
			/* When Flex has layout AND nowrap: Prevent shrinking because we want elements to stay their intended width when */
			/* & > * {
				flex-shrink: calc(var(--flex-layout) * 0); /* Only shrink when --flex-layout is an integer
			} */
		}

		&[data-center="md"] {
			max-width: var(--container-md);
		}
		&[data-center="md"],
		&[data-center="lg"],
		&[data-center="xl"],
		&[data-center="xxl"] {
			box-sizing: border-box;
			margin-inline: auto;
			width: calc(100% - var(--unit-50)); /* Fake 20px padding on each side */
		}

		&[data-center="lg"],
		&[data-center="xl"],
		&[data-center="xxl"] {
			/* var(--breakpoint-lg) */
			@media (min-width: 64em) {
				max-width: var(--container-lg);
			}
		}
		&[data-center="xl"],
		&[data-center="xxl"] {
			/* var(--breakpoint-xl) */
			@media (min-width: 75em) {
				max-width: var(--container-xl);
			}
		}
		&[data-center="xxl"] {
			/* var(--breakpoint-xxl) */
			@media (min-width: 101.25em) {
				max-width: var(--container-xxl);
			}
		}
	}

	.xs-10\.2 > :nth-child(2n - 1),
	.xs-2\.1 > :nth-child(2n) {
		--flex-layout: 10;
	}
	.xs-2\.1 > :nth-child(2n - 1),
	.xs-10\.2 > :nth-child(2n) {
		--flex-layout: 2;
	}
	.xs-3\.9 > :nth-child(2n - 1),
	.xs-9\.3 > :nth-child(2n) {
		--flex-layout: 3;
	}
	.xs-4\.8 > :nth-child(2n - 1),
	.xs-8\.4 > :nth-child(2n) {
		--flex-layout: 4;
	}
	.xs-5\.7 > :nth-child(2n - 1),
	.xs-7\.5 > :nth-child(2n) {
		--flex-layout: 5;
	}
	.xs-7\.5 > :nth-child(2n - 1),
	.xs-5\.7 > :nth-child(2n) {
		--flex-layout: 7;
	}
	.xs-8\.4 > :nth-child(2n - 1),
	.xs-4\.8 > :nth-child(2n) {
		--flex-layout: 8;
	}
	.xs-9\.3 > :nth-child(2n - 1),
	.xs-3\.9 > :nth-child(2n) {
		--flex-layout: 9;
	}
	.xs-0 > * {
		--flex-layout: auto;
	}
	.xs-1 > * {
		--flex-layout: 12;
	}
	.xs-2 > * {
		--flex-layout: 6;
	}
	.xs-3 > * {
		--flex-layout: 4;
	}
	.xs-4 > * {
		--flex-layout: 3;
	}
	.xs-6 > * {
		--flex-layout: 2;
	}

	.xs-row-gap-none {
		row-gap: 0px;
	}
	.xs-col-gap-none {
		column-gap: 0px;
		& > * {
			--flex-gap: 0px;
		}
	}
	.xs-row-gap-xs {
		row-gap: var(--unit-10);
	}
	.xs-col-gap-xs {
		column-gap: var(--unit-10);
		& > * {
			--flex-gap: var(--unit-10);
		}
	}
	.xs-row-gap-sm {
		row-gap: var(--unit-20);
	}
	.xs-col-gap-sm {
		column-gap: var(--unit-20);
		& > * {
			--flex-gap: var(--unit-20);
		}
	}
	.xs-row-gap-md {
		row-gap: var(--unit-30);
	}
	.xs-col-gap-md {
		column-gap: var(--unit-30);
		& > * {
			--flex-gap: var(--unit-30);
		}
	}
	.xs-row-gap-lg {
		row-gap: var(--unit-40);
	}
	.xs-col-gap-lg {
		column-gap: var(--unit-40);
		& > * {
			--flex-gap: var(--unit-40);
		}
	}
	.xs-row-gap-xl {
		row-gap: var(--unit-50);
	}
	.xs-col-gap-xl {
		column-gap: var(--unit-50);
		& > * {
			--flex-gap: var(--unit-50);
		}
	}
	.xs-row-gap-xxl {
		row-gap: var(--unit-100);
	}
	.xs-col-gap-xxl {
		column-gap: var(--unit-100);
		& > * {
			--flex-gap: var(--unit-100);
		}
	}

	@media (min-width: 37.5em) {
		/* var(--breakpoint-sm) */
		.sm-2\.1 > :nth-child(2n - 1),
		.sm-10\.2 > :nth-child(2n) {
			--flex-layout: 2;
		}
		.sm-10\.2 > :nth-child(2n - 1),
		.sm-2\.1 > :nth-child(2n) {
			--flex-layout: 10;
		}
		.sm-3\.9 > :nth-child(2n - 1),
		.sm-9\.3 > :nth-child(2n) {
			--flex-layout: 3;
		}
		.sm-9\.3 > :nth-child(2n - 1),
		.sm-3\.9 > :nth-child(2n) {
			--flex-layout: 9;
		}
		.sm-4\.8 > :nth-child(2n - 1),
		.sm-8\.4 > :nth-child(2n) {
			--flex-layout: 4;
		}
		.sm-8\.4 > :nth-child(2n - 1),
		.sm-4\.8 > :nth-child(2n) {
			--flex-layout: 8;
		}
		.sm-5\.7 > :nth-child(2n - 1),
		.sm-7\.5 > :nth-child(2n) {
			--flex-layout: 5;
		}
		.sm-7\.5 > :nth-child(2n - 1),
		.sm-5\.7 > :nth-child(2n) {
			--flex-layout: 7;
		}
		.sm-0 > * {
			--flex-layout: auto;
		}
		.sm-1 > * {
			--flex-layout: 12;
		}
		.sm-2 > * {
			--flex-layout: 6;
		}
		.sm-3 > * {
			--flex-layout: 4;
		}
		.sm-4 > * {
			--flex-layout: 3;
		}
		.sm-6 > * {
			--flex-layout: 2;
		}

		.sm-row-gap-none {
			row-gap: 0px;
		}
		.sm-col-gap-none {
			column-gap: 0px;
			& > * {
				--flex-gap: 0px;
			}
		}
		.sm-row-gap-xs {
			row-gap: var(--unit-10);
		}
		.sm-col-gap-xs {
			column-gap: var(--unit-10);
			& > * {
				--flex-gap: var(--unit-10);
			}
		}
		.sm-row-gap-sm {
			row-gap: var(--unit-20);
		}
		.sm-col-gap-sm {
			column-gap: var(--unit-20);
			& > * {
				--flex-gap: var(--unit-20);
			}
		}
		.sm-row-gap-md {
			row-gap: var(--unit-30);
		}
		.sm-col-gap-md {
			column-gap: var(--unit-30);
			& > * {
				--flex-gap: var(--unit-30);
			}
		}
		.sm-row-gap-lg {
			row-gap: var(--unit-40);
		}
		.sm-col-gap-lg {
			column-gap: var(--unit-40);
			& > * {
				--flex-gap: var(--unit-40);
			}
		}
		.sm-row-gap-xl {
			row-gap: var(--unit-50);
		}
		.sm-col-gap-xl {
			column-gap: var(--unit-50);
			& > * {
				--flex-gap: var(--unit-50);
			}
		}
		.sm-row-gap-xxl {
			row-gap: var(--unit-100);
		}
		.sm-col-gap-xxl {
			column-gap: var(--unit-100);
			& > * {
				--flex-gap: var(--unit-100);
			}
		}
	}

	@media (min-width: 50em) {
		/* var(--breakpoint-md) */
		.md-2\.1 > :nth-child(2n - 1),
		.md-10\.2 > :nth-child(2n) {
			--flex-layout: 2;
		}
		.md-10\.2 > :nth-child(2n - 1),
		.md-2\.1 > :nth-child(2n) {
			--flex-layout: 10;
		}
		.md-3\.9 > :nth-child(2n - 1),
		.md-9\.3 > :nth-child(2n) {
			--flex-layout: 3;
		}
		.md-9\.3 > :nth-child(2n - 1),
		.md-3\.9 > :nth-child(2n) {
			--flex-layout: 9;
		}
		.md-4\.8 > :nth-child(2n - 1),
		.md-8\.4 > :nth-child(2n) {
			--flex-layout: 4;
		}
		.md-8\.4 > :nth-child(2n - 1),
		.md-4\.8 > :nth-child(2n) {
			--flex-layout: 8;
		}
		.md-5\.7 > :nth-child(2n - 1),
		.md-7\.5 > :nth-child(2n) {
			--flex-layout: 5;
		}
		.md-7\.5 > :nth-child(2n - 1),
		.md-5\.7 > :nth-child(2n) {
			--flex-layout: 7;
		}
		.md-0 > * {
			--flex-layout: auto;
		}
		.md-1 > * {
			--flex-layout: 12;
		}
		.md-2 > * {
			--flex-layout: 6;
		}
		.md-3 > * {
			--flex-layout: 4;
		}
		.md-4 > * {
			--flex-layout: 3;
		}
		.md-6 > * {
			--flex-layout: 2;
		}

		.md-row-gap-none {
			row-gap: 0px;
		}
		.md-col-gap-none {
			column-gap: 0px;
			& > * {
				--flex-gap: 0px;
			}
		}
		.md-row-gap-xs {
			row-gap: var(--unit-10);
		}
		.md-col-gap-xs {
			column-gap: var(--unit-10);
			& > * {
				--flex-gap: var(--unit-10);
			}
		}
		.md-row-gap-sm {
			row-gap: var(--unit-20);
		}
		.md-col-gap-sm {
			column-gap: var(--unit-20);
			& > * {
				--flex-gap: var(--unit-20);
			}
		}
		.md-row-gap-md {
			row-gap: var(--unit-30);
		}
		.md-col-gap-md {
			column-gap: var(--unit-30);
			& > * {
				--flex-gap: var(--unit-30);
			}
		}
		.md-row-gap-lg {
			row-gap: var(--unit-40);
		}
		.md-col-gap-lg {
			column-gap: var(--unit-40);
			& > * {
				--flex-gap: var(--unit-40);
			}
		}
		.md-row-gap-xl {
			row-gap: var(--unit-50);
		}
		.md-col-gap-xl {
			column-gap: var(--unit-50);
			& > * {
				--flex-gap: var(--unit-50);
			}
		}
		.md-row-gap-xxl {
			row-gap: var(--unit-100);
		}
		.md-col-gap-xxl {
			column-gap: var(--unit-100);
			& > * {
				--flex-gap: var(--unit-100);
			}
		}
	}

	@media (min-width: 64em) {
		/* var(--breakpoint-lg) */
		.lg-2\.1 > :nth-child(2n - 1),
		.lg-10\.2 > :nth-child(2n) {
			--flex-layout: 2;
		}
		.lg-10\.2 > :nth-child(2n - 1),
		.lg-2\.1 > :nth-child(2n) {
			--flex-layout: 10;
		}
		.lg-3\.9 > :nth-child(2n - 1),
		.lg-9\.3 > :nth-child(2n) {
			--flex-layout: 3;
		}
		.lg-9\.3 > :nth-child(2n - 1),
		.lg-3\.9 > :nth-child(2n) {
			--flex-layout: 9;
		}
		.lg-4\.8 > :nth-child(2n - 1),
		.lg-8\.4 > :nth-child(2n) {
			--flex-layout: 4;
		}
		.lg-8\.4 > :nth-child(2n - 1),
		.lg-4\.8 > :nth-child(2n) {
			--flex-layout: 8;
		}
		.lg-5\.7 > :nth-child(2n - 1),
		.lg-7\.5 > :nth-child(2n) {
			--flex-layout: 5;
		}
		.lg-7\.5 > :nth-child(2n - 1),
		.lg-5\.7 > :nth-child(2n) {
			--flex-layout: 7;
		}
		.lg-0 > * {
			--flex-layout: auto;
		}
		.lg-1 > * {
			--flex-layout: 12;
		}
		.lg-2 > * {
			--flex-layout: 6;
		}
		.lg-3 > * {
			--flex-layout: 4;
		}
		.lg-4 > * {
			--flex-layout: 3;
		}
		.lg-6 > * {
			--flex-layout: 2;
		}

		.lg-row-gap-none {
			row-gap: 0px;
		}
		.lg-col-gap-none {
			column-gap: 0px;
			& > * {
				--flex-gap: 0px;
			}
		}
		.lg-row-gap-xs {
			row-gap: var(--unit-10);
		}
		.lg-col-gap-xs {
			column-gap: var(--unit-10);
			& > * {
				--flex-gap: var(--unit-10);
			}
		}
		.lg-row-gap-sm {
			row-gap: var(--unit-20);
		}
		.lg-col-gap-sm {
			column-gap: var(--unit-20);
			& > * {
				--flex-gap: var(--unit-20);
			}
		}
		.lg-row-gap-md {
			row-gap: var(--unit-30);
		}
		.lg-col-gap-md {
			column-gap: var(--unit-30);
			& > * {
				--flex-gap: var(--unit-30);
			}
		}
		.lg-row-gap-lg {
			row-gap: var(--unit-40);
		}
		.lg-col-gap-lg {
			column-gap: var(--unit-40);
			& > * {
				--flex-gap: var(--unit-40);
			}
		}
		.lg-row-gap-xl {
			row-gap: var(--unit-50);
		}
		.lg-col-gap-xl {
			column-gap: var(--unit-50);
			& > * {
				--flex-gap: var(--unit-50);
			}
		}
		.lg-row-gap-xxl {
			row-gap: var(--unit-100);
		}
		.lg-col-gap-xxl {
			column-gap: var(--unit-100);
			& > * {
				--flex-gap: var(--unit-100);
			}
		}
	}

	@media (min-width: 75em) {
		/* var(--breakpoint-xl) */
		.xl-2\.1 > :nth-child(2n - 1),
		.xl-10\.2 > :nth-child(2n) {
			--flex-layout: 2;
		}
		.xl-10\.2 > :nth-child(2n - 1),
		.xl-2\.1 > :nth-child(2n) {
			--flex-layout: 10;
		}
		.xl-3\.9 > :nth-child(2n - 1),
		.xl-9\.3 > :nth-child(2n) {
			--flex-layout: 3;
		}
		.xl-9\.3 > :nth-child(2n - 1),
		.xl-3\.9 > :nth-child(2n) {
			--flex-layout: 9;
		}
		.xl-4\.8 > :nth-child(2n - 1),
		.xl-8\.4 > :nth-child(2n) {
			--flex-layout: 4;
		}
		.xl-8\.4 > :nth-child(2n - 1),
		.xl-4\.8 > :nth-child(2n) {
			--flex-layout: 8;
		}
		.xl-5\.7 > :nth-child(2n - 1),
		.xl-7\.5 > :nth-child(2n) {
			--flex-layout: 5;
		}
		.xl-7\.5 > :nth-child(2n - 1),
		.xl-5\.7 > :nth-child(2n) {
			--flex-layout: 7;
		}
		.xl-0 > * {
			--flex-layout: auto;
		}
		.xl-1 > * {
			--flex-layout: 12;
		}
		.xl-2 > * {
			--flex-layout: 6;
		}
		.xl-3 > * {
			--flex-layout: 4;
		}
		.xl-4 > * {
			--flex-layout: 3;
		}
		.xl-6 > * {
			--flex-layout: 2;
		}

		.xl-row-gap-none {
			row-gap: 0px;
		}
		.xl-col-gap-none {
			column-gap: 0px;
			& > * {
				--flex-gap: 0px;
			}
		}
		.xl-row-gap-xs {
			row-gap: var(--unit-10);
		}
		.xl-col-gap-xs {
			column-gap: var(--unit-10);
			& > * {
				--flex-gap: var(--unit-10);
			}
		}
		.xl-row-gap-sm {
			row-gap: var(--unit-20);
		}
		.xl-col-gap-sm {
			column-gap: var(--unit-20);
			& > * {
				--flex-gap: var(--unit-20);
			}
		}
		.xl-row-gap-md {
			row-gap: var(--unit-30);
		}
		.xl-col-gap-md {
			column-gap: var(--unit-30);
			& > * {
				--flex-gap: var(--unit-30);
			}
		}
		.xl-row-gap-lg {
			row-gap: var(--unit-40);
		}
		.xl-col-gap-lg {
			column-gap: var(--unit-40);
			& > * {
				--flex-gap: var(--unit-40);
			}
		}
		.xl-row-gap-xl {
			row-gap: var(--unit-50);
		}
		.xl-col-gap-xl {
			column-gap: var(--unit-50);
			& > * {
				--flex-gap: var(--unit-50);
			}
		}
		.xl-row-gap-xxl {
			row-gap: var(--unit-100);
		}
		.xl-col-gap-xxl {
			column-gap: var(--unit-100);
			& > * {
				--flex-gap: var(--unit-100);
			}
		}
	}

	@media (min-width: 101.25em) {
		/* var(--breakpoint-xxl) */
		.xxl-2\.1 > :nth-child(2n - 1),
		.xxl-10\.2 > :nth-child(2n) {
			--flex-layout: 2;
		}
		.xxl-10\.2 > :nth-child(2n - 1),
		.xxl-2\.1 > :nth-child(2n) {
			--flex-layout: 10;
		}
		.xxl-3\.9 > :nth-child(2n - 1),
		.xxl-9\.3 > :nth-child(2n) {
			--flex-layout: 3;
		}
		.xxl-9\.3 > :nth-child(2n - 1),
		.xxl-3\.9 > :nth-child(2n) {
			--flex-layout: 9;
		}
		.xxl-4\.8 > :nth-child(2n - 1),
		.xxl-8\.4 > :nth-child(2n) {
			--flex-layout: 4;
		}
		.xxl-8\.4 > :nth-child(2n - 1),
		.xxl-4\.8 > :nth-child(2n) {
			--flex-layout: 8;
		}
		.xxl-5\.7 > :nth-child(2n - 1),
		.xxl-7\.5 > :nth-child(2n) {
			--flex-layout: 5;
		}
		.xxl-7\.5 > :nth-child(2n - 1),
		.xxl-5\.7 > :nth-child(2n) {
			--flex-layout: 7;
		}
		.xxl-0 > * {
			--flex-layout: auto;
		}
		.xxl-1 > * {
			--flex-layout: 12;
		}
		.xxl-2 > * {
			--flex-layout: 6;
		}
		.xxl-3 > * {
			--flex-layout: 4;
		}
		.xxl-4 > * {
			--flex-layout: 3;
		}
		.xxl-6 > * {
			--flex-layout: 2;
		}

		.xxl-row-gap-none {
			row-gap: 0px;
		}
		.xxl-col-gap-none {
			column-gap: 0px;
			& > * {
				--flex-gap: 0px;
			}
		}
		.xxl-row-gap-xs {
			row-gap: var(--unit-10);
		}
		.xxl-col-gap-xs {
			column-gap: var(--unit-10);
			& > * {
				--flex-gap: var(--unit-10);
			}
		}
		.xxl-row-gap-sm {
			row-gap: var(--unit-20);
		}
		.xxl-col-gap-sm {
			column-gap: var(--unit-20);
			& > * {
				--flex-gap: var(--unit-20);
			}
		}
		.xxl-row-gap-md {
			row-gap: var(--unit-30);
		}
		.xxl-col-gap-md {
			column-gap: var(--unit-30);
			& > * {
				--flex-gap: var(--unit-30);
			}
		}
		.xxl-row-gap-lg {
			row-gap: var(--unit-40);
		}
		.xxl-col-gap-lg {
			column-gap: var(--unit-40);
			& > * {
				--flex-gap: var(--unit-40);
			}
		}
		.xxl-row-gap-xl {
			row-gap: var(--unit-50);
		}
		.xxl-col-gap-xl {
			column-gap: var(--unit-50);
			& > * {
				--flex-gap: var(--unit-50);
			}
		}
		.xxl-row-gap-xxl {
			row-gap: var(--unit-100);
		}
		.xxl-col-gap-xxl {
			column-gap: var(--unit-100);
			& > * {
				--flex-gap: var(--unit-100);
			}
		}
	}
}
