@layer mt.design {
	.alert {
		composes: ds-alert from "@digdir/designsystemet-css";

		--dsc-alert-background: var(--mtds-color-bakgrunns-blaa);
		--dsc-alert-color: var(--mtds-color-fjord);
		--dsc-alert-border-color: var(--mtds-color-neutral-50);
		--dsc-alert-icon-url: var(--mtds-icon-info);
		--dsc-alert-icon-color: currentcolor;

		&:where(:not([hidden])) {
			display: block; /* Ensure display block, even when <output> */
		}

		/* https://every-layout.dev/layouts/stack/ */
		& > * {
			margin-block: 0;
		}
		& > :not(h2, h3, h4, h5, h6) + * {
			margin-top: 1em;
		}
		& :is(h2, h3, h3, h4):first-child {
			font-size: 1em;
		}

		/**
		 * Close button
		 */
		position: relative;
		&:has(> button:last-child:empty) {
			padding-right: var(--ds-size-12);
		}
		& > button:last-child:empty {
			all: unset;
			border-radius: var(--ds-border-radius-md);
			cursor: pointer;
			margin: var(--dsc-alert-spacing);
			position: absolute;
			right: 0;
			top: 0;
			transition: scale .2s;

			&:focus-visible {
				box-shadow: var(--dsc-focus-boxShadow);
				outline: var(--dsc-focus-outline);
				outline-offset: var(--ds-border-width-focus);
			}

			&:active {
				scale: 0.9;
			}

			&::before {
				background: currentcolor;
				box-sizing: border-box;
				content: "";
				display: block;
				height: var(--mtds-icon-size);
				mask: center / contain no-repeat var(--mtds-icon-close) content-box;
				position: relative;
				width: var(--mtds-icon-size);
			}
			&::after {
				content: "";
				position: absolute; /* Increase click surface */
				inset: -.5em;
			}
		}

		&[data-color="warning"] {
			--dsc-alert-background: var(--mtds-color-bakgrunns-gul);
			--dsc-alert-color: var(--mtds-color-info-gul);
			--dsc-alert-icon-url: var(--mtds-icon-warning);
		}
		&[data-color="success"] {
			--dsc-alert-background: var(--mtds-color-lav);
			--dsc-alert-color: var(--mtds-color-granskog);
			--dsc-alert-icon-url: var(--mtds-icon-success);
		}
		&[data-color="danger"] {
			--dsc-alert-background: var(--mtds-color-bakgrunns-rosa);
			--dsc-alert-color: var(--mtds-color-info-rod);
			--dsc-alert-icon-url: var(--mtds-icon-danger);
		}
	}
}
