@layer mt.design {
	.alert {
		composes: ds-alert from "@digdir/designsystemet-css";

		--dsc-alert-background: #dfeef6;
		--dsc-alert-border-color: color-mix(in hsl, currentcolor, transparent 90%);
		--dsc-alert-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='M128 24a104 104 0 1 0 104 104A104.1 104.1 0 0 0 128 24Zm0 192a88 88 0 1 1 88-88 88.1 88.1 0 0 1-88 88Zm16-40a8 8 0 0 1-8 8 16 16 0 0 1-16-16v-40a8 8 0 0 1 0-16 16 16 0 0 1 16 16v40a8 8 0 0 1 8 8Zm-32-92a12 12 0 1 1 12 12 12 12 0 0 1-12-12Z'/%3E%3C/svg%3E");
		--dsc-alert-icon-color: currentcolor;

		& :is(h2, h3, h3, h4):first-child {
			font-size: 1em;
			margin: 0;
		}

		/* https://every-layout.dev/layouts/stack/ */
		& > * + * {
			margin-top: 1em;
		}

		/**
		 * Close button
		 */
		position: relative;
		&:has(> button:last-child:empty) {
			padding-right: var(--ds-size-12);
		}
		& > button:last-child:empty {
			all: unset;
			border-radius: var(--ds-border-radius-full);
			cursor: pointer;
			margin: var(--dsc-alert-padding);
			position: absolute;
			right: 0;
			top: 0;
			transition: scale .2s;

			&:focus-visible {
				box-shadow: var(--ds--focus, var(--dsc-focus-boxShadow));
				outline-offset: var(--ds--focus, var(--dsc-focus-border-width));
				outline: var(--ds--focus, var(--dsc-focus-outline));
			}

			&:active {
				scale: 0.9;
			}

			&::before {
				box-sizing: content-box;
				display: block;
				background: currentcolor;
				content: "";
				mask: center / contain no-repeat var(--mt-icon-close) content-box;
				height: var(--mt-icon-size);
				width: var(--mt-icon-size);
				padding: .5em;
				margin: -.5em;
			}
		}

		&[data-color="warning"] {
			--dsc-alert-background: #fcf0d2;
			--dsc-alert-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='M236.8 188 149.3 36.3a24.8 24.8 0 0 0-42.7 0L19.2 188.1a23.5 23.5 0 0 0 0 23.7A24.4 24.4 0 0 0 40.5 224h175a24.4 24.4 0 0 0 21.3-12.2 23.5 23.5 0 0 0 0-23.7Zm-13.9 15.8a8.5 8.5 0 0 1-7.4 4.2h-175a8.5 8.5 0 0 1-7.4-4.2 7.6 7.6 0 0 1 0-7.7l87.4-151.9a8.8 8.8 0 0 1 15 0L223 196.1a7.6 7.6 0 0 1 0 7.7ZM120 144v-40a8 8 0 0 1 16 0v40a8 8 0 0 1-16 0Zm20 36a12 12 0 1 1-12-12 12 12 0 0 1 12 12Z'/%3E%3C/svg%3E");
		}
		&[data-color="success"] {
			--dsc-alert-background: #e2f1df;
			--dsc-alert-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 256 256'%3E%3Cpath d='M173.7 98.3a8 8 0 0 1 0 11.4l-56 56a8 8 0 0 1-11.4 0l-24-24a8 8 0 0 1 11.4-11.4l18.3 18.4 50.3-50.4a8 8 0 0 1 11.4 0ZM232 128A104 104 0 1 1 128 24a104.1 104.1 0 0 1 104 104Zm-16 0a88 88 0 1 0-88 88 88.1 88.1 0 0 0 88-88Z'/%3E%3C/svg%3E");
		}
		&[data-color="danger"] {
			--dsc-alert-background: #fee9df;
			--dsc-alert-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M8.27 2.25a.75.75 0 0 0-.53.22L2.47 7.74a.75.75 0 0 0-.22.53v7.46c0 .2.08.39.22.53l5.27 5.27c.14.14.33.22.53.22h7.46a.75.75 0 0 0 .53-.22l5.27-5.27a.75.75 0 0 0 .22-.53V8.27a.75.75 0 0 0-.22-.53l-5.27-5.27a.75.75 0 0 0-.53-.22zM3.75 8.58l4.83-4.83h6.84l4.83 4.83v6.84l-4.83 4.83H8.58l-4.83-4.83zm5.28-.61a.75.75 0 0 0-1.06 1.06L10.94 12l-2.97 2.97a.75.75 0 1 0 1.06 1.06L12 13.06l2.97 2.97a.75.75 0 1 0 1.06-1.06L13.06 12l2.97-2.97a.75.75 0 0 0-1.06-1.06L12 10.94z'/%3E%3C/svg%3E");
		}
	}
}
