@layer mt.design {
	.alert {
		composes: ds-alert from "@digdir/designsystemet-css";

		--dsc-alert-background: var(--mtds-color-bakgrunns-blaa);
		--dsc-alert-color: var(--mtds-color-fjord);
		--dsc-alert-border-color: var(--mtds-color-100);
		--dsc-alert-icon-url: var(--mtds-icon-info);
		--dsc-alert-icon-color: currentcolor;

		& > :first-child {
			margin-block: 0;
		}
		& > :last-child {
			margin-top: 1em;
		}
		& :is(h2, h3, h3, h4):first-child {
			font-size: 1em;
		}

		/**
		 * Close button
		 */
		position: relative;
		&:has(> button:last-child:empty) {
			padding-right: var(--ds-size-12);
		}
		& > button:last-child:empty {
			all: unset;
			border-radius: var(--ds-border-radius-full);
			cursor: pointer;
			margin: var(--dsc-alert-padding);
			position: absolute;
			right: 0;
			top: 0;
			transition: scale .2s;

			&:focus-visible {
				box-shadow: var(--ds--focus, var(--dsc-focus-boxShadow));
				outline-offset: var(--ds--focus, var(--dsc-focus-border-width));
				outline: var(--ds--focus, var(--dsc-focus-outline));
			}

			&:active {
				scale: 0.9;
			}

			&::before {
				box-sizing: content-box;
				display: block;
				background: currentcolor;
				content: "";
				mask: center / contain no-repeat var(--mtds-icon-close) content-box;
				height: var(--mtds-icon-size);
				width: var(--mtds-icon-size);
				padding: .5em;
				margin: -.5em;
			}
		}

		&[data-color="warning"] {
			--dsc-alert-background: var(--mtds-color-bakgrunns-gul);
			--dsc-alert-color: var(--mtds-color-info-gul);
			--dsc-alert-icon-url: var(--mtds-icon-warning);
		}
		&[data-color="success"] {
			--dsc-alert-background: var(--mtds-color-lav);
			--dsc-alert-color: var(--mtds-color-granskog);
			--dsc-alert-icon-url: var(--mtds-icon-success);
		}
		&[data-color="danger"] {
			--dsc-alert-background: var(--mtds-color-bakgrunns-rosa);
			--dsc-alert-color: var(--mtds-color-info-rod);
			--dsc-alert-icon-url: var(--mtds-icon-danger);
		}
	}
}
