html {
	background: var(--mtds-color-surface-default); /* White preview area */
}
@supports (background: light-dark(white, black)) {
	html {
		background: light-dark(
			var(--mtds-color-surface-default),
			var(--mtds-color-background-default)
		);
	}
}

u-tabpanel > pre,
u-tabpanel > pre > .docblock-source {
	margin-block: 0;
}

.sbdocs-preview.sbdocs-preview,
.sbdocs-wrapper.sbdocs-wrapper {
	background: none;
}

.sbdocs-content.sbdocs-content {
	max-width: 50rem; /* 800px */
	padding-bottom: 200px; /* Space for scroll */
}

.sb-anchor {
	margin: 0;
}

.sbdocs-content img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.sbdocs-content hr:not([class]) {
	margin-block: 3rem;
}

.sbdocs-content h1 {
	margin-top: 0;
}

.sbdocs-content table th svg {
	vertical-align: -0.15em;
}

.sbdocs-content blockquote {
	margin-inline: 0;
}
.sbdocs-content blockquote :is(h2, h3, h4, h5, h6) {
	font-size: inherit;
}
.sbdocs-content blockquote p:first-child {
	margin-top: 0;
}
.sbdocs-content blockquote p:last-child {
	margin-bottom: 0;
}

.sbdocs-content.sbdocs-content code {
	color: var(--mtds-color-text-default);
	border-color: var(--mtds-color-border-subtle);
	background: var(--mtds-color-background-tinted);
	display: inline;
	white-space: normal;
}

.sbdocs-ol,
.sbdocs-ul {
	padding-left: 1em;
}

.docblock-colorpalette {
	margin-block-start: 2rem;
}

/* Story */
.docs-story [scale="1"] {
	transform: none; /* Avoid conflicts with position: fixed <dialog> */
}

/** Source */
.docblock-code-toggle.docblock-code-toggle,
.docblock-source.docblock-source button {
	background: var(--mtds-color-surface-default);
	color: var(--mtds-color-text-default);
	border-radius: 0;
}
.docblock-source.docblock-source {
	background: var(--mtds-color-inverted-background-default);
	border: 0;
	box-shadow: none;
	color: var(--mtds-color-inverted-text-default);
}
.docblock-source .prismjs * {
	color: inherit !important;
	font-size: 0.875rem;
	line-height: 1.5;
}

/** Table */
.docblock-colorpalette div,
.docblock-argstable :is(th, td) {
	color: var(--mtds-color-text-default) !important;
	background: none !important;
}

/** Canvas thumbnails */
.sbdocs-canvas-thumbnail,
.sbdocs-canvas-thumbnail > div {
	max-height: 250px;
	position: relative;
	margin-bottom: 3rem;
}
.sbdocs-canvas-thumbnail > div::after {
	backdrop-filter: blur(3px);
	background: linear-gradient(
		color-mix(in hsl, var(--mtds-color-surface-default), transparent 50%),
		var(--mtds-color-surface-default)
	);
	content: "";
	display: block;
	inset: 0;
	position: absolute;
	z-index: 99;
}
.sbdocs-canvas-thumbnail > a {
	left: 50%;
	position: absolute;
	top: 50%;
	translate: -50% -50%;
	z-index: 100;
}

.sbdocs-example {
	display: grid;
	align-content: space-between;
	position: relative;
	padding-top: var(--mtds-12);
	background: var(--mtds-color-success-surface-tinted);
	border: 1px solid var(--mtds-color-success-border-subtle);
	border-radius: var(--mtds-border-radius-md);
}
.sbdocs-example::before {
	border-bottom: 0;
	content: "";
	grid-area: 1 / 1;
	pointer-events: none;
}
.sbdocs-example:has(> p[data-color="danger"]) {
	background: var(--mtds-color-danger-surface-tinted);
	border-color: var(--mtds-color-danger-border-subtle);
}
.sbdocs-example > div:first-child {
	padding-inline: var(--mtds-4);
	box-sizing: border-box;
	aspect-ratio: 16 / 9;
	display: grid;
	grid-area: 1 / 1;
	place-items: center;
	place-self: center;
}
.sbdocs-example > div:first-child > * {max-width: 100%;min-width: 0;}
.sbdocs-example > p > svg {
	position: absolute;
	margin: var(--mtds-4);
	left: 0;
	top: 0;
	color: var(--mtds-color-base-default);
	width: var(--mtds-8);
	height: var(--mtds-8);
}
.sbdocs-example > p {
	padding: var(--mtds-4);
	border-radius: 0 0 var(--mtds-border-radius-md) var(--mtds-border-radius-md);
	color: var(--mtds-color-text-subtle);
	margin: 0;
	border-top: 0;
	font-size: var(--mtds-body-sm-font-size);
}
[class*="flex"]:has(> .sbdocs-example) {
	gap: var(--mtds-6);
}
