html:not([data-color-scheme="dark"]) {
	background: none; /* White preview area */
}

u-tabpanel > pre,
u-tabpanel > pre > .docblock-source {
	margin-block: 0;
}

.sbdocs-preview.sbdocs-preview,
.sbdocs-wrapper.sbdocs-wrapper {
	background: none;
}

.sbdocs-content.sbdocs-content {
	max-width: 50rem; /* 800px */
}

.sbdocs-content > * {
	margin-block: 0;
}
.sbdocs-content > * + *:not(u-details + u-details, details + details) {
	margin-block-start: 1rem;
}

.sbdocs-h1 {
	font-size: 3em;
	line-height: 1.2;
	margin-block: 0;
}

.sbdocs-h2,
.sbdocs-h3 {
	margin-block-start: 1.75rem;

	& + * {
		margin-top: .25rem;
	}
}

.sbdocs-h3 {
	font-size: 1em;
}

.sbdocs-h2,
.sbdocs-blockquote {
	margin-inline: 0;
	font-size: 1.375em;
	text-wrap: balance;
}

.sbdocs-blockquote {
	margin-block: 1rem 1.75rem;

	&[class*="alert"] {
		font-size: 1.125rem;

		& > * {
			margin-block: 0;
		}
		& > :not(h1, h2, h3, h4, h5, h6) + * {
			margin-top: 1em;
		}
	}
}

.sbdocs-content.sbdocs-content code {
	color: var(--mtds-color-text-default);
	border-color: var(--mtds-color-border-subtle);
	background: var(--mtds-color-background-tinted);
	display: inline;
}

.sbdocs-ol,
.sbdocs-ul {
	padding-left: 1em;
}

.docblock-colorpalette {
	margin-block-start: 2rem;
}

/* Story */
.docs-story [scale="1"] {
	transform: none; /* Avoid conflicts with position: fixed <dialog> */
}

/** Source */
.docblock-code-toggle.docblock-code-toggle {
	background: var(--mtds-color-surface-default);
	color: var(--mtds-color-text-default);
	border-radius: 0;
}
.docblock-source .prismjs * {
	color: inherit !important;
	font-size: 1rem;
	line-height: 1.5;
}

/** Table */
.docblock-colorpalette div,
.docblock-argstable :is(th, td) {
	color: var(--mtds-color-text-default) !important;
	background: none !important;
}

/** Canvas thumbnails */
.sbdocs-canvas-thumbnail,
.sbdocs-canvas-thumbnail > div {
	max-height: 250px;
	position: relative;
	margin-bottom: 3rem;
}
.sbdocs-canvas-thumbnail > div::after {
	backdrop-filter: blur(3px);
	background: linear-gradient(rgba(255, 255, 255, 0.5), white);
	content: "";
	display: block;
	inset: 0;
	position: absolute;
	z-index: 99;
}
.sbdocs-canvas-thumbnail > a {
	left: 50%;
	position: absolute;
	top: 50%;
	translate: -50% -50%;
	z-index: 100;
}
