html:not([data-color-scheme="dark"]) {
	background: none; /* White preview area */
}

u-tabpanel > pre,
u-tabpanel > pre > .docblock-source {
	margin-block: 0;
}

.sbdocs-preview.sbdocs-preview,
.sbdocs-wrapper.sbdocs-wrapper {
	background: none;
}

.sbdocs-content.sbdocs-content {
	max-width: 50rem; /* 800px */
	padding-bottom: 200px; /* Space for scroll */
}

.sb-anchor {
	margin: 0;
}

.sbdocs-content img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.sbdocs-content h1 {
	margin-top: 0;
}

.sbdocs-content table th svg {
	vertical-align: -.15em;
}

.sbdocs-content blockquote {
	margin-inline: 0;
}
.sbdocs-content blockquote :is(h2, h3, h4, h5, h6) {
	font-size: inherit;
}
.sbdocs-content blockquote p:first-child {
	margin-top: 0;
}
.sbdocs-content blockquote p:last-child {
	margin-bottom: 0;
}

.sbdocs-content.sbdocs-content code {
	color: var(--mtds-color-text-default);
	border-color: var(--mtds-color-border-subtle);
	background: var(--mtds-color-background-tinted);
	display: inline;
}

.sbdocs-ol,
.sbdocs-ul {
	padding-left: 1em;
}

.docblock-colorpalette {
	margin-block-start: 2rem;
}

/* Story */
.docs-story [scale="1"] {
	transform: none; /* Avoid conflicts with position: fixed <dialog> */
}

/** Source */
.docblock-code-toggle.docblock-code-toggle,
.docblock-source.docblock-source button {
	background: var(--mtds-color-surface-default);
	color: var(--mtds-color-text-default);
	border-radius: 0;
}
.docblock-source.docblock-source {
	background: var(--mtds-color-inverted-background-default);
	border: 0;
	box-shadow: none;
	color: var(--mtds-color-inverted-text-default);
}
.docblock-source .prismjs * {
	color: inherit !important;
	font-size: 1rem;
	line-height: 1.5;
}

/** Table */
.docblock-colorpalette div,
.docblock-argstable :is(th, td) {
	color: var(--mtds-color-text-default) !important;
	background: none !important;
}

/** Canvas thumbnails */
.sbdocs-canvas-thumbnail,
.sbdocs-canvas-thumbnail > div {
	max-height: 250px;
	position: relative;
	margin-bottom: 3rem;
}
.sbdocs-canvas-thumbnail > div::after {
	backdrop-filter: blur(3px);
	background: linear-gradient(
		color-mix(in hsl, var(--mtds-color-surface-default), transparent 50%),
		var(--mtds-color-surface-default)
	);
	content: "";
	display: block;
	inset: 0;
	position: absolute;
	z-index: 99;
}
.sbdocs-canvas-thumbnail > a {
	left: 50%;
	position: absolute;
	top: 50%;
	translate: -50% -50%;
	z-index: 100;
}
