body {
	background: white;
}

u-tabpanel > pre,
u-tabpanel > pre > .docblock-source {
	margin-block: 0;
}

.sbdocs-content.sbdocs-content {
	max-width: 50rem; /* 800px */
}

.sbdocs-content > * {
	margin-block: 0;
}
.sbdocs-content > * + *:not(u-details + u-details, details + details) {
	margin-block-start: 1rem;
}

.sbdocs-h1 {
	font-size: 3em;
	line-height: 1.2;
	margin-block: 0;

	&:not(#mattilsynet-design)::after {
		content: "Under utvikling";
		background: color-mix(in hsl, currentcolor 15%, transparent);
		border-radius: 3px;
		display: inline-block;
		font-size: .875rem;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 1;
		padding: .4em;
		vertical-align: middle;
		margin-left: .8em;
	}
}

.sbdocs-h2,
.sbdocs-h3 {
	margin-block-start: 1.75rem;

	& + * {
		margin-top: .25rem;
	}
}

.sbdocs-h3 {
	font-size: 1em;
}

.sbdocs-h2,
.sbdocs-blockquote {
	margin-inline: 0;
	font-size: 1.375em;
	text-wrap: balance;
}

.sbdocs-blockquote {
	margin-block: 1rem 1.75rem;

	&[class*="alert"] {
		font-size: 1.125rem;

		& > * {
			margin-block: 0;
		}
		& > :not(h1, h2, h3, h4, h5, h6) + * {
			margin-top: 1em;
		}
	}
}

.sbdocs-ol,
.sbdocs-ul {
	padding-left: 1em;
}

.docblock-colorpalette {
	margin-block-start: 2rem;
}

/** Source */
.docblock-source.docblock-source,
.docblock-source button {
	background: #032c30;
	border-radius: 0;
	border: none;
	box-shadow: none;
	color: white;
	margin: 0;
}
.docblock-source .prismjs * {
	color: inherit !important;
	font-size: 1rem;
	line-height: 1.5;
}
