@charset "UTF-8";
/*
build: v1.8.0
design-tokens: v1.5.1
*/

@layer ds.theme.size-mode {
:root /* small */ {
  --ds-size-mode-font-size--sm: 1;
}
}

@layer ds.theme.size-mode {
:root /* medium */ {
  --ds-size-mode-font-size--md: 1.125;
}
}

@layer ds.theme.size-mode {
:root /* large */ {
  --ds-size-mode-font-size--lg: 1.3125;
}
}

@layer ds.theme.size-mode {
:root, [data-size] {
  --ds-size: var(--ds-size--md);
  --ds-size--sm: var(--ds-size,);
  --ds-size--md: var(--ds-size,);
  --ds-size--lg: var(--ds-size,);
  --ds-size-mode-font-size:
    var(--ds-size--sm, var(--ds-size-mode-font-size--sm))
    var(--ds-size--md, var(--ds-size-mode-font-size--md))
    var(--ds-size--lg, var(--ds-size-mode-font-size--lg));
}

[data-size='sm'] { --ds-size: var(--ds-size--sm); }
[data-size='md'] { --ds-size: var(--ds-size--md); }
[data-size='lg'] { --ds-size: var(--ds-size--lg); }
}

@layer ds.theme.type-scale {
:root, [data-size] {
  --_ds-font-size-factor: calc(var(--ds-size-mode-font-size) / (var(--ds-size-base) / 16));
  --ds-font-size-1: calc(0.75rem * var(--_ds-font-size-factor));
  --ds-font-size-2: calc(0.875rem * var(--_ds-font-size-factor));
  --ds-font-size-3: calc(1rem * var(--_ds-font-size-factor));
  --ds-font-size-4: calc(1.125rem * var(--_ds-font-size-factor));
  --ds-font-size-5: calc(1.3125rem * var(--_ds-font-size-factor));
  --ds-font-size-6: calc(1.5rem * var(--_ds-font-size-factor));
  --ds-font-size-7: calc(1.875rem * var(--_ds-font-size-factor));
  --ds-font-size-8: calc(2.25rem * var(--_ds-font-size-factor));
  --ds-font-size-9: calc(2.75rem * var(--_ds-font-size-factor));
  --ds-font-size-10: calc(3.75rem * var(--_ds-font-size-factor));
  --ds-heading-2xl-font-size: var(--ds-font-size-10);
  --ds-heading-xl-font-size: var(--ds-font-size-9);
  --ds-heading-lg-font-size: var(--ds-font-size-8);
  --ds-heading-md-font-size: var(--ds-font-size-7);
  --ds-heading-sm-font-size: var(--ds-font-size-6);
  --ds-heading-xs-font-size: var(--ds-font-size-5);
  --ds-heading-2xs-font-size: var(--ds-font-size-4);
  --ds-text-default-font-size: var(--ds-font-size-4);
  --ds-text-muted-font-size: var(--ds-font-size-3);
  --ds-text-ingress-font-size: var(--ds-font-size-6);
  --ds-text-bold-font-size: var(--ds-font-size-4);
  --ds-text-italic-font-size: var(--ds-font-size-4);

  @supports (width: round(down, .1em, 1px)) {
    --ds-font-size-1: round(calc(0.75rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-2: round(calc(0.875rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-3: round(calc(1rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-4: round(calc(1.125rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-5: round(calc(1.3125rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-6: round(calc(1.5rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-7: round(calc(1.875rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-8: round(calc(2.25rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-9: round(calc(2.75rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-10: round(calc(3.75rem * var(--_ds-font-size-factor)), 1px);
  }
}
}
@layer ds.theme.color-scheme.light {
:root, [data-color-scheme="light"] {
  --ds-color-primary-background-default: #FAF7F4;
  --ds-color-primary-background-tinted: #3D5C3D0F;
  --ds-color-primary-surface-default: #ffffff;
  --ds-color-primary-surface-tinted: #E2F1DF;
  --ds-color-primary-surface-hover: #D8EED8;
  --ds-color-primary-surface-active: #CAE8CA;
  --ds-color-primary-border-subtle: #6B6B6B26;
  --ds-color-primary-border-default: #054449;
  --ds-color-primary-border-strong: #032C30;
  --ds-color-primary-text-subtle: #116E6B;
  --ds-color-primary-text-default: #054449;
  --ds-color-primary-base-default: #116E6B;
  --ds-color-primary-base-hover: #054449;
  --ds-color-primary-base-active: #032C30;
  --ds-color-primary-base-contrast-subtle: #E2F1DF;
  --ds-color-primary-base-contrast-default: #ffffff;
  --ds-color-neutral-background-default: #ffffff;
  --ds-color-neutral-background-tinted: #6B6B6B0F;
  --ds-color-neutral-surface-default: #ffffff;
  --ds-color-neutral-surface-tinted: #EDEDED;
  --ds-color-neutral-surface-hover: #E3E3E3;
  --ds-color-neutral-surface-active: #DEDEDE;
  --ds-color-neutral-border-subtle: #6B6B6B26;
  --ds-color-neutral-border-default: #6B6B6B;
  --ds-color-neutral-border-strong: #3D3D3D;
  --ds-color-neutral-text-subtle: #6B6B6B;
  --ds-color-neutral-text-default: #3D3D3D;
  --ds-color-neutral-base-default: #5F5F5F;
  --ds-color-neutral-base-hover: #4D4D4D;
  --ds-color-neutral-base-active: #3D3D3D;
  --ds-color-neutral-base-contrast-subtle: #EDEDED;
  --ds-color-neutral-base-contrast-default: #FFFFFF;
  --ds-color-inverted-background-default: #054449;
  --ds-color-inverted-background-tinted: #FFFFFF0F;
  --ds-color-inverted-surface-default: #116E6B;
  --ds-color-inverted-surface-tinted: #0E5D5D;
  --ds-color-inverted-surface-hover: #0a4e4f;
  --ds-color-inverted-surface-active: #054449;
  --ds-color-inverted-border-subtle: #E2F1DF26;
  --ds-color-inverted-border-default: #E2F1DF;
  --ds-color-inverted-border-strong: #ffffff;
  --ds-color-inverted-text-subtle: #E2F1DF;
  --ds-color-inverted-text-default: #ffffff;
  --ds-color-inverted-base-default: #E2F1DF;
  --ds-color-inverted-base-hover: #D8EED8;
  --ds-color-inverted-base-active: #CAE8CA;
  --ds-color-inverted-base-contrast-subtle: #116e6b;
  --ds-color-inverted-base-contrast-default: #054449;
  --ds-color-success-background-default: #FAF7F4;
  --ds-color-success-background-tinted: #33A04A1A;
  --ds-color-success-surface-default: #ffffff;
  --ds-color-success-surface-tinted: #E2F1DF;
  --ds-color-success-surface-hover: #D8EED8;
  --ds-color-success-surface-active: #CAE8CA;
  --ds-color-success-border-subtle: #05444926;
  --ds-color-success-border-default: #054449;
  --ds-color-success-border-strong: #032c30;
  --ds-color-success-text-subtle: #116e6b;
  --ds-color-success-text-default: #054449;
  --ds-color-success-base-default: #116e6b;
  --ds-color-success-base-hover: #054449;
  --ds-color-success-base-active: #032c30;
  --ds-color-success-base-contrast-subtle: #E2F1DF;
  --ds-color-success-base-contrast-default: #ffffff;
  --ds-color-danger-background-default: #FAF7F4;
  --ds-color-danger-background-tinted: #E4432714;
  --ds-color-danger-surface-default: #ffffff;
  --ds-color-danger-surface-tinted: #FEEAE6;
  --ds-color-danger-surface-hover: #FDDED8;
  --ds-color-danger-surface-active: #FDD2C9;
  --ds-color-danger-border-subtle: #AA2C1C26;
  --ds-color-danger-border-default: #AA2C1C;
  --ds-color-danger-border-strong: #791111;
  --ds-color-danger-text-subtle: #C83719;
  --ds-color-danger-text-default: #AA2C1C;
  --ds-color-danger-base-default: #C83719;
  --ds-color-danger-base-hover: #AA2C1C;
  --ds-color-danger-base-active: #791111;
  --ds-color-danger-base-contrast-subtle: #FEEAE6;
  --ds-color-danger-base-contrast-default: #ffffff;
  --ds-color-info-background-default: #FAF7F4;
  --ds-color-info-background-tinted: #0F8CC514;
  --ds-color-info-surface-default: #ffffff;
  --ds-color-info-surface-tinted: #DFEEF6;
  --ds-color-info-surface-hover: #D2E7F3;
  --ds-color-info-surface-active: #C2DEEF;
  --ds-color-info-border-subtle: #153F7B26;
  --ds-color-info-border-default: #153F7B;
  --ds-color-info-border-strong: #103160;
  --ds-color-info-text-subtle: #0C4FA1;
  --ds-color-info-text-default: #153F7B;
  --ds-color-info-base-default: #0C4FA1;
  --ds-color-info-base-hover: #153F7B;
  --ds-color-info-base-active: #103160;
  --ds-color-info-base-contrast-subtle: #DFEEF6;
  --ds-color-info-base-contrast-default: #ffffff;
  --ds-color-warning-background-default: #FAF7F4;
  --ds-color-warning-background-tinted: #E3990B1F;
  --ds-color-warning-surface-default: #ffffff;
  --ds-color-warning-surface-tinted: #FFF3CF;
  --ds-color-warning-surface-hover: #FEECBE;
  --ds-color-warning-surface-active: #FDE5A5;
  --ds-color-warning-border-subtle: #7F433B26;
  --ds-color-warning-border-default: #7F433B;
  --ds-color-warning-border-strong: #572F28;
  --ds-color-warning-text-subtle: #7F433B;
  --ds-color-warning-text-default: #572F28;
  --ds-color-warning-base-default: #F9CC76;
  --ds-color-warning-base-hover: #F7BC4A;
  --ds-color-warning-base-active: #EEAB2B;
  --ds-color-warning-base-contrast-subtle: #572F28;
  --ds-color-warning-base-contrast-default: #1E1A28;
  --ds-color-focus-inner: #ffffff;
  --ds-color-focus-outer: #3D3D3D;
  --ds-color-charts-chart-a: #116e6b;
  --ds-color-charts-chart-b: #cae8ca;
  --ds-color-charts-chart-c: #b6d9f2;
  --ds-color-charts-chart-d: #feecbe;
  --ds-color-charts-chart-e: #fdd2c9;
  --ds-link-color-visited: #663299;

  color-scheme: light;
}
 
@media (prefers-color-scheme: light) {
  [data-color-scheme="auto"] {
  --ds-color-primary-background-default: #FAF7F4;
  --ds-color-primary-background-tinted: #3D5C3D0F;
  --ds-color-primary-surface-default: #ffffff;
  --ds-color-primary-surface-tinted: #E2F1DF;
  --ds-color-primary-surface-hover: #D8EED8;
  --ds-color-primary-surface-active: #CAE8CA;
  --ds-color-primary-border-subtle: #6B6B6B26;
  --ds-color-primary-border-default: #054449;
  --ds-color-primary-border-strong: #032C30;
  --ds-color-primary-text-subtle: #116E6B;
  --ds-color-primary-text-default: #054449;
  --ds-color-primary-base-default: #116E6B;
  --ds-color-primary-base-hover: #054449;
  --ds-color-primary-base-active: #032C30;
  --ds-color-primary-base-contrast-subtle: #E2F1DF;
  --ds-color-primary-base-contrast-default: #ffffff;
  --ds-color-neutral-background-default: #ffffff;
  --ds-color-neutral-background-tinted: #6B6B6B0F;
  --ds-color-neutral-surface-default: #ffffff;
  --ds-color-neutral-surface-tinted: #EDEDED;
  --ds-color-neutral-surface-hover: #E3E3E3;
  --ds-color-neutral-surface-active: #DEDEDE;
  --ds-color-neutral-border-subtle: #6B6B6B26;
  --ds-color-neutral-border-default: #6B6B6B;
  --ds-color-neutral-border-strong: #3D3D3D;
  --ds-color-neutral-text-subtle: #6B6B6B;
  --ds-color-neutral-text-default: #3D3D3D;
  --ds-color-neutral-base-default: #5F5F5F;
  --ds-color-neutral-base-hover: #4D4D4D;
  --ds-color-neutral-base-active: #3D3D3D;
  --ds-color-neutral-base-contrast-subtle: #EDEDED;
  --ds-color-neutral-base-contrast-default: #FFFFFF;
  --ds-color-inverted-background-default: #054449;
  --ds-color-inverted-background-tinted: #FFFFFF0F;
  --ds-color-inverted-surface-default: #116E6B;
  --ds-color-inverted-surface-tinted: #0E5D5D;
  --ds-color-inverted-surface-hover: #0a4e4f;
  --ds-color-inverted-surface-active: #054449;
  --ds-color-inverted-border-subtle: #E2F1DF26;
  --ds-color-inverted-border-default: #E2F1DF;
  --ds-color-inverted-border-strong: #ffffff;
  --ds-color-inverted-text-subtle: #E2F1DF;
  --ds-color-inverted-text-default: #ffffff;
  --ds-color-inverted-base-default: #E2F1DF;
  --ds-color-inverted-base-hover: #D8EED8;
  --ds-color-inverted-base-active: #CAE8CA;
  --ds-color-inverted-base-contrast-subtle: #116e6b;
  --ds-color-inverted-base-contrast-default: #054449;
  --ds-color-success-background-default: #FAF7F4;
  --ds-color-success-background-tinted: #33A04A1A;
  --ds-color-success-surface-default: #ffffff;
  --ds-color-success-surface-tinted: #E2F1DF;
  --ds-color-success-surface-hover: #D8EED8;
  --ds-color-success-surface-active: #CAE8CA;
  --ds-color-success-border-subtle: #05444926;
  --ds-color-success-border-default: #054449;
  --ds-color-success-border-strong: #032c30;
  --ds-color-success-text-subtle: #116e6b;
  --ds-color-success-text-default: #054449;
  --ds-color-success-base-default: #116e6b;
  --ds-color-success-base-hover: #054449;
  --ds-color-success-base-active: #032c30;
  --ds-color-success-base-contrast-subtle: #E2F1DF;
  --ds-color-success-base-contrast-default: #ffffff;
  --ds-color-danger-background-default: #FAF7F4;
  --ds-color-danger-background-tinted: #E4432714;
  --ds-color-danger-surface-default: #ffffff;
  --ds-color-danger-surface-tinted: #FEEAE6;
  --ds-color-danger-surface-hover: #FDDED8;
  --ds-color-danger-surface-active: #FDD2C9;
  --ds-color-danger-border-subtle: #AA2C1C26;
  --ds-color-danger-border-default: #AA2C1C;
  --ds-color-danger-border-strong: #791111;
  --ds-color-danger-text-subtle: #C83719;
  --ds-color-danger-text-default: #AA2C1C;
  --ds-color-danger-base-default: #C83719;
  --ds-color-danger-base-hover: #AA2C1C;
  --ds-color-danger-base-active: #791111;
  --ds-color-danger-base-contrast-subtle: #FEEAE6;
  --ds-color-danger-base-contrast-default: #ffffff;
  --ds-color-info-background-default: #FAF7F4;
  --ds-color-info-background-tinted: #0F8CC514;
  --ds-color-info-surface-default: #ffffff;
  --ds-color-info-surface-tinted: #DFEEF6;
  --ds-color-info-surface-hover: #D2E7F3;
  --ds-color-info-surface-active: #C2DEEF;
  --ds-color-info-border-subtle: #153F7B26;
  --ds-color-info-border-default: #153F7B;
  --ds-color-info-border-strong: #103160;
  --ds-color-info-text-subtle: #0C4FA1;
  --ds-color-info-text-default: #153F7B;
  --ds-color-info-base-default: #0C4FA1;
  --ds-color-info-base-hover: #153F7B;
  --ds-color-info-base-active: #103160;
  --ds-color-info-base-contrast-subtle: #DFEEF6;
  --ds-color-info-base-contrast-default: #ffffff;
  --ds-color-warning-background-default: #FAF7F4;
  --ds-color-warning-background-tinted: #E3990B1F;
  --ds-color-warning-surface-default: #ffffff;
  --ds-color-warning-surface-tinted: #FFF3CF;
  --ds-color-warning-surface-hover: #FEECBE;
  --ds-color-warning-surface-active: #FDE5A5;
  --ds-color-warning-border-subtle: #7F433B26;
  --ds-color-warning-border-default: #7F433B;
  --ds-color-warning-border-strong: #572F28;
  --ds-color-warning-text-subtle: #7F433B;
  --ds-color-warning-text-default: #572F28;
  --ds-color-warning-base-default: #F9CC76;
  --ds-color-warning-base-hover: #F7BC4A;
  --ds-color-warning-base-active: #EEAB2B;
  --ds-color-warning-base-contrast-subtle: #572F28;
  --ds-color-warning-base-contrast-default: #1E1A28;
  --ds-color-focus-inner: #ffffff;
  --ds-color-focus-outer: #3D3D3D;
  --ds-color-charts-chart-a: #116e6b;
  --ds-color-charts-chart-b: #cae8ca;
  --ds-color-charts-chart-c: #b6d9f2;
  --ds-color-charts-chart-d: #feecbe;
  --ds-color-charts-chart-e: #fdd2c9;
  --ds-link-color-visited: #663299;

  color-scheme: light;
}

}

}

@layer ds.theme.size {
:root, [data-size] {
  --ds-size-base: 18;
  --ds-size-step: 4;

  --ds-size-0: calc(var(--ds-size-unit) * 0);
  --ds-size-1: calc(var(--ds-size-unit) * 1);
  --ds-size-2: calc(var(--ds-size-unit) * 2);
  --ds-size-3: calc(var(--ds-size-unit) * 3);
  --ds-size-4: calc(var(--ds-size-unit) * 4);
  --ds-size-5: calc(var(--ds-size-unit) * 5);
  --ds-size-6: calc(var(--ds-size-unit) * 6);
  --ds-size-7: calc(var(--ds-size-unit) * 7);
  --ds-size-8: calc(var(--ds-size-unit) * 8);
  --ds-size-9: calc(var(--ds-size-unit) * 9);
  --ds-size-10: calc(var(--ds-size-unit) * 10);
  --ds-size-11: calc(var(--ds-size-unit) * 11);
  --ds-size-12: calc(var(--ds-size-unit) * 12);
  --ds-size-13: calc(var(--ds-size-unit) * 13);
  --ds-size-14: calc(var(--ds-size-unit) * 14);
  --ds-size-15: calc(var(--ds-size-unit) * 15);
  --ds-size-18: calc(var(--ds-size-unit) * 18);
  --ds-size-22: calc(var(--ds-size-unit) * 22);
  --ds-size-26: calc(var(--ds-size-unit) * 26);
  --ds-size-30: calc(var(--ds-size-unit) * 30);
  --ds-size-unit: calc(1rem * var(--ds-size-step) / var(--ds-size-base) * var(--ds-size-mode-font-size));

  @supports (width: round(down, .1em, 1px)) {
    --ds-size-0: round(down, calc(var(--ds-size-unit) * 0), 1px);
    --ds-size-1: round(down, calc(var(--ds-size-unit) * 1), 1px);
    --ds-size-2: round(down, calc(var(--ds-size-unit) * 2), 1px);
    --ds-size-3: round(down, calc(var(--ds-size-unit) * 3), 1px);
    --ds-size-4: round(down, calc(var(--ds-size-unit) * 4), 1px);
    --ds-size-5: round(down, calc(var(--ds-size-unit) * 5), 1px);
    --ds-size-6: round(down, calc(var(--ds-size-unit) * 6), 1px);
    --ds-size-7: round(down, calc(var(--ds-size-unit) * 7), 1px);
    --ds-size-8: round(down, calc(var(--ds-size-unit) * 8), 1px);
    --ds-size-9: round(down, calc(var(--ds-size-unit) * 9), 1px);
    --ds-size-10: round(down, calc(var(--ds-size-unit) * 10), 1px);
    --ds-size-11: round(down, calc(var(--ds-size-unit) * 11), 1px);
    --ds-size-12: round(down, calc(var(--ds-size-unit) * 12), 1px);
    --ds-size-13: round(down, calc(var(--ds-size-unit) * 13), 1px);
    --ds-size-14: round(down, calc(var(--ds-size-unit) * 14), 1px);
    --ds-size-15: round(down, calc(var(--ds-size-unit) * 15), 1px);
    --ds-size-18: round(down, calc(var(--ds-size-unit) * 18), 1px);
    --ds-size-22: round(down, calc(var(--ds-size-unit) * 22), 1px);
    --ds-size-26: round(down, calc(var(--ds-size-unit) * 26), 1px);
    --ds-size-30: round(down, calc(var(--ds-size-unit) * 30), 1px);
  }
}

}

@layer ds.theme.semantic {
:root {
  --ds-font-weight-italic-style: italic;
  --ds-border-radius-base: 0.3125rem;
  --ds-border-radius-scale: 0.25rem;
  --ds-border-radius-sm: min(var(--ds-border-radius-base)*0.5,var(--ds-border-radius-scale));
  --ds-border-radius-md: min(var(--ds-border-radius-base),var(--ds-border-radius-scale)*2);
  --ds-border-radius-lg: min(var(--ds-border-radius-base)*2,var(--ds-border-radius-scale)*5);
  --ds-border-radius-xl: min(var(--ds-border-radius-base)*3,var(--ds-border-radius-scale)*7);
  --ds-border-radius-default: var(--ds-border-radius-base);
  --ds-border-radius-full: 624.9375rem;
  --ds-border-width-default: 1px;
  --ds-border-width-focus: 3px;
  --ds-shadow-xs: 0 0 1px 0 rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.12);
  --ds-shadow-sm: 0 0 1px 0 rgba(0,0,0,0.15), 0 1px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.1);
  --ds-shadow-md: 0 0 1px 0 rgba(0,0,0,0.14), 0 2px 4px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.12);
  --ds-shadow-lg: 0 0 1px 0 rgba(0,0,0,0.13), 0 3px 5px 0 rgba(0,0,0,0.13), 0 6px 12px 0 rgba(0,0,0,0.14);
  --ds-shadow-xl: 0 0 1px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.16), 0 12px 24px 0 rgba(0,0,0,0.16);
  --ds-opacity-disabled: 30%;
}

}

@layer ds.theme.color-scheme.dark {
[data-color-scheme="dark"] {
  --ds-color-primary-background-default: #081E21;
  --ds-color-primary-background-tinted: #FFFFFF0A;
  --ds-color-primary-surface-default: #152E32;
  --ds-color-primary-surface-tinted: #054341;
  --ds-color-primary-surface-hover: #06554B;
  --ds-color-primary-surface-active: #08685C;
  --ds-color-primary-border-subtle: #FFFFFF33;
  --ds-color-primary-border-default: #5E6E68;
  --ds-color-primary-border-strong: #68B096;
  --ds-color-primary-text-subtle: #A0C5B9;
  --ds-color-primary-text-default: #C2D4D6;
  --ds-color-primary-base-default: #68b096;
  --ds-color-primary-base-hover: #89C9B1;
  --ds-color-primary-base-active: #abe1cd;
  --ds-color-primary-base-contrast-subtle: #032C30;
  --ds-color-primary-base-contrast-default: #081E21;
  --ds-color-neutral-background-default: #151F21;
  --ds-color-neutral-background-tinted: #FFFFFF0A;
  --ds-color-neutral-surface-default: #1E282A;
  --ds-color-neutral-surface-tinted: #0D1E21;
  --ds-color-neutral-surface-hover: #2A3032;
  --ds-color-neutral-surface-active: #343B3C;
  --ds-color-neutral-border-subtle: #3A4244;
  --ds-color-neutral-border-default: #61686A;
  --ds-color-neutral-border-strong: #98A2A4;
  --ds-color-neutral-text-subtle: #98A2A4;
  --ds-color-neutral-text-default: #BBC2C3;
  --ds-color-neutral-base-default: #98A2A4;
  --ds-color-neutral-base-hover: #A6AEB0;
  --ds-color-neutral-base-active: #B3BBBC;
  --ds-color-neutral-base-contrast-subtle: #162224;
  --ds-color-neutral-base-contrast-default: #0B1B1E;
  --ds-color-inverted-background-default: #032C30;
  --ds-color-inverted-background-tinted: #FFFFFF0A;
  --ds-color-inverted-surface-default: #0E5856;
  --ds-color-inverted-surface-tinted: #106663;
  --ds-color-inverted-surface-hover: #13726F;
  --ds-color-inverted-surface-active: #13817D;
  --ds-color-inverted-border-subtle: #FFFFFF33;
  --ds-color-inverted-border-default: #5E807D;
  --ds-color-inverted-border-strong: #9BCAC2;
  --ds-color-inverted-text-subtle: #9BCAC2;
  --ds-color-inverted-text-default: #dee6e7;
  --ds-color-inverted-base-default: #9BCAC2;
  --ds-color-inverted-base-hover: #A8D1CA;
  --ds-color-inverted-base-active: #B6D8D2;
  --ds-color-inverted-base-contrast-subtle: #032C30;
  --ds-color-inverted-base-contrast-default: #081E21;
  --ds-color-success-background-default: #081E21;
  --ds-color-success-background-tinted: #00BD941A;
  --ds-color-success-surface-default: #152726;
  --ds-color-success-surface-tinted: #071B1D;
  --ds-color-success-surface-hover: #243638;
  --ds-color-success-surface-active: #2C4244;
  --ds-color-success-border-subtle: #39554F;
  --ds-color-success-border-default: #3E796D;
  --ds-color-success-border-strong: #68B096;
  --ds-color-success-text-subtle: #68B096;
  --ds-color-success-text-default: #7DE8C1;
  --ds-color-success-base-default: #68B096;
  --ds-color-success-base-hover: #79B9A2;
  --ds-color-success-base-active: #86C0AB;
  --ds-color-success-base-contrast-subtle: #1C2A2B;
  --ds-color-success-base-contrast-default: #071B1D;
  --ds-color-danger-background-default: #081E21;
  --ds-color-danger-background-tinted: #FF32321F;
  --ds-color-danger-surface-default: #272323;
  --ds-color-danger-surface-tinted: #1D1111;
  --ds-color-danger-surface-hover: #3A2222;
  --ds-color-danger-surface-active: #472929;
  --ds-color-danger-border-subtle: #623A39;
  --ds-color-danger-border-default: #A84A48;
  --ds-color-danger-border-strong: #E76C6A;
  --ds-color-danger-text-subtle: #E76C6A;
  --ds-color-danger-text-default: #ff9694;
  --ds-color-danger-base-default: #E76C6A;
  --ds-color-danger-base-hover: #EA7D7B;
  --ds-color-danger-base-active: #ED8E8D;
  --ds-color-danger-base-contrast-subtle: #2D1B1B;
  --ds-color-danger-base-contrast-default: #181010;
  --ds-color-info-background-default: #081E21;
  --ds-color-info-background-tinted: #0661ff1f;
  --ds-color-info-surface-default: #152832;
  --ds-color-info-surface-tinted: #0E1A20;
  --ds-color-info-surface-hover: #1F2C3D;
  --ds-color-info-surface-active: #26364A;
  --ds-color-info-border-subtle: #334F66;
  --ds-color-info-border-default: #265E8C;
  --ds-color-info-border-strong: #60ABD7;
  --ds-color-info-text-subtle: #60ABD7;
  --ds-color-info-text-default: #66C6FF;
  --ds-color-info-base-default: #60ABD7;
  --ds-color-info-base-hover: #78B8DD;
  --ds-color-info-base-active: #89C0E1;
  --ds-color-info-base-contrast-subtle: #18222F;
  --ds-color-info-base-contrast-default: #081321;
  --ds-color-warning-background-default: #081E21;
  --ds-color-warning-background-tinted: #FFDF0E0F;
  --ds-color-warning-surface-default: #212B1C;
  --ds-color-warning-surface-tinted: #1D1911;
  --ds-color-warning-surface-hover: #342C1D;
  --ds-color-warning-surface-active: #413725;
  --ds-color-warning-border-subtle: #5A4F33;
  --ds-color-warning-border-default: #7A652E;
  --ds-color-warning-border-strong: #E2C35A;
  --ds-color-warning-text-subtle: #E2C35A;
  --ds-color-warning-text-default: #f2d988;
  --ds-color-warning-base-default: #E2C35A;
  --ds-color-warning-base-hover: #E7CC74;
  --ds-color-warning-base-active: #EAD286;
  --ds-color-warning-base-contrast-subtle: #272116;
  --ds-color-warning-base-contrast-default: #1B160E;
  --ds-color-focus-inner: #151F21;
  --ds-color-focus-outer: #BBC2C3;
  --ds-color-charts-chart-a: #158E8A;
  --ds-color-charts-chart-b: #A9DAA9;
  --ds-color-charts-chart-c: #97C9EC;
  --ds-color-charts-chart-d: #FDD368;
  --ds-color-charts-chart-e: #FB9D89;
  --ds-link-color-visited: #b49acd;

  color-scheme: dark;
}
 
@media (prefers-color-scheme: dark) {
  [data-color-scheme="auto"] {
  --ds-color-primary-background-default: #081E21;
  --ds-color-primary-background-tinted: #FFFFFF0A;
  --ds-color-primary-surface-default: #152E32;
  --ds-color-primary-surface-tinted: #054341;
  --ds-color-primary-surface-hover: #06554B;
  --ds-color-primary-surface-active: #08685C;
  --ds-color-primary-border-subtle: #FFFFFF33;
  --ds-color-primary-border-default: #5E6E68;
  --ds-color-primary-border-strong: #68B096;
  --ds-color-primary-text-subtle: #A0C5B9;
  --ds-color-primary-text-default: #C2D4D6;
  --ds-color-primary-base-default: #68b096;
  --ds-color-primary-base-hover: #89C9B1;
  --ds-color-primary-base-active: #abe1cd;
  --ds-color-primary-base-contrast-subtle: #032C30;
  --ds-color-primary-base-contrast-default: #081E21;
  --ds-color-neutral-background-default: #151F21;
  --ds-color-neutral-background-tinted: #FFFFFF0A;
  --ds-color-neutral-surface-default: #1E282A;
  --ds-color-neutral-surface-tinted: #0D1E21;
  --ds-color-neutral-surface-hover: #2A3032;
  --ds-color-neutral-surface-active: #343B3C;
  --ds-color-neutral-border-subtle: #3A4244;
  --ds-color-neutral-border-default: #61686A;
  --ds-color-neutral-border-strong: #98A2A4;
  --ds-color-neutral-text-subtle: #98A2A4;
  --ds-color-neutral-text-default: #BBC2C3;
  --ds-color-neutral-base-default: #98A2A4;
  --ds-color-neutral-base-hover: #A6AEB0;
  --ds-color-neutral-base-active: #B3BBBC;
  --ds-color-neutral-base-contrast-subtle: #162224;
  --ds-color-neutral-base-contrast-default: #0B1B1E;
  --ds-color-inverted-background-default: #032C30;
  --ds-color-inverted-background-tinted: #FFFFFF0A;
  --ds-color-inverted-surface-default: #0E5856;
  --ds-color-inverted-surface-tinted: #106663;
  --ds-color-inverted-surface-hover: #13726F;
  --ds-color-inverted-surface-active: #13817D;
  --ds-color-inverted-border-subtle: #FFFFFF33;
  --ds-color-inverted-border-default: #5E807D;
  --ds-color-inverted-border-strong: #9BCAC2;
  --ds-color-inverted-text-subtle: #9BCAC2;
  --ds-color-inverted-text-default: #dee6e7;
  --ds-color-inverted-base-default: #9BCAC2;
  --ds-color-inverted-base-hover: #A8D1CA;
  --ds-color-inverted-base-active: #B6D8D2;
  --ds-color-inverted-base-contrast-subtle: #032C30;
  --ds-color-inverted-base-contrast-default: #081E21;
  --ds-color-success-background-default: #081E21;
  --ds-color-success-background-tinted: #00BD941A;
  --ds-color-success-surface-default: #152726;
  --ds-color-success-surface-tinted: #071B1D;
  --ds-color-success-surface-hover: #243638;
  --ds-color-success-surface-active: #2C4244;
  --ds-color-success-border-subtle: #39554F;
  --ds-color-success-border-default: #3E796D;
  --ds-color-success-border-strong: #68B096;
  --ds-color-success-text-subtle: #68B096;
  --ds-color-success-text-default: #7DE8C1;
  --ds-color-success-base-default: #68B096;
  --ds-color-success-base-hover: #79B9A2;
  --ds-color-success-base-active: #86C0AB;
  --ds-color-success-base-contrast-subtle: #1C2A2B;
  --ds-color-success-base-contrast-default: #071B1D;
  --ds-color-danger-background-default: #081E21;
  --ds-color-danger-background-tinted: #FF32321F;
  --ds-color-danger-surface-default: #272323;
  --ds-color-danger-surface-tinted: #1D1111;
  --ds-color-danger-surface-hover: #3A2222;
  --ds-color-danger-surface-active: #472929;
  --ds-color-danger-border-subtle: #623A39;
  --ds-color-danger-border-default: #A84A48;
  --ds-color-danger-border-strong: #E76C6A;
  --ds-color-danger-text-subtle: #E76C6A;
  --ds-color-danger-text-default: #ff9694;
  --ds-color-danger-base-default: #E76C6A;
  --ds-color-danger-base-hover: #EA7D7B;
  --ds-color-danger-base-active: #ED8E8D;
  --ds-color-danger-base-contrast-subtle: #2D1B1B;
  --ds-color-danger-base-contrast-default: #181010;
  --ds-color-info-background-default: #081E21;
  --ds-color-info-background-tinted: #0661ff1f;
  --ds-color-info-surface-default: #152832;
  --ds-color-info-surface-tinted: #0E1A20;
  --ds-color-info-surface-hover: #1F2C3D;
  --ds-color-info-surface-active: #26364A;
  --ds-color-info-border-subtle: #334F66;
  --ds-color-info-border-default: #265E8C;
  --ds-color-info-border-strong: #60ABD7;
  --ds-color-info-text-subtle: #60ABD7;
  --ds-color-info-text-default: #66C6FF;
  --ds-color-info-base-default: #60ABD7;
  --ds-color-info-base-hover: #78B8DD;
  --ds-color-info-base-active: #89C0E1;
  --ds-color-info-base-contrast-subtle: #18222F;
  --ds-color-info-base-contrast-default: #081321;
  --ds-color-warning-background-default: #081E21;
  --ds-color-warning-background-tinted: #FFDF0E0F;
  --ds-color-warning-surface-default: #212B1C;
  --ds-color-warning-surface-tinted: #1D1911;
  --ds-color-warning-surface-hover: #342C1D;
  --ds-color-warning-surface-active: #413725;
  --ds-color-warning-border-subtle: #5A4F33;
  --ds-color-warning-border-default: #7A652E;
  --ds-color-warning-border-strong: #E2C35A;
  --ds-color-warning-text-subtle: #E2C35A;
  --ds-color-warning-text-default: #f2d988;
  --ds-color-warning-base-default: #E2C35A;
  --ds-color-warning-base-hover: #E7CC74;
  --ds-color-warning-base-active: #EAD286;
  --ds-color-warning-base-contrast-subtle: #272116;
  --ds-color-warning-base-contrast-default: #1B160E;
  --ds-color-focus-inner: #151F21;
  --ds-color-focus-outer: #BBC2C3;
  --ds-color-charts-chart-a: #158E8A;
  --ds-color-charts-chart-b: #A9DAA9;
  --ds-color-charts-chart-c: #97C9EC;
  --ds-color-charts-chart-d: #FDD368;
  --ds-color-charts-chart-e: #FB9D89;
  --ds-link-color-visited: #b49acd;

  color-scheme: dark;
}

}

}

@layer ds.theme.color {
[data-color="danger"], [data-color-scheme][data-color="danger"] {
  --ds-color-background-default: var(--ds-color-danger-background-default);
  --ds-color-background-tinted: var(--ds-color-danger-background-tinted);
  --ds-color-surface-default: var(--ds-color-danger-surface-default);
  --ds-color-surface-tinted: var(--ds-color-danger-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-danger-surface-hover);
  --ds-color-surface-active: var(--ds-color-danger-surface-active);
  --ds-color-border-subtle: var(--ds-color-danger-border-subtle);
  --ds-color-border-default: var(--ds-color-danger-border-default);
  --ds-color-border-strong: var(--ds-color-danger-border-strong);
  --ds-color-text-subtle: var(--ds-color-danger-text-subtle);
  --ds-color-text-default: var(--ds-color-danger-text-default);
  --ds-color-base-default: var(--ds-color-danger-base-default);
  --ds-color-base-hover: var(--ds-color-danger-base-hover);
  --ds-color-base-active: var(--ds-color-danger-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-danger-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-danger-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="info"], [data-color-scheme][data-color="info"] {
  --ds-color-background-default: var(--ds-color-info-background-default);
  --ds-color-background-tinted: var(--ds-color-info-background-tinted);
  --ds-color-surface-default: var(--ds-color-info-surface-default);
  --ds-color-surface-tinted: var(--ds-color-info-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-info-surface-hover);
  --ds-color-surface-active: var(--ds-color-info-surface-active);
  --ds-color-border-subtle: var(--ds-color-info-border-subtle);
  --ds-color-border-default: var(--ds-color-info-border-default);
  --ds-color-border-strong: var(--ds-color-info-border-strong);
  --ds-color-text-subtle: var(--ds-color-info-text-subtle);
  --ds-color-text-default: var(--ds-color-info-text-default);
  --ds-color-base-default: var(--ds-color-info-base-default);
  --ds-color-base-hover: var(--ds-color-info-base-hover);
  --ds-color-base-active: var(--ds-color-info-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-info-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-info-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="neutral"], [data-color-scheme][data-color="neutral"] {
  --ds-color-background-default: var(--ds-color-neutral-background-default);
  --ds-color-background-tinted: var(--ds-color-neutral-background-tinted);
  --ds-color-surface-default: var(--ds-color-neutral-surface-default);
  --ds-color-surface-tinted: var(--ds-color-neutral-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-neutral-surface-hover);
  --ds-color-surface-active: var(--ds-color-neutral-surface-active);
  --ds-color-border-subtle: var(--ds-color-neutral-border-subtle);
  --ds-color-border-default: var(--ds-color-neutral-border-default);
  --ds-color-border-strong: var(--ds-color-neutral-border-strong);
  --ds-color-text-subtle: var(--ds-color-neutral-text-subtle);
  --ds-color-text-default: var(--ds-color-neutral-text-default);
  --ds-color-base-default: var(--ds-color-neutral-base-default);
  --ds-color-base-hover: var(--ds-color-neutral-base-hover);
  --ds-color-base-active: var(--ds-color-neutral-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-neutral-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-neutral-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="success"], [data-color-scheme][data-color="success"] {
  --ds-color-background-default: var(--ds-color-success-background-default);
  --ds-color-background-tinted: var(--ds-color-success-background-tinted);
  --ds-color-surface-default: var(--ds-color-success-surface-default);
  --ds-color-surface-tinted: var(--ds-color-success-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-success-surface-hover);
  --ds-color-surface-active: var(--ds-color-success-surface-active);
  --ds-color-border-subtle: var(--ds-color-success-border-subtle);
  --ds-color-border-default: var(--ds-color-success-border-default);
  --ds-color-border-strong: var(--ds-color-success-border-strong);
  --ds-color-text-subtle: var(--ds-color-success-text-subtle);
  --ds-color-text-default: var(--ds-color-success-text-default);
  --ds-color-base-default: var(--ds-color-success-base-default);
  --ds-color-base-hover: var(--ds-color-success-base-hover);
  --ds-color-base-active: var(--ds-color-success-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-success-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-success-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="warning"], [data-color-scheme][data-color="warning"] {
  --ds-color-background-default: var(--ds-color-warning-background-default);
  --ds-color-background-tinted: var(--ds-color-warning-background-tinted);
  --ds-color-surface-default: var(--ds-color-warning-surface-default);
  --ds-color-surface-tinted: var(--ds-color-warning-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-warning-surface-hover);
  --ds-color-surface-active: var(--ds-color-warning-surface-active);
  --ds-color-border-subtle: var(--ds-color-warning-border-subtle);
  --ds-color-border-default: var(--ds-color-warning-border-default);
  --ds-color-border-strong: var(--ds-color-warning-border-strong);
  --ds-color-text-subtle: var(--ds-color-warning-text-subtle);
  --ds-color-text-default: var(--ds-color-warning-text-default);
  --ds-color-base-default: var(--ds-color-warning-base-default);
  --ds-color-base-hover: var(--ds-color-warning-base-hover);
  --ds-color-base-active: var(--ds-color-warning-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-warning-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-warning-base-contrast-default);
}

}
