@layer mt.design {
	.modal {
		composes: ds-modal from "@digdir/designsystemet-css";

		/* Overwrite to same as tertiary from Designsystemet  */
		& > form[method="dialog"]:first-child > button:only-child {
			all: unset;
			border-radius: var(--ds-border-radius-md);
			cursor: pointer;
			float: right;
			transition: scale .2s;

			&:focus-visible {
				box-shadow: var(--ds--focus, var(--dsc-focus-boxShadow));
				outline-offset: var(--ds--focus, var(--dsc-focus-border-width));
				outline: var(--ds--focus, var(--dsc-focus-outline));
			}

			&:active {
				scale: 0.9;
			}
			&::before {
				background: currentcolor;
				box-sizing: border-box;
				content: "";
				display: block;
				height: var(--mtds-icon-size);
				mask: center / contain no-repeat var(--mtds-icon-close) content-box;
				position: relative;
				width: var(--mtds-icon-size);
			}
			&::after {
				content: "";
				position: absolute; /* Increase click surface */
				inset: -.5em;
			}
		}
	}
}
