@layer mt.design {
	.popover {
		composes: ds-popover from "@digdir/designsystemet-css";
		--dsc-popover-border-color: var(--ds-color-border-subtle);
		--dsc-popover-padding: var(--ds-size-5);
		--dsc-popover-arrow-size: 0;
		--_ds-floating: bottom;

		max-width: calc(100vw - 20px); /* Ensure not larger than window */
	}
	.popover[slot] {
		position: static; /* Let slot handle positioning - used in Atlas */
		max-width: 100%;
	}
	.popover:is(menu) {
		--dsc-popover-padding: var(--ds-size-2);
		padding: var(--dsc-popover-padding);
	}
	[data-popover="inline"] + .popover {
		max-width: 35ch;
	}
}
