@layer mt.design {
	.popover {
		--mtds-popover-padding: var(--ds-size-5);

		background: white;
		border-radius: 5px;
		border: 0;
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		inset: auto;
		list-style: none;
		margin: -2px 0 0;
		max-width: calc(100vw - 20px); /* Ensure not larger than window */
		opacity: 0;
		padding: var(--mtds-popover-padding);
		position: fixed;
		transition-duration: .2s;
		transition-property: opacity, margin, visibility;
		visibility: hidden;

		&:not([hidden]) {
			display: block;
		}

		&:popover-open {
			margin: 0;
			opacity: 1;
			visibility: visible;
		}

		&:is(menu),
		&:has(> menu:only-child) {
			--mtds-popover-padding: var(--ds-size-3);
		}
		&:is(menu) > li > hr {
			border: 0;
			margin: var(--ds-size-2) 0;
			border-top: 1px solid var(--mtds-color-200);
		}
	}
}
