@layer mt.design {
	.spinner {
		--mtdsc-spinner-color: inherit;
		--mtdsc-spinner-size: var(--mtds-11);

		color: var(--mtdsc-spinner-color);
		gap: var(--ds-size-2);
		place-items: center;
		vertical-align: middle;

		&:where(:not([hidden])) {
			display: inline-grid;
		}
	}
	.spinner::before {
		background: currentcolor;
		content: "";
		font-size: var(--mtdsc-spinner-size);
		height: 1em;
		mask: center / contain no-repeat var(--mtds-icon-spinner);
		overflow: clip;
		white-space: nowrap;
		width: 1em;
	}
	.spinner:empty:before {
		content: var(--mtds-text-loading); /* Ensure content for screen readers */
	}
	.spinner[data-size="xs"]::before {
		--mtdsc-spinner-size: var(--mtds-5);
	}
	.spinner[data-size="sm"]::before {
		--mtdsc-spinner-size: var(--mtds-7);
	}
	.spinner[data-size="lg"]::before {
		--mtdsc-spinner-size: var(--mtds-15);
	}
	.spinner[data-state="complete"]::before {
		mask-image: var(--mtds-icon-spinner--complete);
	}
}
